<div id="ajax-get-step-second-second">
<?
	$designData = $this->designData;
	$designDesigns = $this->designDesigns;
	$roomList = $this->roomList;
?>

	<form enctype="application/x-www-form-urlencoded" class="step2-2" action="/profile/design/save/second" method="post" novalidate="novalidate">
		<div id="creat-project" class="block creat-project">
			<div class="project_name"><input type="" name="required designName" placeholder="Введите название проекта" value="<?=$designData->NAME?>"/></div>
			<div class="wrap-data">
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Описание проекта</label></div>
					<div class="col-xs-10 col-sm-10 col-md-10">
						<textarea name="detailDesignDescription" id="designDescription" class="required materialize-textarea" rows="7" maxlength="1024" cols="80"><?=$designData->DETAIL_TEXT?></textarea>
						<span class="disc-message"><span class="alien">Например:</span> Нестандартное дизайнерское решение разместить в зоне эркера необычные кресла насыщенного желтого цвета было с энтузиазмом принято заказчиком.</span>
						<span class="js-error error-message"></span>
					</div>
				</div>
			</div>
			<div class="wrap-data">
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Главная картинка дизайн-проекта</label></div>
					<div class="col-xs-10 col-sm-10 col-md-10">
						<div class="input-row">
							<div class="upload-area js-add-main-image inline  dropzoneArea dz-clickable preloaderController">																	
								<?if($designData->DETAIL_PICTURE){?>
									<div class="dz-default-img" data-value-id="" style="background-image: url('<?=$designData->DETAIL_PICTURE?>')"><div class="js-del-item del-icon"></div><div class="js-pin-item pin-icon"></div></div>
								<?}else{?>
									<div class="js-dz-text text">Перетащите изображение в эту область для его загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div>						
								<?}?>
								<div class="hint">Вы можете загружать файлы форматов jpg, png, jpeg, gif, bmp <br/>Размер файла не должен превышать 5 Мб</div>		
								<input type="text" class="required casper file" name="file" value="<?if($designData->DETAIL_PICTURE){echo true;};?>"/>
							</div>
							<span class="js-error error-message"></span>
						</div>								
					</div>
				</div>
			</div>						
		</div>
		<div id="price-project" class="block price-project">
			<p class="total-price">Стоимость дизайн-проекта итого: <?if($designData->PRICE['PRICE']){?><span class="val price"><?=$designData->PRICE['PRICE']?></span><?}else{?><span class="val">Бесплатно</span><?}?></p>
			<div class="list-project">	
				<?foreach($designDesigns as $design){?>
					<div class="row block edit-block js-room-project">
						
							<input type="hidden" class="roomId" name="roomId" value="<?=$design->ROOM->ID?>"/>
							<input type="hidden" class="designId" name="designId" value="<?=$design->ID?>"/>
							<input type="hidden" class="area" name="area" value="<?=$design->PROPERTY_AREA_VALUE?>"/>
							<div class="row">
								<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data"><?if($design->NAME){echo $design->NAME;}else{echo 'Дизайн проект';};?></label></div>
								<div class="col-xs-3 col-sm-3 col-md-3">
									<div class="input-out price price-design-room"><input type="text" class="price" name="priceProject" disabled value="<?=$design->PRICES['PRICE']?>"></div>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div class="edit-project js-edit-project">
										<a href="">Редактировать</a>
									</div>
								</div>
							</div>		
							<div class="edit-block-inner">												
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Стоимость дизайн-проекта за 1м&#178;</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price js-input-price-square" name="priceSquare" value="<?=$design->PROPERTY_PRICE_SQUARE_VALUE?>"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Мебель</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price" name="priceFurniture" value="<?=$design->PROPERTY_PRICE_FURNITURE_VALUE?>">
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Сантехника</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price" name="pricePlumbing" value="<?=$design->PROPERTY_PRICE_PLUMBING_VALUE?>">
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Свет</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price" name="priceLight" value="<?=$design->PROPERTY_PRICE_LIGHT_VALUE?>">
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Электроника</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price" name="priceElectronics" value="<?=$design->PROPERTY_PRICE_ELECTRONICS_VALUE?>">
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="wrap-data">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Материалы</label></div>
										<div class="col-xs-3 col-sm-3 col-md-3">
											<div class="input-out price">
												<input type="text" class="required number price" name="priceMaterials" value="<?=$design->PROPERTY_PRICE_MATERIALS_VALUE?>"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
								</div>								
							</div>
					</div>					
				<?}?>
			</div>
		</div>
		<a href="/profile/design" id="save-your-life" class="check blue waves-effect js-save-your-life"></a>
	</form>
</div>