<?php
	$item = $this->item;
	$itemId = $this->itemId;
	$design_list = $this->design_list;
	$product_list = $this->product_list;
	$ch_categories = $this->ch_categories;
	$json_trade_offer = json_encode($this->trade_offer[$itemId]);
?>

<!--<form action="https://demomoney.yandex.ru/eshop.xml" method="post">
<!-- Обязательные поля -->
<!--<input name="shopId" value="151" type="hidden"/>
<input name="scid" value="363" type="hidden"/>
<input name="customerNumber" value="100500"/>
<input name="sum" value="100">
Способ оплаты:<br>
<input name="paymentType" value="PC" type="radio">Оплата из кошелька в Яндекс.Деньгах<br>
<input name="paymentType" value="AC" type="radio">Оплата с произвольной банковской карты<br>
<input name="paymentType" value="GP" type="radio">Оплата наличными через кассы и терминалы<br><br>
<input type="submit" value="Заплатить"/>
</form>-->




<?/*if(CModule::IncludeModule("sale"))
{ 

	Zend_Registry::get('BX_APPLICATION')->IncludeComponent("bitrix:sale.order.ajax","",
		Array(
			"ADDITIONAL_PICT_PROP_8" => "-",
			"ALLOW_AUTO_REGISTER" => "N",
			"ALLOW_NEW_PROFILE" => "Y",
			"ALLOW_USER_PROFILES" => "Y",
			"BASKET_IMAGES_SCALING" => "standard",
			"BASKET_POSITION" => "after",
			"COMPATIBLE_MODE" => "Y",
			"DELIVERIES_PER_PAGE" => "8",
			"DELIVERY_FADE_EXTRA_SERVICES" => "Y",
			"DELIVERY_NO_AJAX" => "Y",
			"DELIVERY_NO_SESSION" => "Y",
			"DELIVERY_TO_PAYSYSTEM" => "d2p",
			"DISABLE_BASKET_REDIRECT" => "N",
			"MESS_DELIVERY_CALC_ERROR_TEXT" => "Вы можете продолжить оформление заказа, а чуть позже менеджер магазина свяжется с вами и уточнит информацию по доставке.",
			"MESS_DELIVERY_CALC_ERROR_TITLE" => "Не удалось рассчитать стоимость доставки.",
			"MESS_FAIL_PRELOAD_TEXT" => "Вы заказывали в нашем интернет-магазине, поэтому мы заполнили все данные автоматически. Обратите внимание на развернутый блок с информацией о заказе. Здесь вы можете внести необходимые изменения или оставить как есть и нажать кнопку \"#ORDER_BUTTON#\".",
			"MESS_SUCCESS_PRELOAD_TEXT" => "Вы заказывали в нашем интернет-магазине, поэтому мы заполнили все данные автоматически. Если все заполнено верно, нажмите кнопку \"#ORDER_BUTTON#\".",
			"ONLY_FULL_PAY_FROM_ACCOUNT" => "N",
			"PATH_TO_AUTH" => "/auth/",
			"PATH_TO_BASKET" => "/basket/",
			"PATH_TO_PAYMENT" => "payment.php",
			"PATH_TO_PERSONAL" => "index.php",
			"PAY_FROM_ACCOUNT" => "Y",
			"PAY_SYSTEMS_PER_PAGE" => "8",
			"PICKUPS_PER_PAGE" => "5",
			"PRODUCT_COLUMNS_HIDDEN" => array("PROPERTY_MATERIAL"),
			"PRODUCT_COLUMNS_VISIBLE" => array("PREVIEW_PICTURE","PROPS"),
			"PROPS_FADE_LIST_1" => array("17","19"),
			"SEND_NEW_USER_NOTIFY" => "Y",
			"SERVICES_IMAGES_SCALING" => "standard",
			"SET_TITLE" => "Y",
			"SHOW_BASKET_HEADERS" => "N",
			"SHOW_COUPONS_BASKET" => "Y",
			"SHOW_COUPONS_DELIVERY" => "Y",
			"SHOW_COUPONS_PAY_SYSTEM" => "Y",
			"SHOW_DELIVERY_INFO_NAME" => "Y",
			"SHOW_DELIVERY_LIST_NAMES" => "Y",
			"SHOW_DELIVERY_PARENT_NAMES" => "Y",
			"SHOW_MAP_IN_PROPS" => "N",
			"SHOW_NEAREST_PICKUP" => "N",
			"SHOW_ORDER_BUTTON" => "final_step",
			"SHOW_PAY_SYSTEM_INFO_NAME" => "Y",
			"SHOW_PAY_SYSTEM_LIST_NAMES" => "Y",
			"SHOW_STORES_IMAGES" => "Y",
			"SHOW_TOTAL_ORDER_BUTTON" => "Y",
			"SKIP_USELESS_BLOCK" => "Y",
			"TEMPLATE_LOCATION" => "popup",
			"TEMPLATE_THEME" => "site",
			"USE_CUSTOM_ADDITIONAL_MESSAGES" => "N",
			"USE_CUSTOM_ERROR_MESSAGES" => "Y",
			"USE_CUSTOM_MAIN_MESSAGES" => "N",
			"USE_PREPAYMENT" => "N",
			"USE_YM_GOALS" => "N"
		)
	);
} 

*/?>



<!--<div id="json_trade_offer" style="display:none"><?//echo $json_trade_offer?></div>
<div id="price_item" style="display:none"><?//=$item->PROPERTY_PRICE_VALUE?></div>
<div id="discount" style="display:none"><?//if(isset($item->DISCOUNT)){echo $item->DISCOUNT['VALUE'];}else{echo '0';};?></div>
<div id="B_PRICE" style="display:none;"><?//=$item->PROPERTY_PRICE_VALUE?></div>-->

<link href="local/css/marketplace.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/local/js/controllers/page/shop.js"></script>
<div id="shop">
	<div class="card_product">
		<div class="content-container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="main_picture"><a rel="group" class="gallery" href="<?=$item->DETAIL_PICTURE['SRC']?>"><img src="<?=$item->DETAIL_PICTURE_RESIZE?>"/></a></div>
					<div class="previews">
					<?foreach($item->PROPERTY_PREVIEW_VALUE as $preview){?>
						<div class="preview"><a rel="group" class="gallery" href="<?=$preview['SRC']?>"><img src="<?=$preview['RESIZE']?>"/></a></div>					
					<?}?>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="data-product">
						<div class="card_product">
							<div class="product_top">
								<div class="crumbs">
									<a href="/shop">Главная</a>
									<?$i = 0;
										foreach($ch_categories as $cat){
											if($cat->CODE){
												$catId = $cat->CODE;
											}
											else{
												$catId = $cat->ID;
											}
									?>
										<a class="arrow" href="/shop/<?echo $catId;?>"><?=$cat->NAME?></a>
									<?	
										$i+=1;
										};
									?>
								</div>
								<h1 class="pageTitle"><?=$item->NAME?></h1>
								<!--in_stock, not_stock-->
								<?if($item->AMOUNT <= 0){
									$class_status = 'not_stock';
									$text_status = 'нет в наличии';
								}
								else{
									$class_status = 'in_stock';
									$text_status = 'в наличии';
								};
								?>
								<div class="status_product"><span class="<?=$class_status?>"><?=$text_status?></span></div><div class="delivery">Доставка за 3 дня!</div>
							</div>
							<div class="product_card">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="product-card__price-header">Стоимость:</div>
										<?if(isset($item->DISCOUNT)){?>
											<div class="product-card__price-value"><?=number_format($item->DISCOUNT['NEW_PRICE_VALUE'])?></div>
											<div class="product-card__price-old">Старая цена: <span class="value"><?=number_format($item->PRICES['PRICE'])?></span></div>
										<?}
										else{
										?>
											<div class="product-card__price-value"><?if($item->PRICES['PRICE'] > 0){echo number_format($item->PRICES['PRICE']).'<span class="ruble2"></span>';}else{echo 'На заказ';};?></div>
										<?}?>
										
										<?
											if($item->IS_IN_BASKET){
												$class_basket = 'is_in_basket';
												$text_basket = 'В корзине';
											}
											else{
												$class_basket = 'js-add-basket';
												$text_basket = 'Купить';
											}
										?>
										<div class="product-card__buy"><a href="#order-popup" class="btn buy basket <?=$class_basket?>" data-offer="N" data-element-id="<?=$item->ID?>"><?=$text_basket?></a></div>
										<div class="product-card__buy_in_credit"><a href="#order-popup" class="buy_in_credit js-fancybox fancyboxLink">Купить в кредит</a></div>
										<div class="product-card__buy_in_credit_price"><a class="buy_in_credit">Кредит на 12 мес.:<span class="value"><?echo number_format(2374)?></span></a></div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="characters">
											<div class="character product-card__length">Длина ..................... <?=$item->SIZE['LENGTH']?> мм</div>
											<div class="character product-card__width">Ширина .................. <?=$item->SIZE['WIDTH']?> мм</div>
											<div class="character product-card__height">Высота ................... <?=$item->SIZE['HEIGHT']?> мм</div>
											<?if(count($item->PROPERTY_STYLE_VALUE) > 0){?>
												<div class="character product-card__style hide">Стиль 	<?foreach($item->PROPERTY_STYLE_VALUE as $style){?>
																											<span class="arrow_prop"><?=$style?></span>
																										<?}?>
												</div>
											<?}?>
											<?if(count($item->PROPERTY_COLOR_VALUE) > 0){?>
												<div class="character product-card__color hide">Цвет 
													<?foreach($item->PROPERTY_COLOR_VALUE as $color){?>
														<div class="product-card__color_value" style="background:<?=$color['UF_HEX']?>" title="<?=$color['UF_NAME']?>"></div>
													<?}?>
												</div>
											<?}?>
											<?if(count($item->PROPERTY_MATERIAL_VALUE) > 0){?>
												<div class="character product-card__material hide">Материал <?foreach($item->PROPERTY_MATERIAL_VALUE as $material){?>
													<span class="arrow_prop"><?=$material?></span>
												<?}?>
												</div>
											<?}?>
										</div>
										<div class="character product-card__all_characteristics js-show-all-characteristics">Все характеристики</div>
										<div class="product-favourite">
										<? if($item->IS_IN_FAVOURITE){ 
											$class_favourite = 'my-favourite';
										 }
										else{
											$class_favourite = '';
										}?>
											<a href="javascript:void(0)" class="to-favourite js-add-favourite <?=$class_favourite?>" data-description="Добавить в избранное" data-element-id="<?if($item->CODE){echo $item->CODE;}else{echo $item->ID;};?>">Избранное</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-container product">
		<div id="pop" class="list-goods">
			<h2>Популярные товары</h2>
			<?= $this->render('shop/shop-pop-list.phtml') ?>
		</div>		
		
		<?if(count($design_list->items) > 0){?>
			<h2>Наличие в дизайн-проектах</h2>		
			<div class="design-list">
				<div class="row">
				<?foreach($design_list->items as $design){
					echo $this->partial("shop/partials/design-item.phtml", ["design" => $design, "profile" => false]);
				}?>
				</div>
				<div class="clearfix"></div>
			</div>
		<?};?>   
	</div>
	<?= $this->render('shop/shop-my-show-list.phtml') ?>  
</div>
<div class="popups">
	<div class="popup order-popup" id="order-popup">
		<?= new Sibirix_Form_OrderItem($itemId); ?>
	</div>
</div>
<script type="text/javascript">
    /*function Voter(options) {
      var elem = options.elem;

      var voteElem = elem.querySelector('.vote');

      elem.onclick = function(event) {
        // сам обработчик не меняет голос, он вызывает функцию
        if (event.target.closest('.down')) {
			
			if(voteElem.innerHTML > 1){
				voteDecrease();
			};
        } else if (event.target.closest('.up')) {
          voteIncrease();
        }
		$('#count').val(voteElem.innerHTML);
      }

      elem.onmousedown = function() {
        return false;
      };

      // ----------- методы -------------

      function voteDecrease() {
        voteElem.innerHTML = +voteElem.innerHTML - 1;
      }

      function voteIncrease() {
        voteElem.innerHTML = +voteElem.innerHTML + 1;
      }

      this.setVote = function(vote) {
        voteElem.innerHTML = +vote;
      };

    }

    var voter = new Voter({
      elem: document.getElementById('voter')
    });
    voter.setVote(1);*/
</script>











