
<h1>Ошибка при проведении оплаты</h1>

<div class="content-container clearfix js-basket-content">

    <div class="basket-empty">
        <h3>К сожалению, оплата не была проведена</h3>
        <p class="text">Попробуйте повторить ваш заказ.</p>
    </div>
</div>