<div class="shop-detail">
	<? foreach ($this->product_list_view->items as $item){
			echo $this->partial("shop/partials/shop-item-discount.phtml", ["item" => $item, "designer" => true]);
		} 
	?>
</div>
<div class="clear"></div>