<?if(count($this->product_list_view->items) > 0){?>
	<div class="alien-bn">
		<div class="content-container">
			<div class="product">
				<div class="my-show-goods">
					<div class="list-goods">
						<h2>Вы смотрели</h2>
						<?= $this->render('shop/shop-my-show-list.ajax.phtml') ?>
					</div>
				</div>
			</div>
		</div>
	</div>
<?}?>
