<?
    $complex = $this->complex;
	$ARR_HOUSE = $this->house;
?>
<div class="detail-title-block">
<!--    <a href="javascript:void(0)" class="favourite"></a> TODO: избранное -->
    <? if ($complex->PROPERTY_DESIGN_CNT_VALUE > 0) { ?>
        <a href="<?= EZendManager::url([], 'design-list'); ?>?complexId=<?= $complex->ID ?>" class="projects-cnt"><?= $complex->PROPERTY_DESIGN_CNT_VALUE ?></a>
    <? } ?>
	<div class="bread_crumbs">
		<a href="<?= $this->url(['builder_id' => $complex->BUILDER_CODE], 'builder-detail') ?>" class="category">Застройщик: <span class="val"><?= $complex->PROPERTY_CONSTRUCTOR_VALUE ?></span></a>
	</div>
    <div class="project-about">
        <h1 class="title"><?= $complex->NAME ?></h1>
        <div class="description">
            <div class="about">
                <?= $complex->DETAIL_TEXT ?>
            </div>
        </div>
    </div>
</div>
<?/*if(!empty($complex->PHOTO_COMPLEX)){?>
<div class="gallery gallery-slider gallery-loaded">
	<ul class="slides">
	<?foreach($complex->PHOTO_COMPLEX as $photo){?>
		<li class="flex-active-slide" style=" width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
			<div class="gallery-img-wrap">
				<noscript>&lt;a href="<?=$photo?>"&gt;&lt;img alt="" src="<?=$photo?>" /&gt;&lt;/a&gt;</noscript>
				<!--noindex-->
				<img alt="" src="<?=$photo?>" draggable="false">
				<div class="gallery-item-btns">
					<a class="ga-send_photo_post btn-send" href="mailto:вашдруг@email.com?body=%D0%9C%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BD%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%D1%81%D1%8C%20%D1%84%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F%20%D0%BD%D0%B0%20inmyroom.ru%20-%20http%3A%2F%2Finmyroom.ru%2Fphotos%2Fshow%2F1384953&amp;subject=%D0%A4%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F%20-%20%20-%20inmyroom.ru"></a>
					<div class="btn-print btn-shot ga-print_photo_post" data-role="single-photo-print"></div>
				</div>
			</div>

			<a class="gallery-item-left"></a>
			<a class="gallery-item-right"></a>
		</li>
	<?}?>
	</ul>
	<ul class="flex-direction-nav">
		<li>
			<a class="flex-prev" href="#">Previous</a>
		</li>
		<li>
			<a class="flex-next" href="#">Next</a>
		</li>
	</ul>
	<div class="flex-counter">
		
	</div>
</div>
<?}*/?>

  <div class="row" id="room-1" style="background-color: #fafafa;">
    <div class="col-md-12">
      <div class="content-container">
        <div class="row">
          <!-- room images slider -->
          <div class="col-md-12">
            <?php if (count($complex->PHOTO_COMPLEX) > 1): ?>
            <div class="row" style="padding: 20px 0 20px 0;">
              <div class="col-md-12">
                <div style="margin: auto; width: 142px;">
                  <div class="bxslider-room-control bxslider-room-control-prev" id="bxslider-room-1-prev" style="float: left;"></div>
                  <span id="bxslider-room-1-pager" style="float: left; font: 500 15px 'Fira Sans',sans-serif; line-height: 18px; margin: 0 20px 0 20px;"></span>
                  <div class="bxslider-room-control bxslider-room-control-next" id="bxslider-room-1-next" style="float: left;"></div>
                </div>
              </div>
            </div>
            <?php endif; ?>
            <div class="row">
              <div class="col-md-12">
                <ul id="bxslider-room-1">
                <?php foreach ($complex->PHOTO_COMPLEX as $roomImage): ?>
                  <li><img src="<?php echo $roomImage['SRC'] ?>"></li>
                <?php endforeach; ?>
                </ul>
              </div>
            </div>
          </div>
          <!-- end room prices -->
        </div>
      </div>
    </div>
  </div>









<? if (!empty($complex->HOUSES)) { ?>
<div class="js-complex-detail-nav">
	<div class="location-block">
		<h2 class="sub-title">Выберите дом</h2>
		<ul class="navi">
			<li><a href="/#house-block" class="linkblock selected" data-for="house-block">Поиск по адресу</a></li>
			<li><a href="/#map-block" class="linkblock" data-for="map-block">Дома на карте</a></li>
		</ul>
	</div>
	<div class="bns">
		<div id="house-block" class="block house-block">
			<ul class="houses js-house-block">
				<?foreach($complex->HOUSES as $house){?>
				<li class="house" data-id="<?=$house->ID?>" data-location="<?=$house->PROPERTY_STREET_VALUE .','.$house->PROPERTY_HOUSE_NUMBER_VALUE?>">
					<h2><?echo $house->PROPERTY_STREET_VALUE .' , '.
						$house->PROPERTY_HOUSE_NUMBER_VALUE  .' | '.
						$house->PROPERTY_FLOOR_CNT_VALUE 	. EHelper::getWordForm($house->PROPERTY_FLOOR_CNT_VALUE, [" этаж", " этажа", " этажей"]).' | '.
						$house->PROPERTY_ENTRANCE_CNT_VALUE . EHelper::getWordForm($house->PROPERTY_ENTRANCE_CNT_VALUE, [" подъезд", " подъезда", " подъездов"])?>
					</h2>
					<!--<ul class="list-prop"> <!-- Alter ID accordingly -->
						<!--<li><span>Статус: </span><span class="val"><?=$house->PROPERTY_STATUS_VALUE?></span></li>
						<li>6-комнатных квартир:<span class="val">12</span></li>
						<li>5-комнатных квартир:<span class="val">13</span></li>
						<li>4-комнатных квартир:<span class="val">14</span></li>
						<li>3-комнатных квартир:<span class="val">15</span></li>
						<li>2-комнатных квартир:<span class="val">16</span></li>
						<li>1-комнатных квартир:<span class="val">17</span></li>
					</ul>-->
					<div class="list-prop">
						<p><span>Статус: </span><span class="val"><?=$house->PROPERTY_STATUS_VALUE?></p>
						<?//=$house->PREVIEW_TEXT?>
					</div>
				</li>
				<?}?>
			</ul>			
		</div>
		
		<? if(empty($complex->PROPERTY_API_VALUE)){ ?>
			<div id="map-block" class="block map-block disabled" style="width:1200px;margin:0 auto;">
				<div class="plan active">
					<img style="display:block;margin:0 auto;width:100%;" src="<?=$complex->PROPERTY_COMPLEX_PLAN_VALUE?>"/>
					<?foreach($complex->HOUSES as $house){
				
						$coord = explode(',', $house->PROPERTY_COORDS_VALUE);
						$x = $coord[0];
						$y = $coord[1];
					?>
						<div class="pin js-pin" data-id="<?=$house->ID?>" style="left:<?=($x * 2.5)?>px;top:<?=($y * 2.5)?>px;">
							<div class="point">
								<a class="complex-big-point"><?=$house->PROPERTY_HOUSE_NUMBER_VALUE?></a>
								<div class="window">
									<div class="top">
										<h2><?=$house->PROPERTY_STREET_VALUE?>, <?=$house->PROPERTY_HOUSE_NUMBER_VALUE?></h2>
										<p><span class="prop">Этап строительства</span> <span class="val"><?=$house->PROPERTY_STATUS_VALUE?></span></p>
									</div>
									<div class="bottom">
										<p><span class="prop">1-комнатных квартир</span><span class="val"><?=count($house->FLATS['ONE_ROOMS'])?></span></p>
										<p><span class="prop">2-комнатных квартир</span><span class="val"><?=count($house->FLATS['TWO_ROOMS'])?></span></p>
										<p><span class="prop">3-комнатных квартир</span><span class="val"><?=count($house->FLATS['THREE_ROOMS'])?></span></p>
										<p><span class="prop">4-комнатных квартир</span><span class="val"><?=count($house->FLATS['FOUR_ROOMS'])?></span></p>
										<div class="list-prop">
											<?=$house->PREVIEW_TEXT?>
										</div>
									</div>
								</div>
							</div>
						</div>
					<?}?>
				</div>
			</div>
		<?}else{?>
			<div class="map-block" class="block map-block disabled">
				<div id="map" style="width:100%; height: 700px" class="map js-map"></div>
				<div class="content-container">
					<div class="map-info" style="display:none;">
						<? $slides = array_chunk($complex->HOUSES, MAX_HOUSE_IN_SLIDE)?>
						<div class="building-slider<?= (count($slides) > 1)?' js-building-slider':''?>">
							<? foreach ($slides as $ind_slide => $slide) { ?>
								<div class="slide" data-index="<?= $ind_slide ?>">
									<? foreach ($slide as $ind => $item) { ?>
										<div class="building js-item<?= ($ind == 0 && $ind_slide == 0)?' active':'' ?>" data-house-street="<?=$item->PROPERTY_STREET_VALUE?>" data-house-number="<?=$item->PROPERTY_HOUSE_NUMBER_VALUE?>" data-map-position="<?= $item->PROPERTY_MAP_POSITION ?>" data-house-id="<?= $item->ID ?>">
											<div class="title">
												<span><?= $item->getAddress() ?></span> <?= $item->PROPERTY_FLOOR_CNT ?> этажей, <?= $item->PROPERTY_ENTRANCE_CNT ?> подъезда
											</div>
											<div class="detail js-detail">
												<ul class="features js-features">
													<li class="status"><div class="left">Статус</div><div class="right"><?= $item->PROPERTY_STATUS_VALUE ?></div></li>
													<?  if ($ind == 0) {
														foreach ($complex->FIRST_HOUSE_FLATS as $ind => $flat) { ?>
														<li><div class="left"><?= $flat->PROPERTY_ROOM_CNT ?>-комнатных квартир</div><div class="right"><?= $flat->CNT ?></div></li>
													<?  }
													} ?>
												</ul>
												<? if ($item->PROPERTY_PLAN_VALUE) {?>
													<a href="<?= $item->PROPERTY_PLAN_VALUE['SRC'] ?>" download class="plan under-link">Планировка дома</a>
												<? } ?>
											</div>
										</div>
									<? } ?>
								</div>
							<? } ?>
						</div>
					</div>
				</div>
			</div>
		<?}?>

		
		
	</div>
</div>
<? } ?>

<div class="content-plan-block <?if($this->planList->pageData->totalItemsCount <= 0){echo 'disabled';};?>">
<div class="content-container">
	<div class="apartments-block">
	<?if(!empty($ARR_HOUSE)){?>
		<h2 class="sub-title js-dynamic-title">Выберите квартиру по адресу <span id="address_flat"><?=$ARR_HOUSE->PROPERTY_STREET_VALUE . ' , ' .$ARR_HOUSE->PROPERTY_HOUSE_NUMBER_VALUE?></span></h2>
	<?}
	else{?>
		<h2 class="sub-title js-dynamic-title"></h2>
	<?}?>
		<div class="out_filter" id="filter_plan">
			<div class="js-show-hidden-filter btn_for_filter open"></div>
			<form enctype="application/x-www-form-urlencoded" class="js-filter-form filter_project filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
				<label for="">Количество комнат:</label>
				<input type="hidden" name="countRoom" id="countRoom" class="js-count-room js-filter" value="">
				<input type="hidden" name="options" id="optionsPlan" value="">
				<input type="hidden" name="designs" id="designsPlan" value="">
				<input type="hidden" name="page" id="page" value="">
				<input type="hidden" name="id_house" id="id_house" value=""/>
				<div class="data room js-select-room">
					<ul>
						<li><a class="first room" data-value="1 " href="">1</a></li>
						<li><a class="room" data-value="2" href="">2</a></li>
						<li><a class="room" data-value="3" href="">3</a></li>
						<li><a class="room" data-value="4" href="">4</a></li>
						<li><a class="room" data-value="5" href="">5</a></li>
						<li><a data-value="6" class="last room" href="">6+</a></li>
					</ul>
				</div>
				<label class="free-design">
				<input type="checkbox" name="planFree" id="planFree" value="1" class="js-design-free js-filter"><i></i>
				<span class="hint">Свободная планировка</span></label>
				
				<label for="">Площадь:</label>
				<div class="data room">
					<ul>
						<li><input style="margin-right:10px;" class="area js-filter" type="text" name="areaMin" id="areaMin" value="" placeholder="от"></li>
						<li><input class="area js-filter" type="text" name="areaMax" id="areaMax" value="" placeholder="до"></li>
					</ul>
				</div>
				<span class="square">м²</span>
			</form>
		</div>
	</div>
	<div class="js-ajax-list-content">
	<?= $this->render('/complex/detail.ajax.phtml') ?>
	</div>
	<!--<div class="btn-wrapper">
		<a href="/shop/" class="btn blue waves-effect view_n3">Перейти в каталог</a>
	</div>-->
</div>

</div>
<!-- scripts -->
<script type="text/javascript">
  jQuery(function(){
      jQuery('#bxslider-room-1').bxSlider({
        pager: true,
        pagerType: 'short',
        pagerSelector: '#bxslider-room-1-pager',
        controls: true,
        prevSelector: '#bxslider-room-1-prev',
        nextSelector: '#bxslider-room-1-next',
        nextText: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
        prevText: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
        mode: 'fade'
      });
  });
</script>
<style>


/* Start:/local/components/proomer/design.detail/templates/.default/style.css?14684751952979*/
a.bx-prev {
  height: 16px;
}
a.bx-next {
  height: 16px;
}


.bxslider-room-control {
  width: 32px;
  height: 16px;
}
  .bxslider-room-control {
    width: 32px;
    height: 16px;
  }
  .bxslider-room-control a {
    width: 32px;
    height: 16px;
    background-image: url('/local/images/slider-pager.png');
    background-repeat:no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }
  .bxslider-room-control-prev a{
    width: 20px;
    height: 16px;
    background-position: 0 0;
	display:block;
  }
  .bxslider-room-control-prev a:hover {
    width: 20px;
    height: 16px;
    background-position: 0 -19px;
	display:block;
  }
  .bxslider-room-control-next a {
    width: 20px;
    height: 16px;
    background-position: -34px 1px;
	display:block;
  }
  .bxslider-room-control-next a:hover {
    width: 20px;
    height: 16px;
    background-position: -34px -17px;
  }

  .bx-pager {
    margin: 0 !important;
  }

.design-styles{
  -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background-color: transparent;
     border-color: #252525 transparent #252525 #252525;
     border-image: none;
     border-style: solid;
     border-width: 1px;
     box-sizing: border-box;
     color: #252525;
     display: inline-block;
     font: 400 13px "RobotoRegular",sans-serif;
     height: 30px;
     margin: 0 15px 5px 0;
     padding: 5px 14px 21px 8px;
     position: relative;
     transition: all 0.3s ease 0s;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}

.design-styles:before {
 transition: all .3s ease;
 content: "";
 position: absolute;
 right: -30px;
 opacity: 0;
}

.design-styles:after {
  border-right: 1px solid #252525;
  border-top: 1px solid #252525;
  border-top-right-radius: 5px;
     content: "";
     height: 22px;
     position: absolute;
     right: -11px;
     top: 3px;
     transform: rotate(45deg);
     width: 20px;
}

/* 360 Preview */
.preview360-gallery-d {
  height: 800px;
  width: 800px;
  position: relative;
}
.preview360-gallery-d > img {
  height: 800px;
  width: 800px;
  position: absolute;
}
.preview360-hide {
  z-index: 9;
}
.preview360-background-d {
  background-color: #fafafa;
  height: 800px;
  opacity: 1;
  position: absolute;
  width: 800px;
  z-index: 11;
}

.product-btn-basket {
    background-color: #4ebde3;
    border-bottom-left-radius: 12%;
    border-top-left-radius: 12%;
    bottom: 15px;
    height: 35px;
    position: absolute;
    right: 0;
    width: 50px;
}

.basket-detail {
    background: rgba(0, 0, 0, 0) url("/local/images/sprite_r.png") no-repeat scroll -5px -109px;
    bottom: 16px;
    height: 15px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    transition: box-shadow 0.3s ease 0s;
    width: 15px;
}

.bxslider-room-control-prev a {
    width: 32px;
    height: 16px;
    background-position: 0 0;
}
.bxslider-room-control a {
    width: 32px;
    height: 16px;
    background-image: url('/local/images/slider-pager.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.bxslider-room-control a {
    width: 32px;
    height: 16px;
    background-image: url('/local/images/slider-pager.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.bxslider-room-control-prev a {
    width: 32px;
    height: 16px;
    background-position: 0 0;
}
.bxslider-room-control-next a {
    width: 32px;
    height: 16px;
    background-position: -34px 1px;
}
.bxslider-room-control-next a:hover {
    width: 32px;
    height: 16px;
    background-position: -34px -18px;
}
.bxslider-room-control-prev a:hover {
    width: 32px;
    height: 16px;
    background-position: 0 -19px;
}
/* End */
/* /local/components/proomer/design.detail/templates/.default/style.css?14684751952979 */
</style>