
<?
	$complex = $this->complex;
	$builder = $this->builder;
	$plan 	 = $this->plan;
	$planOptions = $this->planOptions;
	$designOptions = $this->designOptions;
?>
<div class="detail-plan-block">
	<div class="content-container">
		<div class="bread_crumbs">
			<a href="<?= $this->url(['builder_id' => $builder->CODE], 'builder-detail')?>" class="category">Застройщик: <span class="val"><?=$builder->NAME?></span></a>
			<a href="<?= $this->url(['elementCode' => $complex->CODE], 'complex-detail')?>" class="category"><span class="val"><?=$complex->NAME?></span></a>
			<a href="javascript:void(0);" class="category"><span class="val"><?=$plan->NAME?></span></a>
		</div>
		<form enctype="application/x-www-form-urlencoded" class="js-filter-form filter_project filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
			<input type="hidden" name="option" id="optionsPlan" value="<?=$_GET['option']?>"/>
		</form>
		<div class="selected-plan-block">
			<h2 class="sub-title-little">Выбранная планировка квартиры</h2>
			<div class="row">
				<div class="planflat">
				<?if($plan->PROPERTY_DOCUMENTS_VALUE){?>
					<a id="download-docs" download href="<?=$plan->PROPERTY_DOCUMENTS_VALUE?>">Скачать</a>
				<?}?>
					<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
						<div class="plan">
							<p class="sb-title">План квартиры</p>
							<div class="picture">
								<img src="<?=$plan->PROPERTY_PLAN_SIZE_VALUE?>">
							</div>
							<div class="info">
								<?if(!empty($plan->PROPERTY_ROOM_VALUE)){?>
								<p>Комнат: <span class="val"><?=$plan->PROPERTY_ROOM_VALUE?></span></p>
								<?}
								if(!empty($plan->PROPERTY_AREA_VALUE)){?>
								<p>Площадь: <span class="val"><?=$plan->PROPERTY_AREA_VALUE?> м&#178;</span></p>
								<?}?>
							</div>
						</div>
					</div>
					<?if($plan->PROPERTY_SKAN_VALUE){?>
					<div class="col-xs-10 col-sm-10 col-md-10 plan-offset">
						<div class="scan">
							<p>Развертка стен</p>
							<div class="picture">
								<img style="width:<?=$plan->PROPERTY_SKAN_VALUE['WIDTH']?>px" src="<?=$plan->PROPERTY_SKAN_VALUE['SRC']?>">
							</div>
						</div>
					</div>
					<?}?>			
				</div>
				
			</div>
		</div>
		<div class="plan-options-block">
			<h2 class="sub-title">Для вашей квартиры есть <?=$planOptions->pageData->totalItemsCount?> <?= EHelper::getWordForm($planOptions->pageData->totalItemsCount, ["планировочное решение", "планировочных решения", "планировочных решений"]); ?></h2>
			<?if($planOptions->pageData->totalItemsCount > 0){?>
			<div class="list-plan js-list-plan">
				<div class="row">
					<?foreach($planOptions->items as $item){?>
						<div class="col-xs-2 col-sm-2 col-md-2 plan-item plan-offset ">
							<div class="plan_outer">
								<div class="plan" data-id="<?=$item->ID?>">
									<div class="picture">
										<img src="<?=$item->PROPERTY_IMAGES_VALUE?>">
									</div>
									<!--<div class="name">Данная квартира подходит прекрасно подойдет лорем ипсум чето там</div>-->
									<div class="info">
										<?if(!empty($item->PROPERTY_ROOM_VALUE)){?>
										<p>Комнат: <span class="val"><?=$item->PROPERTY_ROOM_VALUE?></span></p>
										<?}
										if(!empty($item->PROPERTY_AREA_VALUE)){?>
										<p>Площадь: <span class="val"><?=$item->PROPERTY_AREA_VALUE?> м&#178;</span></p>
										<?}?>
									</div>
								</div>
							</div>
						</div>
					<?}?>
				</div>
			</div>
			<?}else{?>
				<?= $this->partial("_partials/not-found-status/plan.phtml", ["message" => " <p>К вашей квартире нет планировочных решений.</p><p>Закажите своё планировочное решение <a class='style1' href='/plan/step1'>прямо сейчас</a>."]) ?>
			<?}?>
		</div>
		<div class="js-ajax-list-content preloaderController catalog-ajax-content">
			<?= $this->render("complex/plan.ajax.phtml") ?>
		</div>
	</div>
</div>


<style>
.preview360-gallery, .preview360-gallery > img {
  height: 200px;
  width: 200px;
}
.preview360-gallery > img{
height: 238px;
    width: 238px;
    left: 0;
    position: absolute;
}


.preview360-hide {
  z-index:9;
}
</style>



