<?
/**
 * @var $item Sibirix_Model_Design_Row
 */
$item = $this->item;
$profile = $this->profile;

if (!empty($item->DETAIL_PICTURE)) {
    $image = Resizer::resizeImage($item->DETAIL_PICTURE, "DESIGN_LIST");
} else {
    $image = Resizer::resizeImage(Settings::getOptionFile('defaultDesignImage'), 'DESIGN_LIST');
}

?>
	
	<div class="out-feature-item col-xs-4 col-sm-4 col-md-4" style="height: 520px;">
	  <div class="feature-item">
		<div style="padding-bottom: 10px; height:246px;">
	
		  <?if (isset($item->GALLERY3D)) {
			$preview_360_one = $item->GALLERY3D[0];
			unset($design->GALLERY3D[0]);
			$preview_360_json = json_encode($item->GALLERY3D);
		  ?>
			<div class="preview360-gallery" data-json='<?=$preview_360_json;?>'>
			  <img style="width:100%;" src="<?=$preview_360_one;?>" class="preview360">
			</div>
		  <?} else{?>
			<img style="width:100%;" src="<?=$item->MAIN_IMAGE;?>">
		  <?} ?>

		</div>	
		<div style="position: relative; min-height: 60px">
		  <hr style="position: relative; top: 25px"/>
			<?
				$personal_photo_resize = CFile::ResizeImageGet($item->DESIGNER->PERSONAL_PHOTO, array('width'=>47, 'height'=>47), BX_RESIZE_IMAGE_EXACT, true);
				$personal_photo = $personal_photo_resize ? $personal_photo_resize['src'] : '/local/images/no-avatar-small.png'; // фото дизайнера
			?>
		  <img src="<?=$personal_photo?>" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">
		</div>
		<div>
		  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;"><?=$item->DESIGNER->NAME ." ". $item->DESIGNER->LAST_NAME?></span>
		</div>
		<div style="height: 70px;">
		  <a href="<?if($item->PROPERTY_STATUS_ENUM_ID == DESIGN_STATUS_PUBLISHED){echo $this->url(['elementCode' => $item->CODE], 'design-detail');}else{echo '/profile/design/edit/'.$item->ID;}?>" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;"><?=$item->NAME?></a>
		</div>
		<div style="padding: 15px 0">
		  <hr style="position: relative; top: 2px"/>
		  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
		</div>
		
		<div class="row">
		  <div class="col-xs-4 col-sm-4 col-md-4">
			<p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left;">
			  <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> <?=(int) $item->PROPERTY_VIEW_COUNT_VALUE; ?>
			</p>
		  </div>
			<div class="col-xs-8 col-sm-8 col-md-8">
				<?if($item->PROPERTY_STATUS_ENUM_ID == DESIGN_STATUS_MODERATION){?>
					<p style="text-align:right;">На модерации</p>
				<?}else if($item->PROPERTY_STATUS_ENUM_ID == DESIGN_STATUS_DRAFT){?>
					<p style="text-align:right;">Не завершено</p>
				<?}else{?>
					<p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;"><?=$item->PRICE?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
				<?}?>
			</div>
		</div>
	  </div>
	</div>





