<div class="js-second-step add-project-step js-step step2 active" data-step="2">
	<div class="step-title-wrap">
        <div class="number">2</div>
        <div class="js-step-title title">Добавление поштучно</div>
        <div class="clearfix"></div>
    </div>
	<div class="js-step-body step-body">
		<?= $this->step2Form ?>
	</div>
</div>