<?
	$ARR_PLAN_AJAX = $this->ARR_PLAN_AJAX;
	$ARR_PLAN_OPTION_AJAX = $this->ARR_PLAN_OPTION_AJAX;
	$PLAN_SAVE = $this->PLAN_SAVE;
	$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;
	$PROJECT_FAMILY = $this->PROJECT_FAMILY;
	$PRICE_PROJECT = $this->PRICE_PROJECT;
	
	/*==========================================
		Здесь проверяем откуда пришли данные
	==========================================*/
	if($ARR_PLAN_AJAX){
		$plan = $ARR_PLAN_AJAX;
	}
	else if($PLAN_SAVE){
		$plan = $PLAN_SAVE;
	}
	
	if($ARR_PLAN_OPTION_AJAX){
		$plan_option = $ARR_PLAN_OPTION_AJAX;
	}
	else if($PLAN_OPTION_SAVE){
		$plan_option = $PLAN_OPTION_SAVE;
	}
	/*=======================================*/

	$nextstep = $this->nextstep;
	$url = $this->url;
	$projectData = $this->projectData;
	$planOption = $this->planOption;
	$nextstep_d = $this->nextstep_d;
	$nextstepfile = $this->nextstepfile;
	$starting_price = $this->starting_price;
	$auth = $this->auth;
	$access = $this->access;
	
	//разрешения на показ блоков
	$show_plan = $this->show_plan;
	$show_list_plan = $this->show_list_plan;
	$show_list_family = $this->show_list_family;
?>
	<div class="project project-select">
		<div class="border-style1"></div>
		<div class="project-inner">
			<h2 class="title">Проект</h2>
			<hr/>
		
		<?//Если есть заказ
		if($plan){?>
			<div class="prop">
				<p class="sub-title">Планировка</p>
				<?if(!empty($plan[0] -> PROPERTY_ROOM_VALUE)){?>
					<p>Количество комнат.............<span class="value"><?=$plan[0] -> PROPERTY_ROOM_VALUE?>  <?= EHelper::getWordForm($plan[0] -> PROPERTY_ROOM_VALUE, ["комната", "комнаты", "комнат"]); ?></span></p>
				<?};?>
				<?if(!empty($plan[0] -> PROPERTY_AREA_VALUE)){?>
					<p>Площадь.............................<span class="value"><?=$plan[0] -> PROPERTY_AREA_VALUE?>м&#178;</span></p>
				<?};?>
				<!--<p>Общая площадь..............<span class="value">76 м&#178;</span></p>-->
				<!--<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>-->
			</div>
			<div class="prop">
				<?if($show_list_plan != 'N'){?>
					<div class="list-selected">
						<ul>
							<li><div class="picture"><img src="<?=$plan[0]->PLAN_IMAGE?>"/><p class="water_sign">квартира</p></div></li>
							<?if($plan_option){?>
								<li><div class="picture"><img src="<?=$plan_option[0]->PLAN_IMAGE?>"/><p class="water_sign">планировка</p></div></li>
							<?};?>
						</ul>
					</div>
					<div class="clearfix"></div>
				<?}?>
			</div>			
			<?if($show_plan != 'N' && isset($plan_option[0]->PROPERTY_COORDS_VALUE) && count($plan_option[0]->PROPERTY_COORDS_VALUE) > 0){?>
				<div class="prop">
					<div class="plan" style="position:relative"><img src="<?=$plan_option[0]->PLAN_IMAGE?>" alt="<?=$plan_option[0]->NAME?>"/>
						<?
						$i=1;
						foreach($plan_option[0]->PROPERTY_COORDS_VALUE as $cords){
							$x_y = explode(',', $cords);
						?>
							<div class="pin" style="left:<?=($x_y[0]/1.6363) - 15?>px;top:<?=($x_y[1]/1.6363) - 15?>px;">К.<?=$i?></div>
						<?
							$i+=1;
						};
						?>
					</div>
				</div>
			<?}?>
			<?if($show_list_family != 'N' && (count($PROJECT_FAMILY['PEOPLE']) > 0 || count($PROJECT_FAMILY['PEOPLE_CHILD']) > 0 || count($PROJECT_FAMILY['ANIMAL']) > 0)){?>
				<div class="prop">
					<p class="sub-title">Состав семьи</p>
					<?if(count($PROJECT_FAMILY['PEOPLE']) > 0){?>
					<p>Взрослых...........................<span class="value"><?echo count($PROJECT_FAMILY['PEOPLE']); echo EHelper::getWordForm(count($PROJECT_FAMILY['PEOPLE']), [" человек", " человека", " человек"]);?></span></p>
					<?}?>
					<?if(count($PROJECT_FAMILY['PEOPLE_CHILD']) > 0){?>
					<p>Детей.................................<span class="value"><?echo count($PROJECT_FAMILY['PEOPLE_CHILD']); echo EHelper::getWordForm(count($PROJECT_FAMILY['PEOPLE_CHILD']), [" ребенок", " ребенка", " детей"]);?></span></p>
					<?}?>
					<?if(count($PROJECT_FAMILY['ANIMAL']) > 0){?>
						<p>Домашние животные.........<span class="value"><?		
							foreach($PROJECT_FAMILY['ANIMAL'] as $items){
								$end_element = array_pop($items->items);
								foreach($items->items as $item)
								echo $item->PROPERTY_ANIMAL_VALUE .', ';
							}
							echo $end_element->PROPERTY_ANIMAL_VALUE;
						?>
							</span>
						</p>
					<?}?>
				</div>
			<?}?>
			<?if($PRICE_PROJECT > 0){?>
			<div class="prop">
				<p class="sub-title">Стоимость проекта</p>
				<p class="price"><span class="summ"><?=$PRICE_PROJECT?></span>&#8381;</p>
			</div>
			<?}?>
		<?}else{?>
			<div class="prop">
				<p class="simple_text">Выберите планировку вашей квартиры.<br/>
				Если не нашли нужную плнировку,<a class="under-link style1 js-fancybox fancyboxLink" href="#call-super-man">вызовите бесплатного замерщика</a></p>
			</div>
		<?}?>
		<div class="step <?if(!$auth || !$access){echo 'noactive';}else{echo 'active';};?>">
			<hr/>
			<div class="btn_wrap_next_step"><a id="nextstep" class="btn js-<?echo $nextstep; if(!$auth || !$access){echo ' noLink';};?>" href="<?=$url?>" class="btn">ДАЛЕЕ</a><span class="style4 cont" href=""><?=$nextstep_d;?></span></div>
		</div>
		<?if(!$auth){?>
			<br/>
			<p class="simple_text" style="text-align:center">
				Для того, чтобы продолжить пользоваться
				сервисом, пожалуйста, <a class="under-link style1 js-fancybox fancyboxLink" href="#registration-popup">зарегистрируйтесь</a>
				или <a class="under-link style1 js-fancybox fancyboxLink" href="#login-popup">войдите</a> под своим логином
			</p>
		<?}?>
		</div>
	</div>

	<!--<div class="project project-upload">
		<div class="border-style1"></div>
		<div class="project-inner">
			<h2 class="title">Проект</h2>
			<hr/>
			<br/>
			<p>
				Загрузите скан-копию планировки, 
				чтобы продолжить!
				<br/><br/>
				Если у вас нет скана,
				<a class="under-link style1 js-fancybox fancyboxLink" href="#call-super-man">вызовите бесплатного замерщика</a>
				
			</p>
			<div class="clearfix"></div>
			<br/>
			<hr/>
			<div class="step">
				<a href="javascript:void(0);" class="btn">ДАЛЕЕ</a><span class="style4 cont" href="">К вариантам<br/>
				планировок</span>
			</div>
			<br/>
			<p class="i mess" style="text-align:center">
				Для того, чтобы продолжить пользоваться<br/>
				сервисом, пожалуйста, дождитесь проверки<br/>
				загруженных файлов!
			</p>
			<br/>
		</div>
	</div>-->
	
	