/*
 * 3д для виджета от proomer.ru
 * 
 * @author Роман Камлюк <roman@kamlyuk.com>
 */

#proomer-widget .preview360 {
    vertical-align: middle;
    line-height: 201px;
}
#proomer-widget .preview360-hide {
    display: none;
}