	<?
		$url = Zend_Registry::get("BX_APPLICATION")->GetCurPage().str_replace('index.php'); 
		$url = str_replace('index.php', "", $url);
	?>
	<div class="content-container">
		<ul class="profile-menu">
			<? if (!empty($this->menu)) { ?>
				<? foreach ($this->menu as $ind => $item) { ?>
					<? $image = Resizer::resizeImage($item->PREVIEW_PICTURE, "PROFILE_MENU")?>
					<li>
						<a href="<?= $item->PROPERTY_LINK_VALUE ?>" class="waves-effect<?= ($item->PROPERTY_LINK_VALUE == $url)?' active':''?>">
							<!--<span class="icon" style="background:url('<?//= $image ?>') no-repeat;"></span>-->
							<span><?= $item->NAME ?></span>
						</a>
					</li>
				<? } ?>
			<? } ?>
		</ul>
	</div>