<?
	$type = $this->type;
	$url = '/profile/design';
	if($type == DESIGNER_TYPE_ID){
		$url = '/profile/design';
	}
	else if($type == PROVIDER_TYPE_ID){
		$url = '/profile/marketplace';
	}
	else if($type == SELLER_TYPE_ID){
	}
	else if($type == CLIENT_TYPE_ID){
	}
	else{
		
	}
?>
<div id="top_block" class="top-block">
	<div class="content-container">
		<div class="second-head">
			<div class="return-to-profile">
				<a href="<?=$url?>" id="return-profile" class="btn blue waves-effect">Вернуться к профилю</a><!--<span id="result_progress" class="result_progress"></span>-->
			</div>
			<div class="save-data"><a href="<?=$url?>" id="save-data" class="btn blue waves-effect js-save">Сохранить</a><!--<span id="result_progress" class="result_progress"></span>-->
			</div>
		</div>
	</div>
</div>