<?
	$step4Form = $this->step4Form;
?>

<div id="service-page">
	<div class="head">
		<div class="content-container">
			<h2 class="main-title">Создание проекта</h2>
			<div id="service_menu">
				<ul>
					<li><a class="under-link" href="">Выбор планировки</a></li>
					<li class="selected"><a href="">Варианты планировок</a></li>
					<li><a class="under-link" href="">Варианты дизайна</a></li>
					<li><a class="under-link" href="">Состав семьи</a></li>
					<li><a class="under-link" href="">Настройка заказа</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content">
	

	
	
		<div class="content-container">
			<div class="left_bn">
				<h2 class="page-title">Готовые варианты планировок</h2>
				<p>Обратите внимание!<br/>
				Если вы хотите заказать дизайн всей квартиры целеком, то пропустите этот шаг и переходите сразу к <a href="" class="under-link style1">выбору дизайна</a></p>
				<div class="list-plan">
					<div class="plan">
						<div class="picture">
							<img src="/local/images/тес22.jpg"/>
						</div>
						<div class="info">
							<p>Комнат: <span class="val">3</span></p>
							<p>Площадь: <span class="val">78 м&#178;</span></p>
						</div>
					</div>
										<div class="plan">
						<div class="picture">
							<img src="/local/images/тес22.jpg"/>
						</div>
						<div class="info">
							<p>Комнат: <span class="val">3</span></p>
							<p>Площадь: <span class="val">78 м&#178;</span></p>
						</div>
					</div>
										<div class="plan">
						<div class="picture">
							<img src="/local/images/тес22.jpg"/>
						</div>
						<div class="info">
							<p>Комнат: <span class="val">3</span></p>
							<p>Площадь: <span class="val">78 м&#178;</span></p>
						</div>
					</div>
										<div class="plan">
						<div class="picture">
							<img src="/local/images/тес22.jpg"/>
						</div>
						<div class="info">
							<p>Комнат: <span class="val">3</span></p>
							<p>Площадь: <span class="val">78 м&#178;</span></p>
						</div>
					</div>
					<div class="plan alien">
						<p class="title">
						Нет подходящей?
						закажите ее прямо
						сейчас
						</p>
						<p class="mess">Загрузите свою планировку
или вызовите замерщика
бесплатно</p>  
					</div>
				</div>
			</div>
			<div class="right_bn">
				<div class="project">
					<div class="border-style1"></div>
					<div class="project-inner">
						<h2 class="title">Проект</h2>
						<hr/>
						<p>Загрузите скан-копию планировки, 
						чтобы продолжить!
						<br/><br/>
						Если у вас нет скана,
						<a class="under-link style1" href="">вызовите бесплатного замерщика</a>
						</p>
						<hr/>
						<div class="categories">
						<a href="javascript:void(0);" class="category">ДАЛЕЕ</a><a class="i style4 cont" href="">К вариантам<br/>
						планировок</a>
						</div>
						<p class="i mess" style="text-align:center">
						Для того, чтобы продолжить пользоваться<br/>
						сервисом, пожалуйста, дождитесь проверки<br/>
						загруженных файлов!
						</p>
					</div>
				</div>
				<div class="help">
					<h2 class="title">Нужна помощь?</h2>
					<p style="text-align:center;">Наши специалисты помогут вам<br/> разобраться с сервисом</p>
					<span class="phone">+7 (975) 856-14-56</span>
					<span class="time_job i">Работаем с 8:00 до 22:00</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>