/*
    Created on : 10.07.2016, 12:41:51
    Author     : IvanSCM
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400italic,400normal&subset=latin,cyrillic);

@font-face {
    font-family: 'Gregor';
    src: url('fonts/Gregor.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gregor.otf') format('opentype'),
        url('fonts/webfont/Gregor.woff') format('woff'),
        url('fonts/webfont/Gregor.ttf') format('truetype'),
        url('fonts/webfont/Gregor.svg#Gregor') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #fff;
}

video.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('videos/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

div.backgroud-color {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -50;
    background-color: #63bddf;
    opacity: 0.50;
}

div.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(255,255,255, 0.9);
    z-index: 1;
}

div.header .logo {
    float: left;
    height: 32px;
    padding: 19px 0 0 70px;
    width: 108px;
}

div.header .slogan {
    color: #a0a0a0;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    padding: 14px 0 0 30px;
}

.social {
    margin: 0;
    float: right;
    padding: 22px 40px 0 0;
}

.social li {
    display: inline;
    margin: 0 10px 0 0;
}

.social li a {
    text-decoration: none;
}

.blocks {
    height: 100%;
    margin: 70px 0 0;
    position: fixed;
    width: 100%;
}

.blocks  div.column:nth-child(-n+2)
{
    border-right: 1px dotted #fff;
    margin-left: 0px;
}

.blocks  div.column:last-child
{
    margin-right: -2px;
}

.column {
    width: 33.3%;
    float: left;
    min-height: 100%;
}

.column-default {
    background-color: rgba(0, 0, 0, 0);
}

.column-black {
    background-color: rgba(0, 0, 0, 0.7);
}

.column span.title {
    bottom: 120px;
    font-size: 32px;
    padding: 0 0 0 40px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: "Gregor";
}

.column span.title-op {
    color: rgba(255, 255, 255, 0.3); 
}

.blocks .content {
    height: 100%;
    position: absolute;
    width: 33.3333%;
    display: none;
    z-index: 1;
}

.blocks .content .text {
    bottom: 120px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.blocks .content .text h1 {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 0 40px;
    font-family: "Gregor";
}

.blocks .content .text p {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 0 40px;
    font-family: "Roboto";
}

.blocks .content.vr {
    background-color: #16528e;


    -webkit-box-shadow: 6px 0px 20px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    6px 0px 20px 0px rgba(0, 0, 0, 0.9);
    box-shadow:         6px 0px 20px 0px rgba(0, 0, 0, 0.9);


}

.blocks .content.vr .img {
    background-image: url("images/oculus.png");
    background-size: 100% 100%;
    left: 0;
    margin: 20px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 600px;
    min-height: 500px;
}


.blocks .content.base {
    background-color: #167c80;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 0px 20px 6px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 0px 20px 6px rgba(0, 0, 0, 0.9);
}

.blocks .content.base .img {
    background-image: url('images/house.png');
    background-size: 100% 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 600px;
    min-height: 500px;
}

.blocks .content.widget {
    background-color: #e54b4b;
    -webkit-box-shadow: -6px 0px 20px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    -6px 0px 20px 0px rgba(0, 0, 0, 0.9);
    box-shadow:         -6px 0px 20px 0px rgba(0, 0, 0, 0.9);

}

.blocks .content.widget .img {
    background-image: url('images/widget.png');
    background-size: 100% 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 600px;
    min-height: 500px;
}


@media screen and (max-device-width: 800px) {
    html {
        background: url('videos/polina.jpg') #fff no-repeat center center fixed;
    }
    #background-video {
        display: none;
    }
}
