<?
	$ARR_BUILDER = $this->ARR_BUILDER;
	$city = $this->city;
?>
<div class="builder-title-block">
	<div class="content-container">
		<h1>Застройщики города <?=$city['NAME']?></h1>
	</div>
</div>
<div class="form-q">
	<div class="content-container">
		<form enctype="application/x-www-form-urlencoded" method="post" class="form formTabber" action="/auth/" novalidate="novalidate">
			<div class="input-row">
				<input type="text" name="q" id="q" value="" class="required js-q" autocomplete="off" placeholder="Укажите любые данные об исполнителе"/>
				<a class="ico-search" href="javascript:void(0);" title=""></a>
				<span class="js-error error-message"></span>
			</div>
		</form>
	</div>
</div>
<div class="list-builder-block">
	<div class="content-container">	
		<div class="js-ajax-list-content">
            <?= $this->render('builder/builder-list.ajax.phtml') ?>
        </div>
	</div>
</div>