
<style>
.preview360-gallery {
  height: 238px;
  width: 238px;
  position: relative;
}

.preview360-gallery > img {
  height: 238px;
  width: 238px;
  left: 0;
  position: absolute;
}
.preview360-hide {
  z-index: 9;
}
</style>

<div class="about-block" style="background-color: #fafafa; margin: 80px 0;">
    <div class="content-container">

		<h2 class="product-title" style="color: #252525; font: 400 4em 'RobotoSlabLight',sans-serif; margin-bottom: 15px; text-align: center;">Catalog of standard projects</h2>
    <div class="subtitle" style="color: #252525; font: 300 1.7em 'PTSansRegular',sans-serif; margin: 0 0 44px; text-align: center;">Just pick a design fit to your taste, buy it online and get a finished project</div>

			<div class="feature-out">
				<!--<div class="feature-list row">
          <?php foreach ($this->rand_design as $randDesign) { ?>
            <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                  <?php if (isset($randDesign['GALLERY3D'][0])) {
                    $preview_360_one = $randDesign['GALLERY3D'][0];
                    unset($randDesign['GALLERY3D'][0]);
                    $preview_360_json = json_encode($randDesign['GALLERY3D'], JSON_HEX_QUOT);
                  ?>
                    <div class="preview360-gallery" data-json='<?php echo $preview_360_json;?>'>
                      <img src="<?php echo $preview_360_one; ?>" class="preview360">
                    </div>
                  <?php } else { ?>
                    <img src="<?php echo $randDesign['MAIN_IMAGE']; ?>">
                  <?php } ?>

                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px"/>
                  <img src="<?php echo $randDesign['PERSONAL_PHOTO']; ?>" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;"><?php echo $randDesign['DESIGNER_NAME']; ?></span>
                </div>
                <div style="height: 70px;">
                  <a href="<?= $this->url(['elementCode' => $randDesign['CODE']], 'design-detail')?>" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;"><?php echo $randDesign['NAME']; ?></a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px"/>
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> <?php echo $randDesign['VIEW_COUNT']; ?>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;"><?php echo round($randDesign['PRICE']); ?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
          <?php } ?>
				</div>-->
				
				<div class="feature-list row">
                      <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                                      <img src="/upload/resize_cache/iblock/917/238_238_2/9178c1e889dfff0365adc81992d6a21f.jpg">
                  
                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px">
                  <img src="/upload/resize_cache/main/f9a/47_47_2/f9a8d3b65a3d8cae03b6453fdfcade14.jpg" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;">Proomer </span>
                </div>
                <div style="height: 70px;">
                  <a href="/design/demo-proekt-v-stile-loft-3/" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;">Demo project in Loft style #3 43.3 sq.m.</a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px">
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> 0                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;">0 <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
                      <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                                      <img src="/upload/resize_cache/iblock/787/238_238_2/787f3be645ea0ffb1a2df737744fdbd9.jpg">
                  
                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px">
                  <img src="/upload/resize_cache/main/f9a/47_47_2/f9a8d3b65a3d8cae03b6453fdfcade14.jpg" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;">Proomer </span>
                </div>
                <div style="height: 70px;">
                  <a href="/design/demo-proekt-v-stile-loft-2-41-1-kv-m/" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;">Demo project in Loft style #2 41.1 sq.m.</a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px">
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> 0                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;">0 <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
               <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                                      <div class="preview360-gallery" data-json="{&quot;1&quot;:&quot;\/upload\/resize_cache\/iblock\/96a\/238_238_2\/96a14871d71359af86177e2e967c15d5.jpg&quot;,&quot;2&quot;:&quot;\/upload\/resize_cache\/iblock\/a06\/238_238_2\/a066419715b04785dc6261df853fadb9.jpg&quot;,&quot;3&quot;:&quot;\/upload\/resize_cache\/iblock\/b63\/238_238_2\/b638ce40b42fcc055a68f9b83f713e22.jpg&quot;,&quot;4&quot;:&quot;\/upload\/resize_cache\/iblock\/77b\/238_238_2\/77b6aecc6ebcc31de0e232e981d78278.jpg&quot;,&quot;5&quot;:&quot;\/upload\/resize_cache\/iblock\/b94\/238_238_2\/b94538337b74665c4f9c90d85081130e.jpg&quot;,&quot;6&quot;:&quot;\/upload\/resize_cache\/iblock\/c47\/238_238_2\/c478ece670ada6fe057cd40d712bea7b.jpg&quot;,&quot;7&quot;:&quot;\/upload\/resize_cache\/iblock\/bc0\/238_238_2\/bc04896ecfeba5f27d0f77c9915cae25.jpg&quot;}" data-current="1">
                      <img src="/upload/resize_cache/iblock/69d/238_238_2/69d5e412657695f0ddd0cb27cbc08758.jpg" class="preview360" style="z-index: 9;">
                    <img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/96a/238_238_2/96a14871d71359af86177e2e967c15d5.jpg" data-index="1" style="z-index: 12;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/a06/238_238_2/a066419715b04785dc6261df853fadb9.jpg" data-index="2" style="z-index: 9;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/b63/238_238_2/b638ce40b42fcc055a68f9b83f713e22.jpg" data-index="3" style="z-index: 9;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/77b/238_238_2/77b6aecc6ebcc31de0e232e981d78278.jpg" data-index="4" style="z-index: 9;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/b94/238_238_2/b94538337b74665c4f9c90d85081130e.jpg" data-index="5" style="z-index: 9;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/c47/238_238_2/c478ece670ada6fe057cd40d712bea7b.jpg" data-index="6" style="z-index: 9;"><img class="preview360 preview360-hide" src="/upload/resize_cache/iblock/bc0/238_238_2/bc04896ecfeba5f27d0f77c9915cae25.jpg" data-index="7" style="z-index: 9;"></div>
                  
                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px">
                  <img src="/upload/resize_cache/main/f9a/47_47_2/f9a8d3b65a3d8cae03b6453fdfcade14.jpg" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;">Proomer </span>
                </div>
                <div style="height: 70px;">
                  <a href="/design/dizayn-skandinavskiy-1-k-kvartira-48-84-kv-m/" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;">Scandinavian design for studio apartment 48,84 sq.m.</a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px">
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> 0                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;">5000 <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
                      <div class="out-feature-item col-xs-3 col-sm-3 col-md-3" style="height: 512px;">
              <div class="" style="border: 1px solid rgba(1, 1, 1, 0.05); box-sizing: border-box; margin-bottom: 18px; overflow: hidden; padding: 20px 20px; position: relative;">
                <div style="padding-bottom: 10px;">
                                      <img src="/upload/resize_cache/iblock/8e7/238_238_2/8e7d64699f577de5f9eca9a94d37f2d3.jpg">
                  
                </div>
                <div style="position: relative; min-height: 60px">
                  <hr style="position: relative; top: 25px">
                  <img src="/upload/resize_cache/main/b9c/47_47_2/b9cee4d18d7965b86016cafc4fa05150.jpg" style="border: 2px solid #fafafa; border-radius: 25px; height: 47px; width: 47px; z-index:9px; position: inherit; box-shadow: 0 0 0 1px rgba(51, 67, 75, 0.22);">

                </div>
                <div>
                  <span style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif;">Velvet Design</span>
                </div>
                <div style="height: 70px;">
                  <a href="/design/pattern_design1445406932/" style="font-size: 15px; font-weight: bold; font-family: 'RobotoSlabRegular'; padding-top: 10px; min-height: 74px;">Free design for Townhouse 118.8 sq.m.
</a>
                </div>
                <div style="padding: 15px 0">
                  <hr style="position: relative; top: 2px">
                  <div style="background-color: #3fb1da; width: 47px; height: 3px; margin: auto; position: relative"></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="color: #7c7b7b; font: 300 13px/20px 'Fira Sans',sans-serif; text-align: left; padding-top: 6px">
                      <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite_r.png') repeat scroll -55px -349px; display: inline-block; height: 18px; margin-right: 0; vertical-align: middle; width: 20px;"></span> 0                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="price" style="bottom: 15px; color: #3fb1da; font: 400 2.1em 'RobotoRegular',sans-serif; text-align: right;">0 <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
          				</div>
				
			</div>
      <div class="clear"></div>
      <div class="btn-wrapper" style="padding-top: 40px; padding-bottom: 120px">
            <a class="btn blue waves-effect view_n3" href="/design/">View all projects</a>
        </div>

    </div>
</div>
