<?
	$competitions = $this->competitions;
?>
<div class="content">
<div class="executor-block">
    <div class="content-container">
        <h2 class="executor-title">Design projects contest on Proomer.ru</h2>
        <div class="subtitle">Create interiors, earn money!</div>
            <!--<table width="100%" class="executor-list">
				<thead>
					<tr>
						<th>Contest tasks</th>
						<th>Planning solutions</th>
						<th>Cost</th>
						<th>Views</th>
						<th>Terms</th>
					</tr>
				</thead>
				<tbody>

					<?
					$i = 0;
					foreach($competitions->items as $item){
						if($i <= 4){
					?>
						<tr>
						<td class="name">
						<h2 class="title"><a href="/competition/<?=$item->ID?>" class=""><?=$item->NAME?></a></h2>
						<p class="disc"><?=$item->PREVIEW_TEXT?></p>
						</td>
						<td class="plan"><img src="<?=$item->IMG?>"/></td>
						<td class="price"><?=round($item->PRICE_VALUE['PRICE'])?> <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></td>
						<td class="res"><?=(int) $item->SHOW_COUNTER;?></td>
						<td class="time"><?echo (int) $item->PROPERTY_TIME_VALUE; echo EHelper::getWordForm((int) $item->PROPERTY_TIME_VALUE, [" день", " дня", " дней"]);?></td>
						</tr>
					<?
					};$i+=1;}?>
				</tbody>
			</table>-->
			
			<table width="100%" class="executor-list">
				<thead>
					<tr>
						<th>Contest tasks</th>
						<th>Planning solutions</th>
						<th>Cost</th>
						<th>Views</th>
						<th>Terms</th>
					</tr>
				</thead>
				<tbody>

											<tr>
						<td class="name">
						<h2 class="title"><a href="/competition/6290" class="">Create a project for studio apartment</a></h2>
						<p class="disc">Do create a project for a young family which will live in a studio in Moscow.</p>
						</td>
						<td class="plan"><img src="/upload/resize_cache/iblock/8ba/150_100_1/8ba1f50a6acf44526e2ffc7696243ac3.jpg"></td>
						<td class="price">10000 <span style="background: rgba(0, 0, 0, 0) url('/local/images/sprite.png') no-repeat scroll -30px -398px; display: inline-block; height: 16px; width: 10px;"></span></td>
						<td class="res">44</td>
						<td class="time">99 Days</td>
						</tr>
									</tbody>
			</table>
			
			
			
			
		<div class="clear"></div>
        <div class="btn-wrapper">
            <a href="/competition/" class="btn blue waves-effect view_n3">View all tasks</a>
        </div>
    </div>
</div>
</div>
