<?
	$userList = $this->userList;
?>
<div class="master-block">
    <div class="content-container">
		<div class="head">
			<h2 class="master-title">Leading interior designers online</h2>
			<div class="subtitle">We work with the best professionals. Find your designer online.<br/>
Fix-price for a draft with drawings set and 3D visualization.</div>
		</div>
        <div class="master-list row">
		<?foreach($userList as $user){
			if($user->ID == 1 || $user->ID == 83){
				continue;
			}
			?>
			<div class="col-xs-2 col-sm-2 col-md-2">
				<div class="master">
					<div class="top">
						<!--<div class="likes"><?//=$this->Like()->button($item->ID, 999, 1)?></div>-->
						<a href="/designer/<?=$user->ID?>"><img src="<?=$user->PERSONAL_PHOTO?>" alt="<?=$user->NAME .' '.$user->LAST_NAME?>"/></a>
					</div>
					<div class="content">
						<a href="/designer/<?=$user->ID?>" class="name"><?=$user->NAME .' '.$user->LAST_NAME?></a>
						<p class="type"><?=$user->WORK_PROFILE?></p>
					</div>
				</div>
			</div>
		<?};?>
        </div>
		<div class="clear"></div>
        <div class="btn-wrapper">
            <a href="/designerlist/" class="btn blue waves-effect view_n3">Pick a designer</a>
        </div>
    </div>
</div>
