<div class="text-block">
    <div class="content-container">
        <h2><? EHelper::includeArea("index/seo-title") ?></h2>
        <div class="subtitle"><? EHelper::includeArea("index/seo-subtitle") ?></div>
        <div class="text static-content js-seo-text">
            <div class="js-text-inner">
                <? EHelper::includeArea("index/seo-text") ?>
            </div>
        </div>
        <a href="javascript:void(0);" class="detail-link under-link js-detail">Подробнее...</a>
    </div>
</div>
