
<div class="list-design ajax-list-design">
	<?if(!$this -> listDesign || count($this -> listDesign) <= 0){
		$TYPE_ROOM = Sibirix_Model_Reference::getReference(HL_TYPEROOM, array("UF_NAME", "UF_XML_ID", "UF_ID_MEDIA", "ID"), "UF_XML_ID");
			
		foreach($TYPE_ROOM as $item){
			if($item[1] == $this->ARR_PROJECT_ROOM->PROPERTY_TYPE_ROOM_VALUE){
			
				$type_room = $item[2];
				CModule::IncludeModule("fileman");
				CMedialib::Init();
				$arCollections = CMedialibCollection::GetList(array('arOrder'=>Array('NAME'=>'ASC'),'arFilter' => array('ACTIVE' => 'Y'))); 
				$arItems = CMedialibItem::GetList(array('arCollections' => array("0" => $type_room)));
				$this->listDesign = $arItems;
			}
		}
	}
	?>
	<?if(count($this->listDesign) > 0){?>
	<div class="content"><h2 class="sub-title">Выберите дизайн, который вам нравится</h2></div>
	<script>
	/*$(function() {
	$(".knob").knob({
		//other parameters-----
		inputColor : '#34EB40'
	});

		// Example of infinite knob, iPod click wheel
		/*var val,up=0,down=0,i=0
			,$idir = $("div.idir")
			,$ival = $("div.ival")
			,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
			,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
		$("input.infinite").knob(
							{
							'min':0
							,'max':20
							,'stopper':false
							,'change':function(v){
										if(val>v){
											if(up){
												decr();
												up=0;
											}else{up=1;down=0;}
										}else{
											if(down){
												incr();
												down=0;
											}else{down=1;up=0;}
										}
										val=v;
									}
							}
							);


	});*/
</script>
	<div class="row js-select-design" style="height:238px">
	<?for($n = 0; $n < count($this->listDesign); $n++){
		if($n == 0){
			$class = ' active';
		}
		else{
			$class = '';
		}
	?>
	
		<div class="variant_designs<?=$class?>">
			<div class="col-xs-6 col-sm-6 col-md-6 design-offset">
				<div class="design"><img class="picture_design" src="<?=$this->listDesign[$n]['PATH']?>"/></div>
			</div>
			<?$n+=1;?>
			<div class="col-xs-6 col-sm-6 col-md-6 design-offset">
				<div class="design"><img class="picture_design" src="<?=$this->listDesign[$n]['PATH']?>"/></div>
			</div>
		</div>
	<?}?>
	</div>
	<div class="clear"></div>
	<div class="progressBar" style="padding:40px 0 0 0;position:relative;">
		<div class="overlap"></div>
		<input data-bgColor="#dddddd" data-fgColor="#3fb1da" data-thickness="0.1" class="knob"data-width="72" data-min="0" data-max="8" data-angleOffset="0" data-displayPrevious=true value="0">
		<p class="count_variant">из <?=round(count($this->listDesign) / 2)?> <?= EHelper::getWordForm(round(count($this->listDesign) / 2), ["варианта", "вариантов", "вариантов"]); ?></p>
	</div>
	<?}?>
</div>

