
<?if(count($this->itemList) > 0){?>
	<div class="list-plan js-list-plan">
		<div class="row">
			<?
			$i=0; 
			foreach($this->itemList as $item): ?>
				<?
					//if($i < 5){$class="show option";}else{$class="hide option";};
				?>
				<?= $this->partial("project/partials/plan-item.phtml", ["item" => $item,"class"=>$class]) ?>
			<?
			$i+=1;
			endforeach ?>						
			<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
				<div class="plan alien note taupe">
					<a class="js-fancybox fancyboxLink" href="#call-super-man">
						<span class="ask">Не нашли нужный план квартиры?</span>
						<span class="mess">Вызовите замерщика бесплатно</span>
					</a>
					<div class="line_1"></div>
					<div class="line_2"></div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="row-submit"><a class="js-submit-show btn waves-effect">Показать ещё</a></div>-->
	<hr id="step1" class="line type_n1"/>
<?/*= $this->paginationControl(
$this->paginator,
'Sliding',
'_partials/paginator.phtml'
); */
}
else{
?>

	<div class="not-found plan">
		<div class="not-found-message">
			<p class="big">По вашему запросу не нашлось вариантов квартир</p><br/>
			<p class="little">Тем не менее, вы можете вызвать замерщика. Это совершенно бесплатно.</p><br/>
			<div class="call-super-man"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
			ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
		</div>
		<div class="not-found-icon"></div>
	</div>

	<?//echo $this->partial("_partials/not-found-status/complex.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]);
	};
?>
<?if(count($this->itemListPlan) > 0 && (int) $this->options > 0){?>
<div class="list-plan list-plan-options js-list-plan">
	<div class="content"><h2 class="title sub_title">Для вашей квартиры есть <?=count($this->itemListPlan)?> <?= EHelper::getWordForm(count($this->itemListPlan), ["планировочное решение", "планировочных решения", "планировочных решений"]); ?> </h2></div>
	<div class="row">
		<?
		$i=0; 
		foreach ($this->itemListPlan as $item): ?>
			<?
				if($i < 5){$class="show option";}else{$class="hide option";};
			?>
			<?= $this->partial("project/partials/plan-item-option.phtml", ["item" => $item,"class"=>$class]) ?>
		<?
		$i+=1;
		endforeach ?>						
		<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
			<div class="plan_outer">
				<div class="plan alien note taupe">
					<a href="/plan/step1/?selected_plan=<?=$this->options?>">
						<span class="ask">Не нашли подходящее решение?</span>
						<span class="mess">Закажите индивидуальную планировку прямо сейчас</span>
					</a>
					<div class="line_1"></div>
					<div class="line_2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<?}else if(count($this->itemListPlan) <= 0 && (int) $this->options > 0){?>
	<?= $this->partial("_partials/not-found-status/plan.phtml", ["message" => " <p>Мы не нашли подходящих планировочных решений</p>"]) ?>
<?};?>
<?if(count($this->itemListDesign) > 0){?>
<div class="list-plan list-plan-design">
	<div class="content"><h2 class="title type_n3">Для вас мы подобрали <?=count($this->itemListDesign)?> <?= EHelper::getWordForm(count($this->itemListDesign), ["готовый дизайн-проект", "готовых дизайн-проекта", "готовых дизайн-проектов"]); ?></h2></div>
	<!--<div class="row">
		<?
		/*$i=0; 
		foreach ($this->itemListDesign as $item): ?>
			<?
				if($i < 5){$class="show";}else{$class="hide";};
			?>
			<?= $this->partial("project/partials/design-item.phtml", ["item" => $item,"class"=>$class]) ?>
		<?
		$i+=1;
		endforeach*/?>						
		<div class="col-xs-3 col-sm-3 col-md-3 design-offset">
			<div class="design alien">
				<div class="design-inner">
					
						<span class="ask">Не можете определиться?<br/>А может ничего не нравится?</span>
						<span class="mess">
						Вызовите замерщика
						бесплатно</span>
					
					<div class="search-individual"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="/project/step1/?id_flat=<?=$this->options?>">
					Найти индивидуальное решение</a></div>
				</div>
			</div>
		</div>
	</div>	-->
	<style>
.project-page .feature-list .out-feature-item {
    height: 400px;
    padding: 0 10px;
}
.project-page .feature-list .out-feature-item img{
	width:100%;
}
.project-page .feature-list {
    text-align: center;
}
.preview360-gallery, .preview360-gallery > img {
  height: 200px;
  width: 200px;
}
.preview360-gallery {
    height: 238px;
    width: 238px;
    position: relative;
}
.preview360-gallery > img {
    height: 238px;
    width: 238px;
    left: 0;
    position: absolute;
}


.preview360-hide {
  z-index:9;
}
</style>
	<div class="feature-out">
		<div class="feature-list row">
			<?
			$i=0; 
			
			foreach ($this->itemListDesign as $item): ?>
				<?
					if($i < 5){$class="show";}else{$class="hide";};
				?>
				<?= $this->partial("project/partials/design-item_r.phtml", ["item" => $item,"class"=>$class]) ?>
			<?
			$i+=1;
			endforeach ?>						
			<div class="col-xs-3 col-sm-3 col-md-3 design-offset">
				<div class="design alien">
					<div class="design-inner">
						<span class="ask">Не можете определиться?<br/>Не нашлось подходящих вариантов?</span>
						<div class="search-individual"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" style="height:auto; display:block;" data-step="4" href="/project/step1/?id_flat=<?=$this->options?>">Заказать индивидуальное <br/>решение</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?}else if(count($this->itemListDesign) <= 0 && (int) $this->options > 0 && (int) $_GET['designs'] > 0){?>
	<?= $this->partial("_partials/not-found-status/plan.phtml", ["message" => " <p>Мы не нашли подходящих дизайн-проектов</p>"]) ?>
<?}?>
