<?
	$projectData = $this->projectData;
	$ARR_PROJECT_ORDER = $this->ARR_PROJECT_ORDER;
	$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;
	
	$TYPE_ROOM = Sibirix_Model_Reference::getReference(HL_TYPEROOM, array("UF_NAME", "UF_XML_ID", "UF_ID_MEDIA", "ID"), "UF_XML_ID");
	$AGE_PEOPLE = Sibirix_Model_Reference::getReference(HL_AGEPEOPLE, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	$AGE_PEOPLE_CHILD = Sibirix_Model_Reference::getReference(HL_AGE_PEOPLE_CHILD, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	$ANIMALS = Sibirix_Model_Reference::getReference(HL_ANIMAL, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	
?>

<input type="hidden" id="designId" name="designId" value="2475">
<div id="service-page">
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li><a class="under-link" href="/project/step1/">Выбор планировки</a></li>
						<li><a class="under-link" href="/project/step2/">Параметры дизайн-проекта</a></li>
						<li class="selected"><a href="/project/step3/">Оформление</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<?if($projectData->PROPERTY_TYPE_ORDER_ENUM_ID == PROJECT_TYPE_ORDER_APARTMENT){
		$TOTAL_AREA = 0;
		foreach($ARR_PROJECT_ORDER as $order){
			$TOTAL_AREA += $order->PROPERTY_AREA_VALUE;
		}?>
		<div class="content-container">
			<div class="left_bn">
				<div class="content">
					<h2 class="page-title">Проверка заказа</h2>
					<p class="title_type4">Общая площадь <?=$TOTAL_AREA?>м&#178;</p>
					<hr/>
					<p class="title_type4">Планировка</p>
					<div class="plan" style="position:relative"><img src="<?=$PLAN_OPTION_SAVE[0]->PLAN_IMAGE?>" alt="">
					</div>
					<hr/>		
					<?
					$i = 1;
					foreach($ARR_PROJECT_ORDER as $order){				
						if($i == 1){
							$class = "open";
						}
						else{
							$class = "closeroom";
						}
						if($order->PROPERTY_PRICE_SQUARE_VALUE){
							$PRICE_SQUARE = $order->PROPERTY_PRICE_SQUARE_VALUE;
						}
						else{
							$PRICE_SQUARE = PRICE_SQUARE;
						}
					?>	
			
					<div class="room_option <?=$class?>" id="room_n_<?=$i?>">
						<form enctype="application/x-www-form-urlencoded" class="js-family-form" action="/project/savestep4" method="post" novalidate="novalidate">				
								<p class="title_type4">Состав семьи</p>
								<div class="row row_popup">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Взрослые</label>
										<div class="list-item-family">
											<?foreach($order->FAMILY['PEOPLE']->items as $people){?>
												<div class="item-family">
													<span class="icon female <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'active';}?>"></span>
													<span class="icon man <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'active';}?>"></span>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<div class="value_popups">
															<?foreach($AGE_PEOPLE as $AGE){
																if($AGE[1] == $people->PROPERTY_PEOPLE_AGE_VALUE){
																	echo $AGE[0];
																}
															}
															?>
															</div>
														</div>
													</div>
												</div>
											<?}?>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Дети до 18</label>
										<div class="list-item-family">
											<?foreach($order->FAMILY['PEOPLE_CHILDREN']->items as $people_children){?>
												<div class="item-family">
													<span class="icon female <?if($people_children->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'active';}?>"></span>
													<span class="icon man <?if($people_children->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'active';}?>"></span>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<div class="value_popups">
															<?foreach($AGE_PEOPLE_CHILD as $AGE){
																if($AGE[1] == $people_children->PROPERTY_PEOPLE_AGE_VALUE){
																	echo $AGE[0];
																}
															}
															?>
															</div>
														</div>
													</div>
												</div>
											<?}?>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12">
										<label class="type_family">Домашние животные</label>
										<p class="simple_text"><?
											$end_element = array_pop($order->FAMILY['ANIMAL']->items);
											foreach($order->FAMILY['ANIMAL']->items as $animal){	
												echo $animal->PROPERTY_ANIMAL_VALUE .', ';
											}
											echo $end_element->PROPERTY_ANIMAL_VALUE;									
											?>
										</p>
									</div>
								</div>
								<?if(count($ARR_PROJECT_ORDER->PROPERTY_DESIGN_LIKED_VALUE) > 0){?>
								<div class="row">
									<label class="type_family">Понравившиеся дизайны</label>
									<div class="list-like-design">
										<ul>
										<?	foreach($ARR_PROJECT_ORDER->PROPERTY_DESIGN_LIKED_VALUE as $design){?>
												<li class="design"><img src="<?=$design?>" alt=""/></li>
										<?}?>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<?}?>
								<div class="row row_popup">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Стоимость</label>
										<div class="data-room">
											<span class="font-type-4"><?=$order->PRICE_ROOM?> ₽</span><span class="formula">(300 ₽ × 76 м2) + 850 ₽<br/>
											(20% комиссия за пользованием системы)</span>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div style="float:right;">
											<label class="type_family">Срок</label>
											<div class="data-room">
												<span class="font-type-4"><?=$order->PROPERTY_TIME_VALUE?> <?= EHelper::getWordForm($order->PROPERTY_TIME_VALUE, ["день", "дня", "дней"]); ?></span>
											</div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<?if(!empty($ARR_PROJECT_ORDER->PROPERTY_SUGGEST['TEXT'])){?>
									<div class="row row_popup">
											<label class="type_family">Описание проекта</label>
											<div class="disc_project_room">
												<?=$ARR_PROJECT_ORDER->PROPERTY_SUGGEST['TEXT']?>
											</div>
										</p>
									</div>
								<?}?>

			
						
							<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
							<!--<div class="step active" id="deneg_day">
								<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
							</div>-->				
						</form>
					</div>
					<?
					$i+=1;
					}?>		

					<div class="project_step3_btn">
						<div class="btn-wrapper-dropdown">
							<a class="btn blue waves-effect to-basket basket js-add-basket" href="javascript:void(0)" data-element-id="<?=$projectData->ID?>">Подтвердить</a>
						</div>
						<div class="btn-wrapper-dropdown">
							<a class="btn no-ph waves-effect" href="/project/step2/">Редактировать</a>
						</div>
					</div>
				</div>
			</div>
			<div class="right_bn">
				<?= $this->partial('project/partials/right_bn.phtml', array('noshow' => true, 'access' => $access, 'auth' => $auth, 'starting_price' => $starting_price, 'projectData' => $projectData, 'url' => $url, 'nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'PLAN_SAVE' => $PLAN_SAVE, 'PLAN_OPTION_SAVE' => $PLAN_OPTION_SAVE)) ?>
			</div>
			<div class="clear"></div>
		</div>
	<?}
	else if($projectData->PROPERTY_TYPE_ORDER_ENUM_ID == PROJECT_TYPE_ORDER_ROOM){
		$TOTAL_AREA = 0;
		foreach($ARR_PROJECT_ORDER as $order){
			$TOTAL_AREA += $order->PROPERTY_AREA_VALUE;
		}
		?>
		<div class="content-container">
			<div class="left_bn">
				<div class="content">
					<h2 class="page-title">Проверка заказа</h2>
					<p class="title_type4">Общая площадь <?=$TOTAL_AREA?>м&#178;</p>
					<ul class="list-room">
					
					
					<?foreach($ARR_PROJECT_ORDER as $order){
						if(!empty($order->PROPERTY_TYPE_ROOM_VALUE)){
					?>
						<li><?=$order->PROPERTY_TYPE_ROOM_VALUE?><span class="point">......................</span><?=$order->PROPERTY_AREA_VALUE?>м&#178;</li>
					<?};};?>
					</ul>
					<hr/>
					<p class="title_type4">Планировка</p>
					<div class="plan" style="position:relative"><img src="<?=$PLAN_OPTION_SAVE[0]->PLAN_IMAGE?>" alt="">
					</div>
					<hr/>			
					<p class="title_type4">Комнаты</p>
				
					<?
					$i = 0;
					foreach($ARR_PROJECT_ORDER as $order){
						if($i == 0){
							$class = "open";
						}
						else{
							$class = "closeroom";
						}
					?>
					<div class="btn-wrap-room"><div class="overlap noactive"></div><div data-type="room" class="open-close-room js-close-open-room <?=$class?>" data-for="room_n_<?=$i?>"><span class="status"></span><span class="room_txt">Комната №<?=$i + 1?>(<?=$order->PROPERTY_AREA_VALUE?>м&#178;)</span><span class="arrow"></span></div></div>
					<div class="room_option <?=$class?>" id="room_n_<?=$i?>">
						<form enctype="application/x-www-form-urlencoded" class="js-family-form" action="/project/savestep4" method="post" novalidate="novalidate">				
								<div class="row row_popup">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Взрослые</label>
										<div class="list-item-family">
											<?foreach($order->FAMILY['PEOPLE']->items as $people){?>
												<div class="item-family">
													<span class="icon female <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'active';}?>"></span>
													<span class="icon man <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'active';}?>"></span>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<div class="value_popups">
															<?foreach($AGE_PEOPLE as $AGE){
																if($AGE[1] == $people->PROPERTY_PEOPLE_AGE_VALUE){
																	echo $AGE[0];
																}
															}
															?>
															</div>
														</div>
													</div>
												</div>
											<?}?>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Дети до 18</label>
										<div class="list-item-family">
											<?foreach($order->FAMILY['PEOPLE_CHILDREN']->items as $people_children){?>
												<div class="item-family">
													<span class="icon female <?if($people_children->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'active';}?>"></span>
													<span class="icon man <?if($people_children->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'active';}?>"></span>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<div class="value_popups">
															<?foreach($AGE_PEOPLE_CHILD as $AGE){
																if($AGE[1] == $people_children->PROPERTY_PEOPLE_AGE_VALUE){
																	echo $AGE[0];
																}
															}
															?>
															</div>
														</div>
													</div>
												</div>
											<?}?>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12">
										<label class="type_family">Домашние животные</label>
										<p class="simple_text"><?
											$end_element = array_pop($order->FAMILY['ANIMAL']->items);
											foreach($order->FAMILY['ANIMAL']->items as $animal){	
												echo $animal->PROPERTY_ANIMAL_VALUE .', ';
											}
											echo $end_element->PROPERTY_ANIMAL_VALUE;									
											?>
										</p>
									</div>
								</div>
								<?if(count($order->PROPERTY_DESIGN_LIKED_VALUE) > 0){?>
									<div class="row">
										<label class="type_family">Понравившиеся дизайны</label>
										<div class="list-like-design">
											<ul>
											<?foreach($order->PROPERTY_DESIGN_LIKED_VALUE as $design){?>
												<li class="design"><img src="<?=$design?>" alt=""/></li>
											<?}?>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								<?}?>
								<div class="row row_popup">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<label class="type_family">Стоимость</label>
										<div class="data-room">
											<span class="font-type-4"><?=$order->PRICE_ROOM?> ₽</span><span class="formula">(300 ₽ × 76 м2) + 850 ₽<br/>
											(20% комиссия за пользованием системы)</span>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div style="float:right;">
											<label class="type_family">Срок</label>
											<div class="data-room">
												<span class="font-type-4"><?=$order->PROPERTY_TIME_VALUE?><?= EHelper::getWordForm($order->PROPERTY_TIME_VALUE, ["день", "дня", "дней"]); ?></span>
											</div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<?if(!empty($order->PROPERTY_SUGGEST['TEXT'])){?>
									<div class="row row_popup">
											<label class="type_family">Описание проекта</label>
											<div class="disc_project_room">
												<?=$order->PROPERTY_SUGGEST['TEXT']?>
											</div>
										</p>
									</div>
								<?}?>

			
						
							<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
							<!--<div class="step active" id="deneg_day">
								<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
							</div>-->				
						</form>
					</div>
					<?
					$i+=1;
					}?>		

				<div class="project_step3_btn">
					<div class="btn-wrapper-dropdown">
						<a class="btn blue waves-effect to-basket basket js-add-basket" href="javascript:void(0)" data-element-id="<?=$projectData->ID?>">Подтвердить</a>
					</div>
					<div class="btn-wrapper-dropdown">
						<a class="btn no-ph waves-effect" href="/project/step2/">Редактировать</a>
					</div>
				</div>
				</div>
			</div>
			<div class="right_bn">
				<?= $this->partial('project/partials/right_bn.phtml', array('noshow' => true, 'access' => $access, 'auth' => $auth, 'starting_price' => $starting_price, 'projectData' => $projectData, 'url' => $url, 'nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'PLAN_SAVE' => $PLAN_SAVE, 'PLAN_OPTION_SAVE' => $PLAN_OPTION_SAVE)) ?>
			</div>
			<div class="clear"></div>
		</div>
	<?}?>
</div>
<script>
	//Времмено находится тут
	(function(){
		var a = document.querySelector('.right_bn'), b = null, P = 10;
		window.addEventListener('scroll', Ascroll, false);
		document.body.addEventListener('scroll', Ascroll, false);
		function Ascroll() {
		  if (b == null) {
			var Sa = getComputedStyle(a, ''), s = '';
			for (var i = 0; i < Sa.length; i++) {
			  if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
				s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
			  }
			}
			b = document.createElement('div');
			b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
			a.insertBefore(b, a.firstChild);
			var l = a.childNodes.length;
			for (var i = 1; i < l; i++) {
			  b.appendChild(a.childNodes[1]);
			}
			a.style.height = b.getBoundingClientRect().height + 'px';
			a.style.padding = '0';
			a.style.border = '0';
		  }
		  var Ra = a.getBoundingClientRect(),
			  R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('footer').getBoundingClientRect().top);  // селектор блока, при достижении нижнего края которого нужно открепить прилипающий элемент
		  if ((Ra.top - P) <= 0) {
			if ((Ra.top - P) <= R) {
			  b.className = 'stop';
			  b.style.top = - R +'px';
			} else {
			  b.className = 'sticky';
			  b.style.top = P + 'px';
			}
		  } else {
			b.className = '';
			b.style.top = '';
		  }
		  window.addEventListener('resize', function() {
			a.children[0].style.width = getComputedStyle(a, '').width
		  }, false);
		}
})()	
</script>
