<?

	$PLAN_SAVE = $this->PLAN_SAVE;
	$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;
	$ARR_ROOM = $this->ARR_ROOM;
	$ARR_PROJECT_ROOM = $this->ARR_PROJECT_ROOM;
	$ARR_PROJECT_APARTMENT = $this->ARR_PROJECT_APARTMENT;
	$PRICE_PROJECT = $this->PRICE_PROJECT;
	$projectData = $this->projectData;//заказ
	$starting_price = $this->starting_price;//цена
	$step = $this->step;
	$nextstep = $this->nextstep;
	$nextstep_d = $this->nextstep_d;
	$url = $this->url;
	$access = $this->access;
	$auth = $this->auth;
	
	//разрешения на показ блока в чеке
	$show_plan = $this->show_plan;
	$show_list_plan = $this->show_list_plan;
	$show_list_family = $this->show_list_family;
	$total_area = 0;
	
	foreach($ARR_ROOM as $room){
		$total_area+=$room->PROPERTY_AREA_VALUE;
	}

	$TYPE_ROOM = Sibirix_Model_Reference::getReference(HL_TYPEROOM, array("UF_NAME", "UF_XML_ID", "UF_ID_MEDIA", "ID"), "UF_XML_ID");
	$AGE_PEOPLE = Sibirix_Model_Reference::getReference(HL_AGEPEOPLE, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	$AGE_PEOPLE_CHILD = Sibirix_Model_Reference::getReference(HL_AGE_PEOPLE_CHILD, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	$ANIMALS = Sibirix_Model_Reference::getReference(HL_ANIMAL, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");

?>

<input type="hidden" id="designId" name="designId" value="2475">
<div id="service-page" data-step=<?=$step?>>
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li><a class="under-link" href="/project/step1/">Выбор планировки</a></li>
						<li class="selected"><a href="/project/step2/">Параметры дизайн-проекта</a></li>
						<li><?if($projectData->PROPERTY_STEP_VALUE < 3){?><div class="overlap"></div><?};?><a class="under-link" href="/project/step3/">Оформление</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content-container">
		<div class="left_bn">
			<div class="content">
				<h2 class="page-title">Параметры дизайн-проекта</h2>
				<p class="simple_text">Выберите какой дизайн-проект вам нужен: для всей квартиры, для одной или нескольких комнат.<br/> Подробно заполните все данные - это поможет дизайнерам понять ваши вкусы и пожелания.</p>
			</div>
			<div id="main-list-order-step2">
				<?
				$i = 0;
				foreach($ARR_ROOM as $room){	
					if($i == 0){$class = "closeroom";}
					else{$class = "closeroom";}
				?>
				<div class="content"><div class="btn-wrap-room"><div class="overlap noactive"></div><div data-type="room" class="open-close-room js-close-open-room <?=$class?>" data-for="room_n_<?=$i?>"><span class="status"></span><span class="room_txt">Комната №<?=$i + 1?>(<?=$room->PROPERTY_AREA_VALUE?>м&#178;)</span><span class="arrow"></span></div></div></div>
					<!--START_ROOM-->
						
					<div class="room_option <?=$class?> js-room-option" id="room_n_<?=$i?>">
						<form enctype="application/x-www-form-urlencoded" class="js-room-form room_form" action="/project/savestep2" method="post" novalidate="novalidate">
							<input type="hidden" name="type_order" value="<?=TYPE_ORDER_ROOM?>"/>
							<input type="hidden" name="id_room_ib_room" value="<?=$room->ID?>"/>
							<input type="hidden" name="id_room" value="<?=$ARR_PROJECT_ROOM[$i]->ID?>"/>
							<div class="content">
								<div class="type_room">
									<div class="select2_view_n4">
										<div class="select2-container select-container-age-1" style="position:relative">
											<label>Назначение комнаты</label>
											<select class="js-type-3 js-select-type-room type_room" name="type_room">
												<option 
													data-type=""
													value="" 
													selected
												>
														Выберите
												</option>
												<?foreach($TYPE_ROOM as $A_TYPE){?>
													<option 
														data-type="<?=$A_TYPE[0]?>"
														data-media-id="<?=$A_TYPE[2]?>"
														value="<?=$A_TYPE[1]?>"
														<?if($A_TYPE[1] == $ARR_PROJECT_ROOM[$i] -> PROPERTY_TYPE_ROOM_VALUE){
															echo 'selected';
														};?>
													>
														<?=$A_TYPE[0]?>
													</option>
												<?}?>										
											</select>
										</div>
									</div>
								</div>
								<hr/>
							</div>
							<input type="hidden" name="area" value="<?=$room->PROPERTY_AREA_VALUE?>"/>
							<input type="hidden" name="price_square" value="<?=$room->PROPERTY_PRICE_SQUARE?>"/>
							<div id="show-design" class="desibled">
								
								<?=$this->partial('project/changetyperoom.ajax.phtml', array('ARR_PROJECT_ROOM' => $ARR_PROJECT_ROOM[$i]))?>
								
							</div>
							<div class="content<?if(!$ARR_PROJECT_ROOM[$i] -> PROPERTY_DESIGN_LIKED_VALUE  || 
												count($ARR_PROJECT_ROOM[$i] -> PROPERTY_DESIGN_LIKED_VALUE) <= 0){
													echo ' desibled';
												}?>">
								<div class="row">
									<label class="sub-title">Понравившиеся дизайны</label>
									<div class="list-like-design flag">
										<ul>
											<?foreach($ARR_PROJECT_ROOM[$i]->PROPERTY_DESIGN_LIKED_VALUE as $design){?>
												<li class="design"><a class="gallery" rel="group" href="<?=$design?>"><img src="<?=$design?>"/></a><input type="hidden" name="liked_design[]" value="<?=$design?>"/></li>
											<?}?>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="content">
								<hr style="margin:30px 0"/>
								<h2 class="sub-title"><span class="live_in_room">Кто будет жить в этой комнате</span>
													  <span class="used_room noactive">Кто будет пользоваться комнатой</span>
								</h2>	
								<div class="row">					
									<div class="list-item-family" id="list-people-family">
										<?if($ARR_PROJECT_ROOM[$i] -> FAMILY['PEOPLE'] -> pageData -> totalItemsCount > 0){
											foreach($ARR_PROJECT_ROOM[$i] -> FAMILY['PEOPLE'] -> items as $people){
												$UNIQUE_ID_RADIO 	= uniqid('radio',true);
												$UNIQUE_ID_NAME 	= uniqid('name',true);
											?>
												<div class="item-family">
													<div class="tag">
														<label class="free-design">
															<input type="radio" <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'checked';}?> name="people[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME?>" value="man" class=""><i></i>
															<span class="hint">Муж</span>
														</label>
														<label class="free-design">
															<input type="radio" <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'checked';}?> name="people[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME + '1'?>" value="female" class=""><i></i>
															<span class="hint">Жен</span>
														</label>
													</div>													
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<select class="js-type-1" name="people[<?=$UNIQUE_ID_NAME?>][age]">
																<?foreach($AGE_PEOPLE as $AGE){?>
																	<option 
																		data-type="<?=$AGE[0]?>" 
																		value="<?=$AGE[1]?>"
																		<?if($AGE[1] == $people->PROPERTY_PEOPLE_AGE_VALUE){
																			echo 'selected';
																		}
																		?>			
																	>
																		<?=$AGE[0]?>
																	</option>
																<?}?>	
															</select>
														</div>
													</div>
												</div>
										<?	}
										}else{
										?>
											<div class="item-family">
												<div class="tag">
													<label class="free-design">
														<input type="radio" name="people[0][gender]" id="people_gender_0001" value="man" class=""><i></i>
														<span class="hint">Муж</span>
													</label>
													<label class="free-design">
														<input type="radio" name="people[0][gender]" id="people_gender_0002" value="female" class=""><i></i>
														<span class="hint">Жен</span>
													</label>
												</div>
												<div class="select2_view_n1">
													<div class="select2-container select-container-age-1" style="position:relative">
														<label>Возраст</label>
														<select class="js-type-1" name="people[0][age]">
															<?foreach($AGE_PEOPLE as $AGE){?>
																<option 
																	data-type="<?=$AGE[0]?>" 
																	value="<?=$AGE[1]
																	
																	?>" 
																>
																	<?=$AGE[0]?>
																</option>
															<?}?>										
														</select>
													</div>
												</div>
											</div>
										<?}?>
									</div>
									<div class="family-management btns">
										<div class="js-add-family add btn"></div>
										<div class="js-remove-family remove btn"></div>
									</div>
								</div>
								<div class="row">
									<div class="option_family">
										<label class="type_family">Есть ли дети до 18 лет?</label>
										<div class="list-item-family" id="list-people-children-family">
										
										<?
											if($ARR_PROJECT_ROOM[$i] -> FAMILY['PEOPLE_CHILDREN'] -> pageData -> totalItemsCount > 0){								
												foreach($ARR_PROJECT_ROOM[$i] -> FAMILY['PEOPLE_CHILDREN'] -> items as $people_child){
													$UNIQUE_ID_RADIO 	= uniqid('radio',true);
													$UNIQUE_ID_NAME 	= uniqid('name',true);
										?>
													<div class="item-family">
														<div class="tag">
															<label class="free-design">
																<input type="radio" <?if($people_child->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'checked';}?> name="people_children[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME?>" value="man" class="js-design-free js-filter"><i></i>
																<span class="hint">Муж</span>
															</label>
															<label class="free-design">
																<input type="radio" <?if($people_child->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'checked';}?> name="people_children[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME + '1'?>" value="female" class="js-design-free js-filter"><i></i>
																<span class="hint">Жен</span>
															</label>
														</div>
														<div class="select2_view_n1">
															<div class="select2-container select-container-age-1" style="position:relative">
																<label>Возраст</label>
																<select class="js-type-1" name="people_children[<?=$UNIQUE_ID_NAME?>][age]">
																	<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
																		<option 
																			data-type="<?=$AGE[0]?>" 
																			value="<?=$AGE[1]?>"
																			<?if($AGE[1] == $people_child->PROPERTY_PEOPLE_AGE_VALUE){
																				echo 'selected';
																			}
																			?>
																		>
																			<?=$AGE[0]?>
																		</option>
																	<?}?>
																</select>
															</div>
														</div>
													</div>
												<?};
											}else{
											?>
												<div class="item-family">
													<div class="tag">
														<label class="free-design">
															<input type="radio" name="people_children[0][gender]" id="people_children_0003" value="man" class="js-design-free js-filter"><i></i>
															<span class="hint">Муж</span>
														</label>
														<label class="free-design">
															<input type="radio" name="people_children[0][gender]" id="people_children_0004" value="female" class="js-design-free js-filter"><i></i>
															<span class="hint">Жен</span>
														</label>
													</div>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<select class="js-type-1" name="people_children[0][age]">
																<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
																	<option 
																		data-type="<?=$AGE[0]?>" 
																		value="<?=$AGE[1]?>" 
																		
																	>
																		<?=$AGE[0]?>
																	</option>
																<?}?>
															</select>
														</div>
													</div>
												</div>
											<?}?>
										</div>
										<div class="family-management btns">
											<div class="js-add-family-children add btn"></div>
											<div class="js-remove-family-children remove btn"></div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="select2_view_n2">
										<label class="type_family">Домашние животные</label>
										<div class="list-item-family" id="list-animal-family">
											<?
												if($ARR_PROJECT_ROOM[$i] -> FAMILY['ANIMAL']-> pageData -> totalItemsCount > 0){					
													foreach($ARR_PROJECT_ROOM[$i] -> FAMILY['ANIMAL']->items as $animal){?>
														<div class="item-family">
															<div class="select2-container select-container-age-1" style="position:relative">
																<select class="js-type-1" name="animal[]">
																	<?foreach($ANIMALS as $ANIMAL){?>
																		<option 
																		data-type="<?=$ANIMAL[0]?>" 
																		value="<?=$ANIMAL[1]?>"
																		<?if($ANIMAL[1] == $animal->PROPERTY_ANIMAL_VALUE){
																				echo 'selected';
																		}?>
																		>
																		<?=$ANIMAL[0]?>
																		</option>
																	<?}?>
																</select>
															</div>
														</div>
												<?}
												}else{
												?>
														<div class="item-family">
															<div class="select2-container select-container-age-1" style="position:relative">
																<select class="js-type-1" name="animal[]">
																	<?foreach($ANIMALS as $ANIMAL){?>
																		<option 
																		data-type="<?=$ANIMAL[0]?>" 
																		value="<?=$ANIMAL[1]?>" 
																		>
																		<?=$ANIMAL[0]?>
																		</option>
																	<?}?>
																</select>
															</div>
														</div>
												<?}?>
										</div>
										<div class="family-management btns">
											<div class="js-add-family-animal add btn">
											</div>
											<div class="js-remove-family-animal remove btn"></div>
										</div>
									</div>
								</div>
								<hr style="margin:30px 0"/>
								<h2 class="sub-title">Настройки заказа</h2>
								<input type="hidden" id="layout" value="<?=$layout?>"/>
								
								<div class="input-out">	
									<div class="input-row">					
										<label for="price_project" class="required">Стоимость проекта за 1м&#178;</label>
										<input type="text" name="price_project" id="price_project<?=$i?>" class="required view_n2" maxlength="100" value="<?if($ARR_PROJECT_ROOM[$i]->PROPERTY_PRICE_SQUARE){echo $ARR_PROJECT_ROOM[$i]->PROPERTY_PRICE_SQUARE;}else{echo PRICE_SQUARE;};?>" placeholder="">
										<span class="js-error error-message"></span>
										<div class="slider price_project<?=$i?>"></div>
										<p class="count left">
											<span class="b">Мало</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
										</p>
										<p class="count center">
											<span class="b">Нормально</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
										</p>
										<p class="count right">
											<span class="b">Самое то!</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
										</p>
										<div id="slider-result"></div> 
										<div class="final">
											<p><span class="big">Итого: <span id="result_price"><?if($ARR_PROJECT_ROOM[$i]->PRICE_ROOM){echo $ARR_PROJECT_ROOM[$i]->PRICE_ROOM;}else{echo (PRICE_SQUARE * $room->PROPERTY_AREA_VALUE) + (PRICE_SQUARE * $room->PROPERTY_AREA_VALUE) / 100 * COMISSION_PERCENT;};?></span> &#8381;</span>
											<span class="brackets">&nbsp;}&nbsp;</span>
											<span class="formula">(<?=PRICE_SQUARE?> &#8381; * <?=$room->PROPERTY_AREA_VALUE?> м&#178;) +  <?=(PRICE_SQUARE * $room->PROPERTY_AREA_VALUE) / 100 * COMISSION_PERCENT?> &#8381; (<?=COMISSION_PERCENT?>% комиссия за пользование системы)</span></p>
										</div>								
									</div>
								</div>
								
								<div class="input-out">	
									<div class="input-row">
										<label for="comments" class="required">Ваши пожелания к будущему дизайну</label>
										<textarea name="comments" id="comments" value="" class="required" maxlength="1024" rows="8" placeholder=""><?if(isset($ARR_PROJECT_ROOM[$i] -> PROPERTY_SUGGEST_VALUE['TEXT']) && !empty($ARR_PROJECT_ROOM[$i] -> PROPERTY_SUGGEST_VALUE['TEXT'])){echo $ARR_PROJECT_ROOM[$i] -> PROPERTY_SUGGEST_VALUE['TEXT'];}?></textarea>
										<span class="js-error error-message"></span>
									</div>
									<!--<div class="help_bn">
										Обратите внимание!</br>
										Тут необходимо расписать как необходимо заполнять пожелания к дизайну
									</div>-->
								</div>
								<!--<div class="input-out">
									<div class="input-row">
										<label for="comments" class="required">Прикрепите файл</label>
										<div class="upload-area js-docs-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите файлы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div></div>
										<p class="i file_res">Для загрузки допускаются файлы до 2Мб, форматов: jpg, png, bmp</p>
									</div>
								</div>-->
								<div class="input-out">	
									<div class="input-row">
										<label for="slider_time" class="required">Срок исполнения проекта(дней)</label>
										<input type="text" name="slider_time" id="slider_time<?=$i?>" class="required view_n2" maxlength="100" value="<?if(isset($ARR_PROJECT_ROOM[$i] -> PROPERTY_TIME_VALUE) 
																																						&& !empty($ARR_PROJECT_ROOM[$i] -> PROPERTY_TIME_VALUE)){
																																							echo $ARR_PROJECT_ROOM[$i] -> PROPERTY_TIME_VALUE;}
																																						else{
																																							echo "7";
																																						}?>" placeholder="">
										<span class="js-error error-message"></span>
										<div class="slider slider_time<?=$i?>"></div>
										<p class="count left">
											<span class="b">Мало</span>
										</p>
										<p class="count center">
											<span class="b">Нормально</span>
										</p>
										<p class="count right">
											<span class="b">Самое то!</span>
										</p>
										<div id="slider-result"></div>  
									</div>
								</div>
								<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
								<!--<div class="step active" id="deneg_day">
									<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
								</div>-->	
							</div>					
						</form>
						<div id="people_family">
							<div class="item-family clone">
								<div class="tag">
									<label class="free-design">
										<input type="radio" name="people[#UNIQUE_ID_NAME#][gender]" id="people_gender_#UNIQUE_ID_RADIO#" value="man" class="js-design-free js-filter"><i></i>
										<span class="hint">Муж</span>
									</label>
									<label class="free-design">
										<input type="radio" name="people[#UNIQUE_ID_NAME#][gender]" id="people_gender_#UNIQUE_ID_RADIO#" value="female" class="js-design-free js-filter"><i></i>
										<span class="hint">Жен</span>
									</label>
								</div>
								<div class="select2_view_n1">
									<div class="select2-container select-container-age-1" style="position:relative">
										<label>Возраст</label>
										<select class="js-type-1" name="people[#UNIQUE_ID_NAME#][age]">
											<?foreach($AGE_PEOPLE as $AGE){?>
												<option 
													data-type="<?=$AGE[0]?>" 
													value="<?=$AGE[1]?>" 
												>
													<?=$AGE[0]?>
												</option>
											<?}?>
										</select>
										
									</div>
								</div>
							</div>
						</div>
						
						<div id="people_family_children">
							<div class="item-family clone">
								<div class="tag">
									<label class="free-design">
										<input type="radio" name="people_children[#UNIQUE_ID_NAME#][gender]" id="people_children_#UNIQUE_ID_RADIO#" value="1" class="js-design-free js-filter"><i></i>
										<span class="hint">Муж</span>
									</label>
									<label class="free-design">
										<input type="radio" name="people_children[#UNIQUE_ID_NAME#][gender]" id="people_children_#UNIQUE_ID_RADIO#" value="1" class="js-design-free js-filter"><i></i>
										<span class="hint">Жен</span>
									</label>
								</div>
								<div class="select2_view_n1">
									<div class="select2-container select-container-age-1" style="position:relative">
										<label>Возраст</label>
										<select class="js-type-1" name="people_children[#UNIQUE_ID_NAME#][age]">
											<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
												<option 
													data-type="<?=$AGE[0]?>" 
													value="<?=$AGE[1]?>" 
												>
													<?=$AGE[0]?>
												</option>
											<?}?>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div id="family_animal">
							<div class="item-family clone">
								<div class="select2-container select-container-age-1" style="position:relative">
									<select class="js-type-1" name="animal[]">
										<?foreach($ANIMALS as $ANIMAL){?>
											<option 
											data-type="<?=$ANIMAL[0]?>" 
											value="<?=$ANIMAL[1]?>" 
											>
											<?=$ANIMAL[0]?>
											</option>
										<?}?>
									</select>
								</div>
							</div>					
						</div>
					</div>
					<!--END ROOM-->
					<script type="text/javascript">
						$( ".price_project<?=$i?>" ).slider({
							animate: true,
							range: "min",
							value: 50,
							min: 100,
							max: 1000,
							step: 10,
							//Получаем значение и выводим его на странице
							slide: function( event, ui ) {
							var val = $(' <span class="rur"><span>')
								$("#price_project<?=$i?>").attr("value",ui.value + val.text());
								var price_cube = ui.value * <?=$room->PROPERTY_AREA_VALUE?>;
								var percent = price_cube/100 * <?=COMISSION_PERCENT?>;
								var price = price_cube + percent;
								$("#result_price").html(Math.round(price));
							},
						});
						$(".slider_time<?=$i?>").slider({
							animate: true,
							range: "min",
							value: 50,
							min: 7,
							max: 365,
							step: 1,
							//Получаем значение и выводим его на странице
							slide: function( event, ui ) {
								$("#slider_time<?=$i?>").attr("value",ui.value);
							},
						});
					</script>
				<?$i+=1;}?>
				<div class="content">
					<div class="btn-wrap-room"><div class="overlap noactive"></div><div data-type="apartment" class="open-close-room js-close-open-room closeroom" data-for="room_n_0_1"><span class="status"></span><span class="room_txt">Дизайн для всей квартиры</span><span class="arrow"></span></div></div>
				</div>
				<div class="room_option js-room-option closeroom" id="room_n_0_1">
					<form enctype="application/x-www-form-urlencoded" class="js-room-form room_form" action="/project/savestep2" method="post" novalidate="novalidate">
						<input type="hidden" name="id_room" value="<?=$ARR_PROJECT_APARTMENT[0]->ID?>"/>
						<input type="hidden" name="type_order" value="<?=TYPE_ORDER_APARTMENT?>"/>
						<input type="hidden" name="area" value="<?=$total_area?>"/>
						<input type="hidden" name="price_square" value="<?=$ARR_PROJECT_APARTMENT[0]->PROPERTY_PRICE_SQUARE?>"/>
						<div id="show-design" class="desibled">			
							<div class="list-design">
								<?
									$type_room = APARTMENT_MEDIA_DESIGN_LIST;
									CModule::IncludeModule("fileman");
									CMedialib::Init();
									$arCollections = CMedialibCollection::GetList(array('arOrder'=>Array('NAME'=>'ASC'),'arFilter' => array('ACTIVE' => 'Y'))); 
									$arItems = CMedialibItem::GetList(array('arCollections' => array("0" => $type_room)));
									$this->listDesign = $arItems;
								?>
								<?if(count($this->listDesign) > 0){?>
								<div class="content"><h2 class="sub-title">Выберите дизайн, который вам нравится</h2></div>
								<div class="row js-select-design" style="height:238px">
								<?for($n = 0; $n < count($this->listDesign); $n++){
									if($n == 0){
										$class = ' active';
									}
									else{
										$class = '';
									}
								?>
								
									<div class="variant_designs<?=$class?>">
										<div class="col-xs-6 col-sm-6 col-md-6 design-offset">
											<div class="design"><img class="picture_design" src="<?=$this->listDesign[$n]['PATH']?>"/></div>
										</div>
										<?$n+=1;?>
										<div class="col-xs-6 col-sm-6 col-md-6 design-offset">
											<div class="design"><img class="picture_design" src="<?=$this->listDesign[$n]['PATH']?>"/></div>
										</div>
									</div>
								<?}?>
								</div>
								<div class="clear"></div>
								<div class="progressBar" style="padding:40px 0 0 0;position:relative;">
									<div class="overlap"></div>
									<input data-bgColor="#dddddd" data-fgColor="#3fb1da" data-thickness="0.1" class="knob"data-width="72" data-min="0" data-max="8" data-angleOffset="0" data-displayPrevious=true value="0">
									<p class="count_variant">из <?=round(count($this->listDesign) / 2)?> <?= EHelper::getWordForm(round(count($this->listDesign) / 2), ["варианта", "вариантов", "вариантов"]); ?></p>
								</div>
								<?}?>
							</div>
						</div>
						<div class="content<?if(!$ARR_PROJECT_APARTMENT[0] -> PROPERTY_DESIGN_LIKED_VALUE  || 
												count($ARR_PROJECT_APARTMENT[0] -> PROPERTY_DESIGN_LIKED_VALUE) <= 0){
													echo ' desibled';
												}?>">
							<div class="row">
								<label class="sub-title">Понравившиеся дизайны</label>
								<div class="list-like-design flag">
									<ul>
										<?foreach($ARR_PROJECT_APARTMENT[0]->PROPERTY_DESIGN_LIKED_VALUE as $design){?>
											<li class="design"><a class="gallery" rel="group" href="<?=$design?>"><img src="<?=$design?>"/></a><input type="hidden" name="liked_design[]" value="<?=$design?>"/></li>
										<?}?>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="content">
							<h2 class="sub-title">Кто будет жить в этой квартире</h2>					
								<div class="row">					
									<div class="list-item-family" id="list-people-family">
										<?if($ARR_PROJECT_APARTMENT[0] -> FAMILY['PEOPLE'] -> pageData -> totalItemsCount > 0){
											foreach($ARR_PROJECT_APARTMENT[0] -> FAMILY['PEOPLE'] -> items as $people){
												$UNIQUE_ID_RADIO 	= uniqid('radio',true);
												$UNIQUE_ID_NAME 	= uniqid('name',true);
											?>
												<div class="item-family">
													<div class="tag">
														<label class="free-design">
															<input type="radio" <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'checked';}?> name="people[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME?>" value="man" class=""><i></i>
															<span class="hint">Муж</span>
														</label>
														<label class="free-design">
															<input type="radio" <?if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'checked';}?> name="people[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME + '1'?>" value="female" class=""><i></i>
															<span class="hint">Жен</span>
														</label>
													</div>													
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<select class="js-type-1" name="people[<?=$UNIQUE_ID_NAME?>][age]">
																<?foreach($AGE_PEOPLE as $AGE){?>
																	<option 
																		data-type="<?=$AGE[0]?>" 
																		value="<?=$AGE[1]?>"
																		<?if($AGE[1] == $people->PROPERTY_PEOPLE_AGE_VALUE){
																			echo 'selected';
																		}
																		?>			
																	>
																		<?=$AGE[0]?>
																	</option>
																<?}?>	
															</select>
														</div>
													</div>
												</div>
										<?	}
										}else{
										?>
											<div class="item-family">
												<div class="tag">
													<label class="free-design">
														<input type="radio" name="people[0][gender]" id="people_gender_0001" value="man" class=""><i></i>
														<span class="hint">Муж</span>
													</label>
													<label class="free-design">
														<input type="radio" name="people[0][gender]" id="people_gender_0002" value="female" class=""><i></i>
														<span class="hint">Жен</span>
													</label>
												</div>
												<div class="select2_view_n1">
													<div class="select2-container select-container-age-1" style="position:relative">
														<label>Возраст</label>
														<select class="js-type-1" name="people[0][age]">
															<?foreach($AGE_PEOPLE as $AGE){?>
																<option 
																	data-type="<?=$AGE[0]?>" 
																	value="<?=$AGE[1]
																	
																	?>" 
																>
																	<?=$AGE[0]?>
																</option>
															<?}?>										
														</select>
													</div>
												</div>
											</div>
										<?}?>
									</div>
									<div class="family-management btns">
										<div class="js-add-family add btn"></div>
										<div class="js-remove-family remove btn"></div>
									</div>
								</div>
							
								<div class="row">
									<div class="option_family">
										<label class="type_family">Есть ли дети до 18 лет?</label>
										<div class="list-item-family" id="list-people-children-family">
										
										<?
											if($ARR_PROJECT_APARTMENT[0] -> FAMILY['PEOPLE_CHILDREN'] -> pageData -> totalItemsCount > 0){										
												foreach($ARR_PROJECT_APARTMENT[0] -> FAMILY['PEOPLE_CHILDREN'] -> items as $people_child){
													$UNIQUE_ID_RADIO 	= uniqid('radio',true);
													$UNIQUE_ID_NAME 	= uniqid('name',true);
										?>
													<div class="item-family">
														<div class="tag">
															<label class="free-design">
																<input type="radio" <?if($people_child->PROPERTY_PEOPLE_GENDER_ENUM_ID == 95){echo 'checked';}?> name="people_children[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME?>" value="man" class="js-design-free js-filter"><i></i>
																<span class="hint">Муж</span>
															</label>
															<label class="free-design">
																<input type="radio" <?if($people_child->PROPERTY_PEOPLE_GENDER_ENUM_ID == 96){echo 'checked';}?> name="people_children[<?=$UNIQUE_ID_NAME?>][gender]" id="people_gender_<?=$UNIQUE_ID_NAME + '1'?>" value="female" class="js-design-free js-filter"><i></i>
																<span class="hint">Жен</span>
															</label>
														</div>
														<div class="select2_view_n1">
															<div class="select2-container select-container-age-1" style="position:relative">
																<label>Возраст</label>
																<select class="js-type-1" name="people_children[<?=$UNIQUE_ID_NAME?>][age]">
																	<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
																		<option 
																			data-type="<?=$AGE[0]?>" 
																			value="<?=$AGE[1]?>"
																			<?if($AGE[1] == $people_child->PROPERTY_PEOPLE_AGE_VALUE){
																				echo 'selected';
																			}
																			?>
																		>
																			<?=$AGE[0]?>
																		</option>
																	<?}?>
																</select>
															</div>
														</div>
													</div>
												<?};
											}else{
											?>
												<div class="item-family">
													<div class="tag">
														<label class="free-design">
															<input type="radio" name="people_children[0][gender]" id="people_children_0003" value="man" class="js-design-free js-filter"><i></i>
															<span class="hint">Муж</span>
														</label>
														<label class="free-design">
															<input type="radio" name="people_children[0][gender]" id="people_children_0004" value="female" class="js-design-free js-filter"><i></i>
															<span class="hint">Жен</span>
														</label>
													</div>
													<div class="select2_view_n1">
														<div class="select2-container select-container-age-1" style="position:relative">
															<label>Возраст</label>
															<select class="js-type-1" name="people_children[0][age]">
																<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
																	<option 
																		data-type="<?=$AGE[0]?>" 
																		value="<?=$AGE[1]?>" 
																		
																	>
																		<?=$AGE[0]?>
																	</option>
																<?}?>
															</select>
														</div>
													</div>
												</div>
											<?}?>
										</div>
										<div class="family-management btns">
											<div class="js-add-family-children add btn"></div>
											<div class="js-remove-family-children remove btn"></div>
										</div>
									</div>
								</div>
							
							<div class="row">
								<div class="select2_view_n2">
									<label class="type_family">Домашние животные</label>
									<div class="list-item-family" id="list-animal-family">
										<?
											if(count($ARR_PROJECT_APARTMENT[0] -> PROPERTY_ANIMAL_VALUE) > 0){					
												foreach($ARR_PROJECT_APARTMENT[0] -> FAMILY['ANIMAL']->items as $animal){?>
													<div class="item-family">
														<div class="select2-container select-container-age-1" style="position:relative">
															<select class="js-type-1" name="animal[]">
																<?foreach($ANIMALS as $ANIMAL){?>
																	<option 
																	data-type="<?=$ANIMAL[0]?>" 
																	value="<?=$ANIMAL[1]?>"
																	<?if($ANIMAL[1] == $animal->PROPERTY_ANIMAL_VALUE){
																		echo 'selected';
																	}?>
																	>
																	<?=$ANIMAL[0]?>
																	</option>
																<?}?>
															</select>
														</div>
													</div>
											<?}
											}else{?>
													<div class="item-family">
														<div class="select2-container select-container-age-1" style="position:relative">
															<select class="js-type-1" name="animal[]">
															<?foreach($ANIMALS as $ANIMAL){?>
																<option 
																data-type="<?=$ANIMAL[0]?>" 
																value="<?=$ANIMAL[1]?>" 
																>
																<?=$ANIMAL[0]?>
																</option>
															<?}?>
															</select>
														</div>
													</div>
											<?}?>
									</div>
									<div class="family-management btns">
										<div class="js-add-family-animal add btn">
										</div>
										<div class="js-remove-family-animal remove btn"></div>
									</div>
								</div>
							</div>
							<hr style="margin:30px 0"/>
							<h2 class="sub-title">Настройки заказа</h2>
							<input type="hidden" id="layout" value="<?=$layout?>"/>
							<div class="input-out">	
								<div class="input-row">					
									<label for="price_project_0_1" class="required">Стоимость проекта за 1м&#178;</label>
									<input type="text" name="price_project" id="price_project_0_1" class="required view_n2" maxlength="100" value="<?if($ARR_PROJECT_APARTMENT[0] -> PROPERTY_PRICE_SQUARE){echo $ARR_PROJECT_APARTMENT[0] -> PROPERTY_PRICE_SQUARE;}else{echo PRICE_SQUARE;};?>" placeholder="">
									<span class="js-error error-message"></span>
									<div class="slider price_project_0_1"></div>
									<p class="count left">
										<span class="b">Мало</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
									</p>
									<p class="count center">
										<span class="b">Нормально</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
									</p>
									<p class="count right">
										<span class="b">Самое то!</span><span class="i">(Наша комиссия <?=COMISSION_PERCENT?>%)</span>
									</p>
									<div id="slider-result"></div> 
									<div class="final">
										<p><span class="big">Итого: <span id="result_price"><?=(PRICE_SQUARE * $total_area) + (PRICE_SQUARE * $total_area) / 100 * COMISSION_PERCENT?></span> &#8381;</span>
										<span class="brackets">&nbsp;}&nbsp;</span>
										<span class="formula">(<?=PRICE_SQUARE?> &#8381; * <?=$total_area?> м&#178;) +  <?=(PRICE_SQUARE * $total_area) / 100 * COMISSION_PERCENT?> &#8381; (<?=COMISSION_PERCENT?>% комиссия за пользование системы)</span></p>
									</div>									
								</div>
							</div>
							
							<div class="input-out">	
								<div class="input-row">
									<label for="comments" class="required">Ваши пожелания к будущему дизайну</label>
									<textarea name="comments" id="comments" value="" class="required" maxlength="1024" rows="8" placeholder=""><?if(isset($ARR_PROJECT_APARTMENT[0] -> PROPERTY_SUGGEST_VALUE['TEXT']) && !empty($ARR_PROJECT_APARTMENT[0] -> PROPERTY_SUGGEST_VALUE['TEXT'])){echo $ARR_PROJECT_APARTMENT[0] -> PROPERTY_SUGGEST_VALUE['TEXT'];}?></textarea>
									<span class="js-error error-message"></span>
								</div>
							</div>
							<div class="input-out">	
								<div class="input-row">
									<label for="slider_time_0_1" class="required">Срок исполнения проекта(дней)</label>
									<input type="text" name="slider_time" id="slider_time_0_1" class="required view_n2" maxlength="100" value="<?if($ARR_PROJECT_APARTMENT[0] -> PROPERTY_TIME){echo $ARR_PROJECT_APARTMENT[0] -> PROPERTY_TIME;}else{echo '20';}?>" placeholder="">
									<span class="js-error error-message"></span>
									<div class="slider slider_time_0_1"></div>
									<p class="count left">
										<span class="b">Мало</span>
									</p>
									<p class="count center">
										<span class="b">Нормально</span>
									</p>
									<p class="count right">
										<span class="b">Самое то!</span>
									</p>
									<div id="slider-result"></div>  
								</div>
							</div>
							<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
							<!--<div class="step active" id="deneg_day">
								<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
							</div>-->	
						</div>					
					</form>
					<div id="people_family">
						<div class="item-family clone">
							<div class="tag">
								<label class="free-design">
									<input type="radio" name="people[1][gender]" id="people_0003" value="man" class="js-design-free js-filter"><i></i>
									<span class="hint">Муж</span>
								</label>
								<label class="free-design">
									<input type="radio" name="people[1][gender]" id="people_0004" value="female" class="js-design-free js-filter"><i></i>
									<span class="hint">Жен</span>
								</label>
							</div>
							<div class="select2_view_n1">
								<div class="select2-container select-container-age-1" style="position:relative">
									<label>Возраст</label>
									<select class="js-type-1" name="people[1][age]">
										<?foreach($AGE_PEOPLE as $AGE){?>
											<option 
												data-type="<?=$AGE[0]?>" 
												value="<?=$AGE[1]?>" 
											>
												<?=$AGE[0]?>
											</option>
										<?}?>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div id="people_family_children">
						<div class="item-family clone">
							<div class="tag">
								<label class="free-design">
									<input type="radio" name="people_children[#UNIQUE_ID_RADIO#][gender]" id="people_children_#UNIQUE_ID_NAME#" value="1" class="js-design-free js-filter"><i></i>
									<span class="hint">Муж</span>
								</label>
								<label class="free-design">
									<input type="radio" name="people_children[#UNIQUE_ID_RADIO#][gender]" id="people_children_#UNIQUE_ID_NAME#" value="1" class="js-design-free js-filter"><i></i>
									<span class="hint">Жен</span>
								</label>
							</div>
							<div class="select2_view_n1">
								<div class="select2-container select-container-age-1" style="position:relative">
									<label>Возраст</label>
									<select class="js-type-1" name="people_children[#UNIQUE_ID_NAME#][age]">
										<?foreach($AGE_PEOPLE_CHILD as $AGE){?>
											<option 
												data-type="<?=$AGE[0]?>" 
												value="<?=$AGE[1]?>" 
											>
												<?=$AGE[0]?>
											</option>
										<?}?>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div id="family_animal">
						<div class="item-family clone">
							<div class="select2-container select-container-age-1" style="position:relative">
								<select class="js-type-1" name="animal[]">
									<?foreach($ANIMALS as $ANIMAL){?>
										<option 
										data-type="<?=$ANIMAL[0]?>" 
										value="<?=$ANIMAL[1]?>" 
										>
										<?=$ANIMAL[0]?>
										</option>
									<?}?>
								</select>
							</div>
						</div>					
					</div>
				</div>
				
				<script type="text/javascript">
						$( ".price_project_0_1" ).slider({
							animate: true,
							range: "min",
							value: 50,
							min: 100,
							max: 1000,
							step: 10,
							//Получаем значение и выводим его на странице
							slide: function( event, ui ) {
							var val = $(' <span class="rur"><span>')
								$("#price_project_0_1").attr("value",ui.value + val.text());
								var price_cube = ui.value * <?=$room->PROPERTY_AREA_VALUE?>;
								var percent = price_cube/100 * <?=COMISSION_PERCENT?>;
								var price = price_cube + percent;
								$("#result_price").html(Math.round(price));
							},
						});
						$(".slider_time_0_1").slider({
							animate: true,
							range: "min",
							value: 50,
							min: 7,
							max: 365,
							step: 1,
							//Получаем значение и выводим его на странице
							slide: function( event, ui ) {
								$("#slider_time_0_1").attr("value",ui.value);
							},
						});
				</script>			
			</div>
		</div>
	</div>
	<div class="right_bn">
		<div class="right_bn_inner">
		<?= $this->partial('project/partials/right_bn.phtml', array(
																'show_list_family' 	=> $show_list_family,
																'show_list_plan' 	=> $show_list_plan, 
																'show_plan' 		=> $show_plan, 
																'access' 			=> $access, 
																'auth' 				=> $auth, 
																'starting_price' 	=> $starting_price, 
																'projectData' 		=> $projectData, 
																'url' 				=> $url, 
																'nextstep' 			=> $nextstep, 
																'nextstep_d' 		=> $nextstep_d, 
																'PLAN_SAVE' 		=> $PLAN_SAVE, 
																'PLAN_OPTION_SAVE' 	=> $PLAN_OPTION_SAVE,
																'PRICE_PROJECT'		=> $PRICE_PROJECT
																)
															) ?>
		</div>
	</div>
	<div class="clear"></div>
</div>
<script>
	$(function() {
		var offset = $(".right_bn_inner").offset();
		
		var offset_footer = $("footer").offset();
		var topPadding = 15;
		
		$(window).scroll(function() {
			if(offset_footer.top != $("footer").offset().top){
				offset_footer = $("footer").offset();		
			}
			if ($(window).scrollTop() > offset.top) {
				if($(window).scrollTop() < offset_footer.top - ($(".right_bn_inner").height() + 150)){
					$(".right_bn_inner").stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding}, 0);
				}
			}
			else {	
				$(".right_bn_inner").stop().animate({marginTop: 0}, 0);
			};
		});
	});
</script>
