<?
/**
 * @var $item Sibirix_Model_Complex_Row
 */
$item = $this->item;
$class = $this->class;
?>
<div class="col-xs-3 col-sm-3 col-md-3 plan-item plan-offset <?=$class?>">
	<div class="plan_outer">
		<div data-id-plan="<?=$item->ID?>" data-type="plan" class="plan js-select-item-plan">
			<div class="picture">
				<img src="<?=$item->PROPERTY_IMAGES_VALUE?>"/>
			</div>
			<div class="info">
				<?if($item->PROPERTY_ROOM){
				?>
				<p>Комнат: <span class="val"><?=$item->PROPERTY_ROOM?></span></p>
				<?}?>
				<?if($item->PROPERTY_AREA){
				?>
				<p>Площадь: <span class="val"><?=$item->PROPERTY_AREA?> м&#178;</span></p>
				<?}?>
			</div>
		</div>
	</div>
</div>