<?
/**
 * @var $item Sibirix_Model_Design_Row
 */
$item = $this->item;
$profile = $this->profile;

?>

<div class="item design-item">
    <div class="image" style="background-image:url('<?=$item->PLAN_IMAGE?>');">
      
            <a href="javascript:void(0)" data-id="<?= $item->ID ?>" class="delete js-delete-project js-tooltip" data-description="Удалить проект"></a>
       
    </div>
    <div class="content">
       
            <a href="/project/step2" class="edit"></a>
            <div class="status <?= $item->STATUS ?>"><?= $item->PROPERTY_STATUS_VALUE ?></div>
       
        <? if ($profile && ($item->PROPERTY_STATUS_ENUM_ID != PROJECT_STATUS_PUBLISHED)) { ?>
            <span class="title"><?= $item->NAME ?></span>
        <? } else {?>
            <a href="<?= $this->url(['elementCode' => $item->CODE], 'design-detail')?>" class="title"><?echo 'Заказ № '.$item->ID ?></a>
        <? } ?>

        <div class="description">
    
        </div>
    </div>
</div>
