<div class="js-third-step add-project-step js-step step3" data-step="3">
    <div class="step-title-wrap">
        <div class="number">3</div>
        <div class="js-step-title title">Загрузка изображений</div>
        <div class="value">Форматы JPEG, GIF, PNG с высоким разрешением</div>
        <div class="clearfix"></div>
    </div>

    <div class="js-step-body step-body">
        <?= $this->render("room/room-form.phtml") ?>
    </div>
</div>