<div id="service-page">
	<div class="content-container">
		<div class="content">
			<h2 class="main-title">Все проекты</h2>
			<div class="out_filter" id="filter_plan">
				<div class="js-show-hidden-filter btn_for_filter open"></div>
				<form enctype="application/x-www-form-urlencoded" class="js-filter-form filter_project filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
					<label for="">Стоимость проекта:</label>
					<div class="data room">
						<ul>
							<li><input style="margin-right:10px;" class="area js-filter" type="text" name="areaMin" id="areaMin" value="" placeholder="от"/></li>
							<li><input class="area js-filter" type="text" name="areaMax" id="areaMax" value="" placeholder="до"/></li>
						</ul>
					</div>
					<label class="free-design">
					<input type="checkbox" name="planFree" id="planFree" value="1" class="js-design-free js-filter"><i></i>
					<span class="hint">Для дизайнеров</span></label>
					<label class="free-design">
					<input type="checkbox" name="planFree" id="planFree" value="1" class="js-design-free js-filter"><i></i>
					<span class="hint">Для мастеров</span></label>
				
				</form>
			</div>
			<div class="js-ajax-list-content">
				<ul class="order-list">
					<li class="order">
						<div class="row">
							<div class="col-xs-1-5 col-sm-1-5 col-md-1-5">
								<div class="picture">
									<img src="/local/images/тес22.jpg" alt=""/>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<h2 class="title_order"><a href="">Выполнить ремонт 2-х комн. квартиры. Смету вышлю исполнителю</a></h2>
								<p class="disc_project">Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
														Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
														Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
														Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
														Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
														Выплнить ремнот 2-х комнатной квартиры. Смету вышлю исполнителю.
								</p>
								<div class="order-meta">
									<span class="view"><span class="val">2</span> просмотра</span>
									<span class="decision"><span class="val">15</span> решений</span>
									<span class="time"><span class="val">4</span> недели</span>
								</div>
								<div class="more"></div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<div class="price_order"><span class="text"><span class="price">12 200 &#8381;</span>за проект</span></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>