<?
	$itemList = $this->itemList;
	$projectData = $this->projectData;
	$PLAN_SAVE = $this->PLAN_SAVE;
	$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;
	$PROJECT_FAMILY = $this->PROJECT_FAMILY;
	$url = $this->url;
	$step = $this->step;
	$nextstep = $this->nextstep;
	$nextstep_d = $this->nextstep_d;
	$auth = $this->auth;
	$access = $this->access;
	$id_flat = $this->id_flat;
	//разрешения на показ блока в чеке
	$show_plan = $this->show_plan;
	$show_list_plan = $this->show_list_plan;
?>
<div id="service-page" data-step=<?=$step?>>
	<?if(($_GET['street'] && $_GET['number']) && (int) $_GET['number'] > 0){?>
	<div class="top">
		<div class="content-container">
			<div class="content">
				
				<p class="name_complex"></p>
			
				<h2 class="main-title" style="display:inline;"><?echo $_GET['street'].', '.$_GET['number']?></h2>
				<div style="display:inline-block;vertical-align:text-bottom;margin-left:82px;" class="row-btn">
					<a href="#address-popup" class="js-submit btn waves-effect js-fancybox fancyboxLink">Изменить</a>
				</div>
			</div>
		</div>
	</div>
	<?}?>
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li class="selected"><a href="/project/step1/">Выбор планировки</a></li>
						<li><?if($projectData->PROPERTY_STEP_VALUE < 2){?><div class="overlap"></div><?};?><a class="under-link" href="/project/step2/">Параметры дизайн-проекта</a></li>
						<li><?if($projectData->PROPERTY_STEP_VALUE < 3){?><div class="overlap"></div><?};?><a class="under-link" href="/project/step3/">Оформление</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content-container">
		<div class="left_bn preloaderController">
			
			<form enctype="application/x-www-form-urlencoded" class="js-filter-form filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
				<input type="hidden" name="id_flat" id="FlatPlan" value="<?=$_GET['id_flat']?>"/>
				<input type="hidden" name="page" id="page" value="<?if($_GET['page']){echo $_GET['page'];}else{echo '1';};?>"/>
				<input type="hidden" name="street" id="street" value="<?if($_GET['street']){echo $_GET['street'];}else{echo '';};?>"/>
				<input type="hidden" name="number" id="number" value="<?if($_GET['number']){echo $_GET['number'];}else{echo '';};?>"/>
			</form>
			
			<div class="content">
				<h2 class="page-title">Выберите квартиру</h2>
				<p class="simple_text">Выберите план и планировочное решение вашей квартиры.<br/>Если сомневаетесь в выборе или не находите подходящий вариант, <br/>вызовите замерщика бесплатно.</p>
				<div class="row row-btn-top project_step1">	
					<!--<a href="#selectplan" data-page="select" id="btn_select_plan" class="js-open-page under-link-dashed style2">Выбрать готовую</a>
					&nbsp; &nbsp; &nbsp; &nbsp;<span class="or">или</span>&nbsp; &nbsp; &nbsp; &nbsp;  
					<a href="#uploadplan" data-page="upload" id="btn_upload_plan" class="js-open-page style3">Загрузить свою</a>-->
					<div class="call-super-man"><a class="js-call-super-man super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
					ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
				</div>
			</div>
			<div id="select_plan" class="project-select">
				<input type="hidden" id="page" value="<?if($_GET['page']){echo $_GET['page'];}else{echo '2';};?>" name="page"/>
				<div class="js-ajax-list-content preloaderController">			
					<?= $this->render('project/apartment.ajax.phtml') ?>
				</div>
				<?if(count($this->itemList) > 0){?>
					<div class="row-submit"><a class="js-submit-show btn waves-effect">Показать ещё</a></div>
				<?};?>
			</div>
			<div class="plan-list list-plan-options preloaderController">
				<?= $this->render('project/planlist.ajax.phtml') ?>
			</div>
		</div>
		<div class="right_bn" data-fixed = "0">
			<div class="right_bn_inner">
				<input type="hidden" id="select_step_1" class="select_val" value="<?if(!empty($projectData -> PROPERTY_ID_FLAT_VALUE)){echo $projectData -> PROPERTY_ID_FLAT_VALUE;};?>"/>
				<input type="hidden" id="select_step_2" class="select_val" value="<?if(!empty($projectData -> PROPERTY_ID_OPTION_PLAN_VALUE)){echo $projectData -> PROPERTY_ID_OPTION_PLAN_VALUE;};?>"/>
				<?=$this->partial('project/partials/right_bn.phtml', array(
																		'show_plan' 		=> $show_plan, 
																		'access'			=> $access, 
																		'auth' 				=> $auth, 
																		'projectData' 		=> $projectData, 
																		'url' 				=> $url, 
																		'nextstep' 			=> $nextstep, 
																		'nextstep_d' 		=> $nextstep_d, 
																		'PLAN_SAVE' 		=> $PLAN_SAVE, 
																		'PLAN_OPTION_SAVE' 	=> $PLAN_OPTION_SAVE,
																		'PROJECT_FAMILY' 	=> $PROJECT_FAMILY
																		)
																	)?>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	$(function() {
		var offset = $(".right_bn_inner").offset();
		
		var offset_footer = $("footer").offset();
		var topPadding = 15;
		
		$(window).scroll(function() {
			if(offset_footer.top != $("footer").offset().top){
				offset_footer = $("footer").offset();
			}
			if ($(window).scrollTop() > offset.top){
				if($(window).scrollTop() < offset_footer.top - ($(".right_bn_inner").height() + 150)){
					$(".right_bn_inner").stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding}, 0);
				}
			}
			else {	
				$(".right_bn_inner").stop().animate({marginTop: 0}, 0);
			};
		});
	});
</script>