<div class="js-sort sort">
    <span>Сортировать по:</span>
    <!--<a class="under-link" data-type="popular" data-method="">популярности</a>-->
    <a class="under-link" data-type="price" data-method="">цене</a>
	<a class="under-link" data-type="name" data-method="">наименованию</a>
	<!--<a class="under-link" data-type="size" data-method="">размеру</a>-->
</div>