<div class="js-search-service step-filter">
    <div class="js-steps steps">
        <span class="js-tab tab active"><a href="javascript:void(0);" class="js-step-link js-add-design" data-step="1" data-default-caption="Выбор комплекса">Выбор комплекса</a></span>
        <span class="js-tab tab"><a href="javascript:void(0);" class="js-step-link js-add-design" data-step="2" data-default-caption="Выбор здания">Выбор здания</a></span>
        <span class="js-tab tab"><a href="javascript:void(0);" class="js-step-link js-add-design" data-step="3" data-default-caption="Выбор квартиры">Выбор квартиры</a></span>
    </div>
    <div class="js-step-content step-content-wrap">
        <?= $this->render("search-service/step1.phtml") ?>
    </div>
</div>