<?
	$article = $this->article;
	$ch_categories = $this->ch_categories;
	$id = $this->id;
	$recom_article = $this->recom_article;
	
?>
<style>
	.rating {
    font-size: 13px;
    line-height: 15px;
    position: relative;
    display: inline-block;
    height: 22px;
    margin-right: 14px;
    padding: 2px 0 0 2px;
    text-align: center;
    cursor: default;
    color: #fff;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #166597;
    background: #166597;
}
.headline .rating {
    vertical-align: super;
}
.rating_border_yes {
    background: transparent!important;
}
.rating_size_l {
    color: #156596;
	font: 400 18px/21px 'Fira Sans',sans-serif;
    line-height: 25px;
    height: 23px;
    margin-right: 14px;
    padding: 0 10px 0 5px;
}
.rating_size_l .rating__corner {
    top: -5px;
    clip: rect(0,13px,29px,1px);
}
.rating__corner {
    position: absolute;
    top: -4px;
    right: -11px;
    bottom: -4px;
    clip: rect(0px,13px,26px,1px);
    width: 11px;
}
.rating__corner:after {
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    width: 22px;
    height: 25px;
    content: "";
    -webkit-transform: scaleX(.5) rotate(45deg);
    -ms-transform: scaleX(.5) rotate(45deg);
    transform: scaleX(0.5) rotate(45deg);
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: transparent;
    background-color: #166597;
    background-clip: content-box;
}
.rating_size_l .rating__triangle {
    clip: rect(0px,23px,32px,0px);
    height: 12px;
}
.rating_border_yes .rating__triangle:after {
    background: transparent!important;
}
.rating_size_l .rating__triangle:after {
    top: 0;
    left: -16px;
    width: 23px;
    height: 23px;
}
.rating__triangle:after {
    position: absolute;
    top: 1px;
    left: -8px;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    -webkit-transform: scaleX(.5) rotate(45deg);
    -ms-transform: scaleX(.5) rotate(45deg);
    transform: scaleX(0.5) rotate(45deg);
    border-width: 3px;
    border-style: solid;
    border-color: #166597;
    background: none repeat scroll 0 0 #166597;
}
.rating__triangle {
    position: absolute;
    top: 3px;
    bottom: -2px;
    left: 0;
    z-index: 1;
    clip: rect(-1px,11px,21px,0px);
    width: 12px;
    height: 26px;
}
.rating_border_yes .rating__corner:after {
    background: transparent!important;
}

</style>
<div class="content-container">
	<div id="article">
		<div class="left_bn">
			<h1><?=$article->NAME;?></h1>
			<div id="head_article">
				<div class="bread_crumbs">
					<div class="rating rating_size_l rating_border_yes hint i-bem hint_js_inited" date-rate="" onclick="" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
						<meta itemprop="reviewCount" content="138"><a href="/article">Статьи</a>
						<div class="rating__corner">
							<div class="rating__triangle"></div>
						</div>
					</div>
<?
				for($i = 1; $i < count($ch_categories); $i++){
?>
					<div class="rating rating_size_l rating_border_yes hint i-bem hint_js_inited" date-rate="" onclick="" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
						<meta itemprop="reviewCount" content="138"><?=$ch_categories[$i]->NAME?>
						<div class="rating__corner">
							<div class="rating__triangle"></div>
						</div>
					</div>
<?
				};
?>
					<!--<div class="rating rating_size_l rating_border_yes hint i-bem hint_js_inited" date-rate="" onclick="" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
						<meta itemprop="reviewCount" content="138"><?=$article->NAME;?>
						<div class="rating__corner">
							<div class="rating__triangle"></div>
						</div>
					</div>-->
				</div>
				<div class="d_info">
					<span class="date"><?=$article->DATE_CREATE;?></span>
					<span class="author"><?=$article->CREATED_USER_NAME;?></span>
					<span class="visits"><span class="ico"></span><?=$article->SHOW_COUNTER;?></span><span class="comments"><span class="ico"></span><?=$article->NUM_COMMENTS;?></span>
				</div>
				<div class="clear"></div>
			</div>
			<div id="body_article">
				<?=$article->DETAIL_TEXT;?>
			</div>
			<?
				Zend_Registry::get('BX_APPLICATION')->IncludeComponent("proomer:catalog.comments","article",
				Array(
				"TEMPLATE_THEME" => "blue",
				"IBLOCK_TYPE" => "books",
				"IBLOCK_ID" => "15",
				"ELEMENT_ID" => $id,
				"ELEMENT_CODE" => "",
				"URL_TO_COMMENT" => "/article/".$id,
				"WIDTH" => "",
				"COMMENTS_COUNT" => "20",
				"BLOG_USE" => "Y",
				"FB_USE" => "N",
				"VK_USE" => "N",
				"CACHE_TYPE" => "A",
				"CACHE_TIME" => "0",
				"BLOG_TITLE" => "Комментарии",
				"BLOG_URL" => "catalog_comments",
				"PATH_TO_SMILE" => "/bitrix/images/blog/smile/",
				"EMAIL_NOTIFY" => "N",
				"AJAX_POST" => "Y",
				"SHOW_SPAM" => "Y",
				"SHOW_RATING" => "Y",
				"RATING_TYPE" => "standart_text",
				"FB_TITLE" => "Facebook",
				"FB_USER_ADMIN_ID" => "",
				"FB_APP_ID" => "",
				"FB_COLORSCHEME" => "dark",
				"FB_ORDER_BY" => "time",
				"VK_TITLE" => "Вконтакте",
				"VK_API_ID" => "API_ID"
				)
			);?>
		</div>
		<div class="right_bn">
			<h3 class="title">Так же советуем</h3>
									
<?
		foreach($recom_article as $article){
?>
			<div class="article">
				<img class="photo" src="<?=$article->PREVIEW_PICTURE?>"/>
				<h2><a href="/article/<?=$article->ID?>"><?=$article->NAME?></a></h2>
				<div class="author">
					<div class="photo"></div>
					<div class="name"><?=$article->CREATED_USER_NAME?></div>
				</div>
				<div class="date"><?=$article->DATE_CREATE?></div>
				<div class="clear"></div>
				<div class="pop"><span class="visits"><span class="ico"></span><?=$article->SHOW_COUNTER?></span><span class="comments"><span class="ico"></span><?if($article->NUM_COMMENTS > 0){echo $article->NUM_COMMENTS;}else{echo '0';}?></span></div>
			</div>	
<?
			}
?>
		</div>
	</div>
	

	<div class="clear"></div>
	
	<script type="text/javascript">
	$(document).ready(function() {
		$("a.gallery").fancybox({						
         /* "padding" : 20,
          "imageScale" : false, 
			"zoomOpacity" : false,
			"zoomSpeedIn" : 1000,	
			"zoomSpeedOut" : 1000,	
			"zoomSpeedChange" : 1000, 
			"frameWidth" : 700,	 
			"frameHeight" : 600, 
			"overlayShow" : true, 
			"overlayOpacity" : 0.8,	
			"hideOnContentClick" :false,
			"centerOnScroll" : false
		*/		
		});
	});
</script>
</div>