.article-detail-page #article{

	margin-top:50px;

}

.article-detail-page h1{

	margin: 0 0 11px 0;

	font: 400 36px 'Fira Sans',sans-serif;

	color:#3b424a;

}


.article-detail-page #head_article{

	border-top:1px solid #166597;

	padding-top:8px;

}

.article-detail-page #body_article{

	font: 400 18px 'Fira Sans',sans-serif;

	color:#3b424a;

	margin:20px 0 0 0;

}

.article-detail-page .left_bn{

	width:900px;

	float:left;

}

.article-detail-page .right_bn{

	width:280px;

	float:right;

}

.article-detail-page .right_bn{

	width:280px;

	float:right;

}

.article-detail-page .right_bn .title{

	font: 400 24px 'Fira Sans',sans-serif;

	color:#3b424a;

	margin-bottom:5px;

}

.article-detail-page .right_bn .article{

	font: 400 18px 'Fira Sans',sans-serif;

	color:#3b424a;

	border:1px solid #e4e4e4;

	box-shadow: 0 2px 1px 0 rgba(1,1,1,.2);

	margin-bottom:20px;

}

.article-detail-page .right_bn .article h2{

	font: 400 18px 'Fira Sans',sans-serif;

	color:#3b424a;

	padding:6px 8px 15px 8px;

	border-bottom:1px solid #e4e4e4;

}

.article-detail-page .right_bn .article .author .photo {

	float:left;

    width: 59px;

    height: 59px;

    border-radius: 50%;

    background-size: cover;

    background-repeat: no-repeat;

    z-index: 1;

	background-image:url('/upload/resize_cache/main/f9a/43_43_2/f9a8d3b65a3d8cae03b6453fdfcade14.jpg');

}

.article-detail-page .right_bn .article .author .name{

	font: 400 18px 'Fira Sans',sans-serif;

	color:#156596;

	margin-left:74px;

}

.article-detail-page .right_bn .article .author{

	padding:9px 7px 0 7px;

}

.article-detail-page .right_bn .article .photo{

	width:100%;

}

.article-detail-page .right_bn .article .pop{

	padding-top:15px;

	padding-bottom:18px;

}

.article-detail-page .right_bn .article .pop >.visits{

	margin-left:13px;

}

.article-detail-page .right_bn .article .pop >.comments{

	margin-left:13px;

}

.article-detail-page .right_bn .article .pop >.comments>.ico{

	margin-right:6px;

}

.article-detail-page .right_bn .article .pop >.visits>.ico{

	margin-right:6px;

}

.article-detail-page .right_bn .article .pop >.visits >.ico{

	background: url(/local/images/sprite.png) -738px -63px no-repeat;

    width: 15px;

    height: 14px;

    display:inline-block;

}


.article-detail-page .right_bn .article .pop >.comments>.ico{

	background: url(/local/images/sprite.png) -758px -63px no-repeat;

    width: 15px;

    height: 17px;

    display: inline-block;

}

.article-detail-page .right_bn .article .date{

	font: 400 18px 'Fira Sans',sans-serif;

	margin-left:81px;

	margin-top:8px;

}


.article-detail-page .left_bn .bread_crumbs > a{

	font-size:18px;

	color:#156596;

	position: relative;

    display: inline-block;

    margin: 0 20px 10px 0;

    border: 1px solid #166597;

    padding: 1px 8px 1px 8px;

    font: 300 18px/21px 'Fira Sans',sans-serif;

}


.article-detail-page .left_bn .d_info{

	color:#3b424a;

	font: 400 18px/21px 'Fira Sans',sans-serif;

	margin-top: 1em;

}

.article-detail-page .left_bn .d_info > span{

	margin-right:20px;

}

.article-detail-page .left_bn .d_info .visits >.ico, .article-detail-page .left_bn .d_info .comments >.ico{

	margin-right:6px;

}

.article-detail-page .left_bn .d_info .author{

	font: 500 18px/21px 'Fira Sans',sans-serif;

}

.article-detail-page .left_bn .bread_crumbs > a:before, .article-detail-page .left_bn .bread_crumbs > a:after {

    content: "";

    position: absolute;

    width: 1px;

    height: 1px;

    top: -1px;

    left: 100%;

    border-left: 14px solid #166597;

    border-top: 12px solid transparent;

    border-bottom: 12px solid transparent;

}


.article-detail-page .left_bn .bread_crumbs > a:after {

    content: "";

    position: absolute;

    width: 1px;

    height: 1px;

    top: 0.4;

    left: 100%;

    border-left: 12px solid white;

    border-top: 11px solid transparent;

    border-bottom: 13px solid transparent;

}


.article-detail-page .left_bn .review-ava{

	float: left;

    width: 59px;

    height: 59px;

    border-radius: 58%;

    background-size: cover;

    background-repeat: no-repeat;

    z-index: 1;

    overflow: hidden;

}

table.reviews-post-table td.ava{

	width:59px;

}

table.reviews-post-table td.mess{

	padding-left:15px;

}

table.reviews-post-table td.mess .reviews-text{

	font: 400 16px 'Fira Sans',sans-serif;

    color: #3b424a;

	padding:10px 0 15px 0;

}

.article-detail-page div.reviews-post-reply-buttons a{

	font: 400 18px 'Fira Sans',sans-serif;

    color: #156596;

}

.article-detail-page .RATING_TEXT_LIKE_N{

	width: 28px;

    height: 25px;

    display: inline-block;

    background-image: url(/local/images/sprite.png);

    background-position: -370px -3px;

}


.article-detail-page .ilike-light .bx-ilike-right{

	background:none;

	font: 500 18px/21px 'Fira Sans',sans-serif;

    color: #156596;

}

.article-detail-page table.reviews-post-table{

	border:none;

}

.article-detail-page table.reviews-post-table{

	margin-bottom:36px;

}

#REPLIERobjgcontainer{

	margin-top:70px;

	margin-bottom:140px;

}

.article-detail-page .ilike-light .bx-ilike-right-wrap{

	margin:0;

}

.article-detail-page .RATING_TEXT_LIKE_Y{

	width: 28px;

    height: 25px;

    display: inline-block;

    background-image: url(/local/images/sprite.png);

    background-position: -402px -3px;

	vertical-align:sub;

}















table.reviews-post-table td.mess .message-post-date{

	font: 400 18px 'Fira Sans',sans-serif;

	color: #3b424a;

	margin-right:55px;

}

.article-detail-page .left_bn .review-ava > img{

	width: 59px;

    height: 59px;

}

.article-detail-page .left_bn .author_name{

	font: 500 18px/21px 'Fira Sans',sans-serif;

	color:#156596;

}

.article-detail-page .left_bn .author_name{

	font: 500 18px/21px 'Fira Sans',sans-serif;

	color:#156596;

}

.article-detail-page div.reviews-collapse a{

	background:#145b88;

	font: 400 18px/21px 'Fira Sans',sans-serif;

	color:white;

	text-transform:uppercase;

	padding:20px 40px;

	border-radius:4px;

}

.article-detail-page div.reviews-info-box, div.reviews-reply-form{

	background:none;

}

.article-detail-page form.reviews-form{

	background:none;

}

.article-detail-page div.reviews-header-box{

	background: #166597;

}

.article-detail-page div.reviews-info-box, div.reviews-reply-form{

	border: 2px solid #166597;

	border:none;

}

.reviews-reply-form-inner{

	border: 3px solid #166597;

}

.article-detail-page div.reviews-reply-buttons{

	margin-top:0;

}

.article-detail-page div.reviews-reply-buttons input{

	font: 400 18px 'Fira Sans',sans-serif;

    overflow: visible;

    background: #166597;

    color: white;

    padding: 15px 30px;

    text-transform: uppercase;

}

.article-detail-page form.reviews-form{

	padding:0;

}

.article-detail-page table.reviews-post-hidden{

	background:none !important;

}

.article-detail-page div.reviews-text table.forum-quote{

	background:#F8F2D4;

}

.article-detail-page table.forum-quote td, table.forum-code td{

	padding: 0.9em 1em 0.9em;

}

.article-detail-page table{

	border-collapse: inherit;

}


.article-detail-page .form input[type=password], .article-detail-page .form input[type=text]{

	width:181px;

}

.article-detail-page div.reviews-reply-fields{

	padding:0;

}

.article-detail-page div.reviews-reply-field{

	padding-bottom: 0.462em;

    margin-top: 0.462em;

    padding: 0 1.117em 0.8em;

}

.article-detail-page .reviews-block-container{

	margin-top:60px;

}

.blog-comment-form label {

    font: 400 16px/32px 'Fira Sans',sans-serif;

    color: #5e6e7e;

    text-transform: uppercase;

}

.article-detail-page .gallery-block .row .cell .gallery-slider a.pin{

    display: block;

    position: absolute;

	width: 38px;

	height: 38px;

	margin: 0 14px 0 0;

	border-radius: 50%;

	background-color: #166597;

	font: 300 22px/38px 'Fira Sans',sans-serif;

	color: #fff;

	text-align: center;

	z-index: 3;

}

.article-detail-page .gallery-block .row .cell > a.pin {

    display: block;

    position: absolute;

    width: 38px;

    height: 38px;

    margin: 0 14px 0 0;

    border-radius: 50%;

    background-color: #166597;

    font: 300 22px/38px 'Fira Sans',sans-serif;

    color: #fff;

    text-align: center;

    z-index: 3;

}

.article-detail-page .visits >.ico {

    background: url(/local/images/sprite.png) -738px -63px no-repeat;

    width: 15px;

    height: 14px;

    display: inline-block;

}

.article-detail-page .comments>.ico {

    background: url(/local/images/sprite.png) -758px -63px no-repeat;

    width: 15px;

    height: 17px;

    display: inline-block;

}
