<div class="js-fourth-step add-project-step js-step step3 active" data-step="4">
    <div class="step-title-wrap">
        <div class="js-step-title title">Добавление по прайсу</div>
        <div class="value">Форматы YML</div>
        <div class="clearfix"></div>
    </div>

    <div class="js-step-body step-body">
        <?= $this->step4Form ?>
    </div>
</div>