<?
	$categories = $this->categories;
	$item = $this->item;
	$tree = $this->tree;
	$catalog = $this->catalog;
	$HL_PRIMARY_COLORS = Sibirix_Model_Reference::getReference(HL_PRIMARY_COLORS, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
	$HL_STYLE = Sibirix_Model_Reference::getReference(HL_STYLE, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
?>
<!--for local storage-->
<div id="local_storage" style="display:none">
	<div id="local_storage_tree" data-value='<?=json_encode($categories)?>'></div>
</div>
<div id="tabs">
	<div class="top-edit-product">
		<div class="content-container">
			<h1>Добавление товара / каталога</h1>
		</div>
		<div class="navi js-complex-detail-nav">
			<div class="content-container">
				<ul>
					<li><a href="#by_hand" class="linkblock">Вручную</a></li>
					<li><a href="#auto" class="linkblock">Загрузить файл каталога</a></li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="content-container">
		<div id="wrap_upload_marketplace">
			<div id="upload_marketplace">
				<div id="by_hand" class="wrap-form-edit-product">
					<div class="top-section-list">Выберите категорию 
						<span class="select_cat js-show-form-category"></span>
					</div>
					<div class="upload-item">
					<div id="form-category-container" class="form-category-container js-form-category">
						<div class="form-category" data-lvl = "1">
							<span class="form-category__title ">Категория</span>
							<?foreach($tree as $cat){?>
								<label class="form-category-item">
									<input type="radio" name="root_category_id" value="<?=$cat->ID?>" data-id="<?=$cat->ID?>" data-parent-id="<?=$cat->IBLOCK_SECTION_ID?>" title="<?=$cat->NAME?>" class="js-form-category-item__input_root">
									<span class="form-category-item__label"><?=$cat->NAME?></span>
								</label>
							<?}?>
						</div>
					</div>
					
					<form enctype="application/x-www-form-urlencoded" id="goods-form" class="js-goods-form profileForm formTabber editing" action="/profile/marketplace/add-goods" method="post" novalidate="novalidate" data-text="<?=$elementCode?"Товар отправлен на модерацию" : "Товар отправлен на модерацию"?>">
						<h2>Описание товара</h2>
						<input type="hidden" id="section_id" name="section_id" value=""/>
						<div class="js-form-block">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12">			
									<!--<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">Модель</label></div>
											<div class="col-xs-6 col-sm-6 col-md-6">
												<input type="text" name="model" class="" value="<?=$user->UF_ISSUED_BY?>"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>-->
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">Название товара</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<input type="text" name="name" class="required" value="<?=$item->NAME?>"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">Размеры</label></div>
											<div class="col-xs-3 col-sm-3 col-md-3">
												<input type="text" class="required" name="length" value="<?=$item->SIZE['LENGTH']?>" placeholder="Длина"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required"></label></div>
											<div class="col-xs-3 col-sm-3 col-md-3">
												<input type="text" class="required" name="width" value="<?=$item->SIZE['WIDTH']?>" placeholder="Ширина"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required"></label></div>
											<div class="col-xs-3 col-sm-3 col-md-3">
												<input type="text" class="required" name="height" value="<?=$item->SIZE['HEIGHT']?>" placeholder="Высота"/>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Стиль дизайна</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="style[]" multiple="" tabindex="-1" aria-hidden="true">
												<?
												if(count($item->PROPERTY_STYLE_VALUE) > 0){
													foreach($item->PROPERTY_STYLE_VALUE as $style){
														foreach($HL_STYLE as $A_STYLE){?>
															<option data-type="<?=$A_STYLE[0]?>" data-media-id="<?=$A_STYLE[2]?>" value="<?=$A_STYLE[1]?>"<?if($A_STYLE[1] == $style){echo 'selected';};?>><?=$A_STYLE[0]?></option>
														<?}
													}
												}
												else{
													foreach($HL_STYLE as $A_STYLE){?>
															<option data-type="<?=$A_STYLE[0]?>" data-media-id="<?=$A_STYLE[2]?>" value="<?=$A_STYLE[1]?>" <?if($A_STYLE[1] == $style){echo 'selected';};?>><?=$A_STYLE[0]?></option>
													<?}
												}?>
												</select>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Основные цвета</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="color[]" multiple="" tabindex="-1" aria-hidden="true">
												<?
												if(count($item->PROPERTY_COLOR_VALUE) > 0){
													foreach($item->PROPERTY_COLOR_VALUE as $color){	
														foreach($HL_PRIMARY_COLORS as $A_COLORS){?>
															<option data-type="<?=$A_COLORS[0]?>" data-media-id="<?=$A_COLORS[2]?>" value="<?=$A_COLORS[1]?>" <?if($A_COLORS[1] == $color){echo 'selected';};?>><?=$A_COLORS[0]?></option>
														<?}
													}
												}else{
													foreach($HL_PRIMARY_COLORS as $A_COLORS){?>
															<option data-type="<?=$A_COLORS[0]?>" data-media-id="<?=$A_COLORS[2]?>" value="<?=$A_COLORS[1]?>" <?if($A_COLORS[1] == $color){echo 'selected';};?>><?=$A_COLORS[0]?></option>
													<?}
												}?>
												</select>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data">Краткое описание</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<textarea class="materialize-textarea" name="preview_text" rows="4" maxlength="255" cols="80"><?=$item->PREVIEW_TEXT?></textarea>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data">Детальное описание</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<textarea class="materialize-textarea" name="detail_text" rows="8" maxlength="1023" cols="120"><?=$item->DETAIL_TEXT?></textarea>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">Цена(Руб)</label></div>
											<div class="col-xs-3 col-sm-3 col-md-3">
												<input type="text" class="required" name="price" value="<?=$item->PRICE_VALUE['PRICE']?>"/>
												<span class="js-error error-message"></span>		
											</div>
										</div>
									</div>
									<div class="wrap-data">
										<div class="row input-row">
											<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">Фотографии</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8">
												<div id="upload-block" class="block upload-block">
													<div class="input-row">
														<div class="upload-area js-imgs-dropzone inline  dropzoneArea dz-clickable preloaderController">
															<?//if(!$designDesigns[$i]->PHOTOS){?>
															<div class="js-dz-text text">Перетащите изображения в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div>
															<?//}?>										
															<input type="hidden" class="required photoRoom" name="photoRoom" value="<?/*
																for($q = 0; $q < count($designDesigns[$i]->PHOTOS); $q++){
																	if($q == count($designDesigns[$i]->PHOTOS) - 1){
																		echo $designDesigns[$i]->PHOTOS[$q]['valueId'];
																	}
																	else{
																		echo $designDesigns[$i]->PHOTOS[$q]['valueId'].', ';
																	}
																}
															*/?>"/>							
															<?//foreach($designDesigns[$i]->PHOTOS as $photo){?>
																<!--<div class="dz-default-img" data-value-id="<?//=$photo['valueId']?>" style="background-image: url('<?//=$photo['imageSrc']?>')"><div class="js-del-item del-icon"></div><div class="js-pin-item pin-icon"></div></div>-->
															<?//}?>
															
															<div class="hint">Вы можете загружать файлы форматов jpg, png, jpeg, gif, bmp <br/>Размер файла не должен превышать 5 Мб</div>		
														</div>				
														<span class="js-error error-message"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="wrap-data">
								<div class="col-xs-2 col-sm-2 col-md-2"></div>
								<div class="col-xs-10 col-sm-10 col-md-10"><a id="save-your-life" class="js-save-your-life btn blue waves-effect">Опубликовать</a></div>
							</div>
						</div>
					</form>
					</div>
				</div>
				<div id="auto" class="wrap-form-edit-product">
					<form enctype="application/x-www-form-urlencoded" class="step2" action="" method="post" novalidate="novalidate" data-title="Файл отправлен на проверку" data-text="Файл отправлен на проверку">
						<div id="upload-block" class="block upload-block">
							<div class="input-row">
								<div class="upload-area js-catalog-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите документы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div><input type="hidden" class="photoRoom" name="photoRoom" value=""/>
									<div class="hint">Вы можете загружать файлы форматов yml, csv, excel <br/>Размер файла не должен превышать 5 Мб</div>		
								</div>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</form>
					<!--<h2>Результат проверки</h2>
					<p>файл:123.php<p>
					<p>Дата загрузки:25.06.2016</p>
					<br/>
					<p><b>Файл успешно прошел проверку</b></p>
					<br/>
					<form action="" method="post" class="catalogAddForm">
						<div class="wrap-data">
							<textarea name="comments" id="comments" value="" class="required" maxlength="1024" rows="10" placeholder=""></textarea>
						</div>
						<div class="wrap-data">
							<a class="js-submit btn blue waves-effect">Опубликовать каталог</a>
						</div>
					</form>-->
				</div>
			</div>
			<div class="help_b">
				<h2>Как разместить товар</h2>
				<ol>
					<li>Подготовьте прайс-лист в формате YML, Excel или CSV</li>
					<li>Настройте и оплатите размещение</li>
				</ol>
				<p>Помощь специалистов Proomer</p>
				<p class="phone">8 800 825-95-56</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	localStorage.setItem('tree', JSON.stringify($("#local_storage_tree").data("value")));
	$("#local_storage_tree").remove();
	console.log();
</script>