<?
    $arrTransact = $this->arrTransact;
	$currency = $this->currency; 
?>
<?if (count($arrTransact) > 0): ?>
<table class="translations">
	<?foreach($arrTransact as $trans){
		$currency = '';
		if($trans['CURRENCY'] == 'RUR'){
			//$currency = '<span class="rub"></span>';
		}
		else{
			//$currency = ' ???';
		}
	?>
		<tr class="row translation">
			<td class="wrap_date">
				<div class="date"><?=ConvertDateTime($trans["TRANSACT_DATE"], "DD-MM HH:MI", "ru")?><br/><span class="identy"><?=$trans['ID']?><span></div>
			</td>
			<td class="wrap_ico">
				<div class="picture">
					<div class="ico">
					</div>
				</div>
			</td>
			<td class="wrap_mess">
				<div class="mess">
				<?=$trans["NOTES"]?>
				</div>
			</td>
			<td class="wrap_summ">
				<div class="summ">
				<?
				 if($trans['DEBIT'] == 'N'){echo '- '.str_replace(',', ' ', number_format($trans['AMOUNT'])). $currency;}
				 else if($trans['DEBIT'] == 'Y'){echo '+ '.str_replace(',', ' ', number_format($trans['AMOUNT'])). $currency;}
				 else{echo str_replace(',', ' ', number_format($trans['AMOUNT'])). $currency;};
				?>
				</div>
			</td>
			<td class="wrap_status">
				<div class="status final">
				завершен
				</div>
			</td>
		</tr>
	<?}?>
</table>
<div class="js-show-more-operations" id="show_more" class="">Показать больше операций</div>
<? else: ?>
    <?= $this->partial("_partials/not-found-status/transaction.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]) ?>
<? endif ?>