<?
    $user = $this->user;
    $type = $user->getType();
?>


<div class="content-container">
    <?= EZendManager::profileSidebar() ?>

    <div class="profile-content js-profile-content" data-type="<?= $type ?>">
		<div class="profile-form">
            <?= ($type == DESIGNER_TYPE_ID)?new Sibirix_Form_ProfileDesigner():new Sibirix_Form_ProfileClient(); ?>
        </div>

        <div class="profile-form">
           <?= new Sibirix_Form_ProfileChangePassword() ?>
        </div>
    </div>
</div>