<div class="article-block">

    <div class="content-container">

        <h2 class="article-title">Полезные <a href="/article/" class="blue">статьи</a></h2>
        <div class="subtitle">Узнайте все тонкости обустройства интерьера</div>
	<div class="row">
		<div class="article-list">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="article">
				<img width="100%" src="/local/images/ts2.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхропараллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
						<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дзирует положителсительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
						<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчислДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроение, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхроДифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхростабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
						<div class="article">
				<img width="100%" src="/local/images/ts2.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
		</div>
				<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
											<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
		</div>
				<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="article article-tag">
			<h3 class="title">Популярные теги</h3>
			<div class="categories">
				<a href="javascript:void(0);" class="category">Кухня</a>
				<a href="javascript:void(0);" class="category">Советы дизайнеров</a>
				<a href="javascript:void(0);" class="category">Кухня</a>
				<a href="javascript:void(0);" class="category">Советы дизайнеров</a>
				<a href="javascript:void(0);" class="category">Кухня</a>
				<a href="javascript:void(0);" class="category">Советы дизайнеров</a>
			</div>
		</div>

						<div class="article">
				<img width="100%" src="/local/images/ts2.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
					<div class="article">
				<img width="100%" src="/local/images/ts1.jpg"/>
				<div class="content">
                    <div class="categories">
                        <a href="javascript:void(0);" class="category">Кухня</a>
                        <a href="javascript:void(0);" class="category">Советы дизайнеров</a>
                    </div>
					<h2 class="title"><a href="">Кухонный «фартук» из плитки: Как не ошибиться с цветом и укладкой</a></h2>
                    <p class="disc">Дифференциальное исчисление, конечно, стабилизирует параллельный абсолютно сходящийся ряд. Вектор синхронизирует положительный критерий сходимости Коши. Поле направлений позиционирует изоморфный ряд Тейлора. Относительная погрешность восстанавливает степенной ряд.</p>
                </div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="btn-wrapper">
            <a href="javascript:void(0);" class="btn blue waves-effect view_n3">Все статьи</a>
        </div>
	</div>
	</div>
	</div>
</div>
<style>
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 1200px;
  margin:0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 320px;
  height: 120px;
  float: left;
  /* vertical gutter */
  margin-bottom: 20px;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 320px; }
.grid-item--width4 { width: 320px; }

.grid-item--height2 { height: 320px; }
.grid-item--height3 { height: 320px; }
.grid-item--height4 { height: 320px; }

</style>
<script>
$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: 320,
  gutter: 20
});
</script>





