<?
    $complex = $this->complex;
    $designs = $this->complex->DESIGNS;
    $slides = array_chunk($designs, 4);
?>

<? if (!empty($designs)) { ?>
<div class="projects-block">
    <div class="content-container">
        <h2>Для <?= $complex->NAME ?> на сайте представлены следующие проекты:</h2>
        <div class="design-slider slider<?= (count($designs) > 4)?' js-slider':' designs' ?>">
            <? foreach ($slides as $designs) { ?>
                <div class="slide">
                    <? foreach ($designs as $ind => $item) { ?>
                        <?= $this->partial('./design/partials/design-item.phtml', ["item" => $item, "designer" => true]) ?>
                    <? } ?>
                </div>
            <? } ?>
        </div>
    </div>
</div>
<? } ?>