/*========================================================
			Competition
========================================================*/
.competition-detail-page{
	font: 400 15px 'PTSansRegular',sans-serif;
	color:#252525;
}
.competition-detail-page{
	background-color:#fafafa;
}
.competition-detail-page .project {
   
   
}
.competition-detail-page .project-inner {
    padding: 0 20px 25px 20px;
    font: 400 1em 'PTSansRegular',sans-serif;
}
.competition-detail-page .project .title {
    font: 400 25px 'RobotoSlabRegular',sans-serif;
    margin-bottom: 20px;
}
.competition-detail-page .right_bn .prop {

}
.competition-detail-page .right_bn .prop .sub-title {
    font: 400 1.5em 'PTSansBold',sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #252525;
}
.competition-detail-page .right_bn .prop p {
    font: 400 1.4em 'PTSansRegular',sans-serif;
    color: #878787;
	margin:20px 0;
}
.competition-detail-page .right_bn .prop p .value{
    font: 600 15px 'PTSansBold',sans-serif;
    color: #252525;
}
.competition-detail-page .right_bn .prop hr {
    margin:20px 0;
}
.competition-detail-page .right_bn .list-selected {
    margin-top: 25px;
    margin-bottom: 15px;
}
.competition-detail-page .right_bn .list-selected ul li {
    width: 62px;
    height: 75px;
    border: 1px solid #e8e8e8;
    float: left;
    position: relative;
    margin-right: 15px;
    overflow: hidden;
}
.competition-detail-page .right_bn .list-selected ul li .picture img {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 5px;
}
.competition-detail-page .right_bn .prop p.water_sign {
    font: 400 1.4em 'PTSansBold',sans-serif;
    color: #252525;
    transform: rotate(30);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: -26%; */
    /* top: 0%; */
    line-height: 50px;
    cursor: default;
}
.competition-detail-page .step {
    margin-top: -20px;
}
.competition-detail-page .simple_text {
    font: 400 1.5em 'PTSansRegular',sans-serif;
    margin: 0 0 10px 0;
}
.competition-detail-page .right_bn .prop .sub-title {
    font: 400 1.5em 'RobotoSlabBold',sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #252525;
}
.competition-detail-page .project {
    width: 318px;
    position: relative;
    background: none;
}
.competition-detail-page .left_bn {
    width: 790px;
    float: left;
    margin-bottom: 80px;
    position: relative;
}
.competition-detail-page .right_bn {
    margin-top: 85px;
    margin-left: 61px;
    overflow: hidden;
    float: left;
}
.competition-detail-page .right_bn .price-project{
    font: 400 30px 'PTSansRegular',sans-serif;
    color: #077fed;
	display:block;
	position:relative;
	padding-left:57px;
	margin-bottom:9px;
}
.competition-detail-page .right_bn .price-project::before{
	content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 39px;
    height: 26px;
    background-image: url(../images/sprite_r.png);
    background-position: -102px -380px;
}
.competition-detail-page .right_bn .time-project{
	font: 400 15px 'PTSansRegular',sans-serif;
	color:#252525;
	display:block;
	position:relative;
	padding-left:23px;
	margin-left: 57px;
	margin-bottom: 25px;
}
.competition-detail-page .right_bn .time-project::before{
	content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite_r.png);
    background-position: -167px -350px;
}
.competition-detail-page .right_bn .recomendation-btn{
	background-color:#f2f2f2;
	padding: 30px 25px;
	margin-top:30px;
}
.competition-detail-page .right_bn .download-document-btn{
	background-color:#f2f2f2;
	padding: 30px 25px;
	margin-top:30px;
}
.competition-detail-page .right_bn .download-document-btn .btn{
	argin: 0 auto;
    display: block;
    color: #3fb1da;
    /* padding: 16px 0; */
    height: 50px;
    font: 400 14px 'PTSansRegular',sans-serif;
    border-radius: 3px;
    border: 1px solid #3fb1da;
    background: none;
    min-width: 160px;
    padding: 0;
    line-height: 50px;
}
.competition-detail-page .right_bn .recomendation-btn a{
	margin:0 auto;
	display:block;
}
.competition-detail-page .right_bn .recomendation-btn .count_job{
	font: 400 15px 'PTSansRegular',sans-serif;
	color:#878787;
	position:relative;
	text-align: center;
	margin-top:15px;
}
.competition-detail-page .right_bn .recomendation-btn .count_job .val{
	font: 600 15px 'PTSansBold',sans-serif;
	color:#252525;
}
.competition-detail-page .right_bn .recomendation-btn .count_job::before{
	content: "";
	position: absolute;
	top: 2px;
	left: 45px;
	width: 17px;
	height: 17px;
	background-image: url(../images/sprite_r.png);
	background-position: -190px -350px;

}

.competition-detail-page .right_bn .item-family .icon_family{
	width: 62px;
    height: 55px;
    background: url(../images/sprite_r.png) -16px -275px no-repeat;
    display: block;
    float: left;
    margin-right: 22px;
}
.competition-detail-page .right_bn .item-family .icon{
	width: 30px;
	height: 55px;
	display: block;
	float: left;
	margin-right:10px;
}
.competition-detail-page .right_bn .item-family .icon.female{
	background: url(../images/sprite_r.png) -163px -275px no-repeat;
}
.competition-detail-page .right_bn .item-family .icon.man{
	background: url(../images/sprite_r.png) -88px -275px no-repeat;
}
.competition-detail-page .right_bn .item-family .icon.man.active{
	background: url(../images/sprite_r.png) -127px -275px no-repeat;
}
.competition-detail-page .right_bn .item-family .icon.female.active{
	background: url(../images/sprite_r.png) -199px -275px no-repeat;
}
.competition-detail-page .right_bn .item-family .value_popups .age{
	font: 400 13px 'PTSansRegular',sans-serif;
	color:#252525;
}
.competition-detail-page .right_bn .item-family .value_popups .room{
	font: 400 15px 'PTSansRegular',sans-serif;
	color:#077fed;
}
.competition-detail-page .right_bn .item-family .value_popups p{
	margin:0;
}
.competition-detail-page .right_bn .item-family .value_popups{
	margin:15px 0 0 0;
}
.competition-detail-page .left_bn .top-block{
	border-bottom:1px solid #e2e2e2;
	padding:20px 0;
	margin-top:25px;
	position:relative;
}
.competition-detail-page .left_bn h1.main{
	color:#252525;
	font: 400 36px 'RobotoSlabRegular',sans-serif;
	margin:5px 0 0 0;
}
.competition-detail-page .left_bn .author{
	font: 400 13px 'PTSansRegular',sans-serif;
	color:#878787;
	position:relative;
	padding-left:17px;
	float:left;
}
.competition-detail-page .left_bn .share{
	float:right;
}
.competition-detail-page .left_bn .share_txt{
	float:right;
	font: 400 13px 'PTSansRegular',sans-serif;
    color: #878787;
	float:right;
	margin-right:18px;
}

.competition-detail-page .left_bn .author::before{
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 12px;
	height: 15px;
	background-image: url(../images/sprite_r.png);
	background-position: -215px -350px;
}
.competition-detail-page .left_bn .author .value{
	color:#077fed;
}

.competition-detail-page .left_bn h2.sub-title{
	color:#077fed;
	font: 400 21px 'RobotoSlabRegular',sans-serif;
	margin: 35px 0 25px 0;
}
.competition-detail-page .left_bn .disc{
	font: 400 15px 'PTSansRegular',sans-serif;
}
.competition-detail-page .left_bn .object{
	color:#252525;
	font: 600 15px 'RobotoSlabBold',sans-serif;
	margin:10px 0 0 0;
}
.competition-detail-page .left_bn div.gallery{
	margin: 0 -10px;
}
.competition-detail-page .left_bn .gallery .photo{
	padding:10px;
	overflow: hidden;
	margin-bottom:10px;
}
.competition-detail-page .left_bn .gallery .photo img{
	width:100%;
	height: 140px;
}
.competition-detail-page .navi li a.selected {
    border-bottom: 5px solid #3fb1da;
    color: #252525;
}
.competition-detail-page .navi li a {
    font: 400 1.5em 'PTSansRegular',sans-serif;
    color: #a4a4a4;
    display: block;
    height: 100%;
}
.competition-detail-page .navi {
    margin: 45px 0;
    border-bottom: 1px solid #e2e2e2;
}
.competition-detail-page .navi li {
    display: inline-block;
    height: 35px;
    margin-bottom: -1px;
    margin-right: 50px;
}
#competition-comment-block.disabled {
    display: none;
}
#competition-design-project.disabled {
    display: none;
}

#service-page .order-list .order{
	margin-bottom:40px;
	border-bottom:1px solid #e3e3e3;
}