<?
$animationDuration = Settings::getOption('mainSliderPause', '3') + 4;
$designs = $this->itemList;
$slides = $this->slides;
?>
<style>
	.design-list {
		text-align: center;
	}
	.design-list .out-feature-item {
		height: 400px;
		padding: 0 10px;
	}
	.design-list .out-feature-item.disabled{
		display:none;
	}
	.design-list .out-feature-item{
		padding:0 10px;
	}
	.design-list .feature-item{
		border: 1px solid rgba(1, 1, 1, 0.05);
		box-sizing: border-box;
		margin-bottom: 18px;
		overflow: hidden;
		padding: 20px 20px;
		position: relative;
		background:#fff;
	}
	.design-list .out-feature-item img{
		max-height:241px;
		width:100%;
	}
	.design-list .feature-item {
		border: 1px solid rgba(1, 1, 1, 0.05);
		box-sizing: border-box;
		margin-bottom: 18px;
		overflow: hidden;
		padding: 20px 20px;
		position: relative;
		background: #fff;
	}
	.preview360-gallery, .preview360-gallery > img {
	  height: 238px;
	  width: 238px;
	}
	.preview360-gallery {
		height: 238px;
		width: auto;
		position: relative;
	}
	.preview360-gallery > img {
		height: 238px;
		width: 238px;
		left: 0;
		position: absolute;
	}
	.preview360-hide {
	  z-index:9;
	}
</style>
<div class="title-block-wrapper" style="display:none;">
    <div class="title-slider-block<?= (count($slides['ITEMS'])==1)?' one':''?>">
        <?= $this->render('_partials/title-slider.phtml') ?>
    </div>

    <div class="content-container search-form-wrapper">
        <h1><a href="#searchService" class="js-fancybox"
               data-white-close="1"
               data-user-call='{"method":"SearchService","element":".js-search-service"}'><?= $this->pageTitle ?></a></h1>
        <?= $this->filter ?>
    </div>
</div>
<div class="title-image-block">
    <div class="title-image">
        <div class="image" style="background-image: url('<?= P_PICTURES ?>complex-list/title-image.jpg');"></div>
    </div>

    <div class="content-container search-form-wrapper">
        <h1>Подберите дизайн мечты для вашей квартиры</h1>
        <?= $this->filter ?>
    </div>
</div>

<div class="catalog-block">
    <div class="content-container">
        <div class="filter"<?= (empty($designs))? ' style="visibility:hidden"' : '' ?>>

            <?= EZendManager::sorting("design") ?>
            <?= EZendManager::elementCntList() ?>

        </div>
        <div class="js-ajax-list-content">
            <?= $this->render('design/design-list.ajax.phtml') ?>
        </div>
    </div>
</div>
<script>
	$.ajax({
		url: 'http://proomer.ru/widget/designs/1299',
		data: '',
		success: function(data){
			console.log(JSON.parse(data))
		}
	});
</script>