<?
	$result = $this->result;
?>
<div id="service-page">
	<div class="content-container">
		<div class="content">
			<h2 class="main-title">Все конкурсы</h2>
			<div class="out_filter" id="filter_plan">
				<div class="js-show-hidden-filter btn_for_filter open"></div>
				<form enctype="application/x-www-form-urlencoded" class="js-filter-form filter_project filterForm formTabber" action="/service/" method="post" novalidate="novalidate">
					<label for="">Стоимость проекта:</label>
					<div class="data room">
						<ul>
							<li><input style="margin-right:10px;" class="area js-filter" type="text" name="priceMin" id="priceMin" value="" placeholder="от"/></li>
							<li><input class="area js-filter" type="text" name="priceMax" id="priceMax" value="" placeholder="до"/></li>
						</ul>
					</div>
					<label class="free-design">
					<input type="checkbox" name="planFree" id="planFree" value="1" class="js-design-free js-filter"><i></i>
					<span class="hint">Для дизайнеров</span></label>
					<label class="free-design">
					<input type="checkbox" name="planFree" id="planFree" value="1" class="js-design-free js-filter"><i></i>
					<span class="hint">Для мастеров</span></label>
				
				</form>
			</div>
			<div class="js-ajax-list-content">
				<?= $this->render('competition/list.ajax.phtml') ?>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>