<?
	$competition = $this->competition;
	$plan		 = $this->plan;
	$planOption = $this->planOption;
	$designList = $this->designList;
	$myDesignList = $this->myDesignList;
?>

	<div class="project project-select">
		<div class="project-inner">
			<div class="top">
				<span class="price-project"><?if($competition->PRICE_VALUE['PRICE']){echo round($competition->PRICE_VALUE['PRICE']).'&#8381';}else{echo 'Бесплатно';};?></span>
				<span class="time-project"><?echo (int) $competition->PROPERTY_TIME; echo EHelper::getWordForm((int) $competition->PROPERTY_TIME, [" день", " дня", " дней"]);?></span>
			</div>
			<hr/>
			<div class="prop">
				<p class="sub-title">Данные квартиры</p>
					<?if($plan->PROPERTY_ROOM_VALUE){?>
					<p>Количество комнат.............<span class="value"><?=$plan->PROPERTY_ROOM_VALUE?></span></p>
					<?}?>
					<?if($plan->PROPERTY_AREA_VALUE){?>
					<p>Площадь.............................<span class="value"><?=$plan->PROPERTY_AREA_VALUE?>м&#178;</span></p>
					<?}?>
				<!--<p>Общая площадь..............<span class="value">76 м&#178;</span></p>-->
				<!--<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>-->
				<hr/>
			</div>	
			<div class="prop">
				<p class="sub-title">Состав семьи</p>
					<div class="list-item-family">
						<div class="row row_popup">
				<?if(count($competition->PEOPLE) > 0){?>	
					<p>Взрослых...........................<span class="value"><?echo count($competition->PEOPLE); echo EHelper::getWordForm(count($competition->PEOPLE), [" человек", " человека", " человек"]);?></span></p>
					<?foreach($competition->PEOPLE as $people){
						if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == PEOPLE_GENDER_MAN){
							$gender="man";
						}
						else if($people->PROPERTY_PEOPLE_GENDER_ENUM_ID == PEOPLE_GENDER_FEMALE){
							$gender="female";
						}
						else{
							$gender="man";
						}
					?>
								<div class="col-xs-6 col-sm-6 col-md-6">					
									<div class="item-family">
										<span class="icon <?=$gender?> active"></span>
										<div class="select2_view_n1">
											<div class="select2-container select-container-age-1" style="position:relative">									
												<div class="value_popups">
													<?if(!$people->PROPERTY_PEOPLE_AGE_VALUE){
														$people->PROPERTY_PEOPLE_AGE_VALUE = 0;
													}
													?>
													<p class="age"><?=$people->PROPERTY_PEOPLE_AGE_VALUE?> лет</p>
													<!--<p class="room">Комната №1</p>-->
												</div>
											</div>
										</div>
									</div>
								</div>		
					<?}?>
				<?}?>
					</div>
				</div>	
				<?if(count($competition->PEOPLE_CHILDREN) > 0){?>				
					<p>Детей.................................<span class="value"><?echo count($competition->PEOPLE_CHILDREN); echo EHelper::getWordForm(count($competition->PEOPLE_CHILDREN), [" человек", " человека", " человек"]);?></span></p>
					<div class="list-item-family">
							<div class="row row_popup">
					<?foreach($competition->PEOPLE_CHILDREN as $childrenpeople){
						if($childrenpeople->PROPERTY_PEOPLE_GENDER_ENUM_ID == PEOPLE_GENDER_MAN){
							$gender="man";
						}
						else if($childrenpeople->PROPERTY_PEOPLE_GENDER_ENUM_ID == PEOPLE_GENDER_FEMALE){
							$gender="female";
						}
						else{
							$gender="man";
						}					
					?>

								<div class="col-xs-6 col-sm-6 col-md-6">					
									<div class="item-family">
										<span class="icon <?=$gender?> active"></span>
										<div class="select2_view_n1">
											<div class="select2-container select-container-age-1" style="position:relative">									
												<div class="value_popups">
													<?if(!$childrenpeople->PROPERTY_PEOPLE_AGE_VALUE){
														$childrenpeople->PROPERTY_PEOPLE_AGE_VALUE = 0;
													}
													?>
													<p class="age"><?=$childrenpeople->PROPERTY_PEOPLE_AGE_VALUE?> лет</p>
													<!--<p class="room">Комната №1</p>-->
												</div>
											</div>
										</div>
									</div>
								</div>		
					<?}?>
				<?}?>
							</div>
						</div>	
				<?if(count($competition->ANIMAL) > 0){?>
					<p>Домашние животные.........<span class="value">
					<?
						for($i = 0; $i < count($competition->ANIMAL); $i++){
							if($i == count($competition->ANIMAL) - 1){
								echo $competition->ANIMAL[$i]->PROPERTY_ANIMAL_VALUE;
							}
							else{echo $competition->ANIMAL[$i]->PROPERTY_ANIMAL_VALUE .',';}
						}
					?></p></span>
				<?}?>
				<hr/>				
			</div>		
			<div class="prop">		
				<p class="sub-title">Планировка</p>
				<div class="list-selected">
					<ul>
						<li>
							<div class="picture">
								<img src="<?=$plan->PROPERTY_IMAGES_VALUE?>"/>
							</div>
						</li>
						<li><div class="picture"><img src="<?=$planOption->PROPERTY_IMAGES_VALUE?>"/></div></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<?if($plan->PROPERTY_DOCUMENTS_VALUE){?>
				<div class="btn-wrapper-dropdown download-document-btn">
					<a class="btn no-phone waves-effect" download data-step="4" href="<?=$plan->PROPERTY_DOCUMENTS_VALUE?>">
					Скачать документы</a>
				</div>
			<?}?>
			<?if (Sibirix_Model_User::isAuthorized() && Sibirix_Model_User::getCurrent()->getType() == DESIGNER_TYPE_ID) {?>
			<div class="recomendation-btn">
				<a class="js-give-reco super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#give-reco">
				Предложить решение</a>
				<p class="count_job">Решений: <span class="val"><?if($myDesignList){echo count($myDesignList->items);}else{echo (int)$myDesignList;}?></span></p>
			</div>	
			<?}?>
		</div>
	</div>
