<?

$ARR_PLAN_AJAX = $this->ARR_PLAN_AJAX;
$ARR_PLAN_OPTION_AJAX = $this->ARR_PLAN_OPTION_AJAX;
$PLAN_SAVE = $this->PLAN_SAVE;
$PLAN_OPTION_SAVE = $this->PLAN_OPTION_SAVE;

if($ARR_PLAN_AJAX){
	$plan = $ARR_PLAN_AJAX;
}
else if($PLAN_SAVE){
	$plan = $PLAN_SAVE;
}
if($ARR_PLAN_OPTION_AJAX){
	$plan_option = $ARR_PLAN_OPTION_AJAX;
}
else if($PLAN_OPTION_SAVE){
	$plan_option = $PLAN_OPTION_SAVE;
}

$nextstep = $this->nextstep;
$url = $this->url;
$projectData = $this->projectData;
$planOption = $this->planOption;
$nextstep_d = $this->nextstep_d;
$nextstepfile = $this->nextstepfile;
$starting_price = $this->starting_price;
$auth = $this->auth;
$access = $this->access;
$html = '';
$image = '';

?>
	<div class="project project-select">
		<div class="border-style1"></div>
		<div class="project-inner">
				<h2 class="title">Проект</h2>
				<hr/>
			<?if($plan){?>
				<br/>
				<p class="sub-title">Планировка</p>
				<div class="prop">
					<?if(!empty($plan[0] -> PROPERTY_ROOM_VALUE)){?>
						<p>Количество комнат........<span class="value"><?=$plan[0] -> PROPERTY_ROOM_VALUE?>  <?= EHelper::getWordForm($plan[0] -> PROPERTY_ROOM_VALUE, ["комната", "комнаты", "комнат"]); ?></span></p>
					<?};?>
					<?if(!empty($plan[0] -> PROPERTY_AREA_VALUE)){?>
						<p>Площадь.......................<span class="value"><?=$plan[0] -> PROPERTY_AREA_VALUE?>м&#178;</span></p>
					<?};?>
						<!--<p>Общая площадь..............<span class="value">76 м&#178;</span></p>-->
						<!--<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>-->
					<div class="list-selected">
						<ul>
							<li><div class="picture"><img src="<?=$plan[0]->PLAN_IMAGE?>"/></div></li>
							<?if($plan_option){?>
								<li><div class="picture"><img src="<?=$plan_option[0]->PLAN_IMAGE?>"/></div></li>
							<?};?>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<?if(isset($plan_option[0]->PROPERTY_COORDS_VALUE) && count($plan_option[0]->PROPERTY_COORDS_VALUE) > 0){?>
					<div class="plan" style="position:relative"><img src="<?=$plan_option[0]->PLAN_IMAGE?>" alt="<?=$plan_option[0]->NAME?>"/>
						<?
						$i=1;
						foreach($plan_option[0]->PROPERTY_COORDS_VALUE as $cords){
							$x_y = explode(',', $cords);
						?>
							<div class="pin" style="left:<?=($x_y[0]/1.6363) - 15?>px;top:<?=($x_y[1]/1.6363) - 15?>px;">К.<?=$i?></div>
						<?
							$i+=1;
						};
						?>
					</div>
				<?}?>
				<?if(isset($projectData->PROPERTY_PEOPLE_VALUE) && count($projectData->PROPERTY_PEOPLE_VALUE) > 0 || isset($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE) && count($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE) > 0 || isset($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE) && count($projectData->PROPERTY_ANIMAL_VALUE) > 0){
				?>
					<hr/>
					<p class="sub-title">Состав семьи</p>
					<div class="prop">
						<?if(count($projectData->PROPERTY_PEOPLE_VALUE) > 0){?>
							<p>Взрослых....................................<span class="value"><?echo count($projectData->PROPERTY_PEOPLE_VALUE); echo EHelper::getWordForm(count($projectData->PROPERTY_PEOPLE_VALUE), [" человек", " человека", " человек"]);?></span></p>
						<?};?>
						<?if(count($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE) > 0){?>
							<p>Детей............................................<span class="value"><?echo count($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE); echo EHelper::getWordForm(count($projectData->PROPERTY_PEOPLE_CHILDREN_VALUE), [" ребенок", " ребенка", " детей"]);?></span></p>
						<?};?>
						<?if(count($projectData->PROPERTY_ANIMAL_VALUE) > 0){?>
							<p>Домашние животные.............
								<?foreach($projectData->PROPERTY_ANIMAL_VALUE as $animal){
						?>
								<span class="value"><?=$animal?></span>
								<?};?>
							</p>
						<?};?>
					</div>
				<?}?>
				<?if($starting_price){?>
					<p class="sub-title">Стоимость проекта</p>
					<div class="prop">
						<p class="price"><span class="summ"><?echo $starting_price;?></span>&#8381;</p>
						<p>(300&#8381; *  76 м&#178;) + 21%</p>
					</div>
				<?}
			}
			else{
			?>
				<br/><br/>
				<p class="simple_text">Выберите планировку вашей квартиры.</p>
				<br/>
				<p class="simple_text">Если не нашли нужную плнировку,<a class="under-link style1 js-fancybox fancyboxLink" href="#call-super-man">вызовите бесплатного замерщика</a></p>
				<br/><br/>
				<hr/>
			<?
			}?>
			<div class="step <?if(!$auth || !$access){echo 'noactive';}else{echo 'active';};?>">
				<a id="nextstep" class="btn js-<?echo $nextstep; if(!$auth || !$access){echo ' noLink';};?>" href="<?=$url?>" class="btn">ДАЛЕЕ</a><span class="style4 cont" href=""><?=$nextstep_d;?></span>
			</div>
			<br/>
			<?if(!$auth){
			?>
				<br/>
				<p class="simple_text" style="text-align:center">
					Для того, чтобы продолжить пользоваться
					сервисом, пожалуйста, <a class="under-link style1 js-fancybox fancyboxLink" href="#registration-popup">зарегистрируйтесь</a>
					или <a class="under-link style1 js-fancybox fancyboxLink" href="#login-popup">войдите</a> под своим логином
				</p>
			<?}?>
		</div>
	</div>
<?
//}else{};
?>
	<?
	if($nextstepfile){
		$class = "active";
	}
	else{
		$class = "noactive";
	};
	?>
	<div class="project project-upload">
		<div class="border-style1"></div>
		<div class="project-inner">
			<h2 class="title">Проект</h2>
			<hr/>
			<br/>
			<p>
				Загрузите скан-копию планировки, 
				чтобы продолжить!
				<br/><br/>
				Если у вас нет скана,
				<a class="under-link style1 js-fancybox fancyboxLink" href="#call-super-man">вызовите бесплатного замерщика</a>
				
			</p>
			<div class="clearfix"></div>
			<br/>
			<hr/>
			<div class="step <?=$class?>">
				<a href="javascript:void(0);" class="btn">ДАЛЕЕ</a><span class="style4 cont" href="">К вариантам<br/>
				планировок</span>
			</div>
			<br/>
			<p class="i mess" style="text-align:center">
				Для того, чтобы продолжить пользоваться<br/>
				сервисом, пожалуйста, дождитесь проверки<br/>
				загруженных файлов!
			</p>
			<br/>
		</div>
	</div>	