<div id="ajax-get-step-second">
	<div id="accordion">
<?
$designDesigns = $this->designDesigns;
$TYPE_ROOM = Sibirix_Model_Reference::getReference(HL_TYPEROOM, array("UF_NAME", "UF_XML_ID", "UF_ID_MEDIA", "ID", "UF_NAME_CASE_1"), "UF_XML_ID");

$HL_PRIMARY_COLORS = Sibirix_Model_Reference::getReference(HL_PRIMARY_COLORS, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
$HL_STYLE = Sibirix_Model_Reference::getReference(HL_STYLE, array("UF_NAME", "UF_XML_ID"), "UF_XML_ID");
$i = 0;

do{
?>

	<h3><?if($designDesigns[$i]){echo $designDesigns[$i]->NAME;}else{echo 'Дизайн проект';};?> <span data-id-room="<?=$designDesigns[$i]->ID?>" title="Удалить комнату" class="delete_room js-delete-room">x</span></h3>
	<div>
		<form enctype="application/x-www-form-urlencoded" class="step2 profileSettingsForm formTabber" action="/profile/design/save/second" method="post" novalidate="novalidate">			
			<input type="hidden" name="" id="fileIds" value=""/>
			<input type="hidden" class="designId" name="designId" value="<?=$designDesigns[$i]->ID?>"/>
			<input type="hidden" class="roomId" name="roomId" value="<?=$designDesigns[$i]->ROOM->ID?>"/>
			<div id="top-block" class="block top-block">
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Выберите комнату</label></div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<select class="required js-example-tags form-control select2-hidden-accessible js-select-sinle-type-room" multiple="" name="type" aria-hidden="true">								
								<?foreach($TYPE_ROOM as $A_TYPE){?>
									<option 
										data-name-case-1="<?=$A_TYPE[4]?>"
										data-type="<?=$A_TYPE[0]?>"
										data-media-id="<?=$A_TYPE[2]?>"
										value="<?=$A_TYPE[1]?>"
										<?if($A_TYPE[1] == $designDesigns[$i]->PROPERTY_TYPE_VALUE){
											echo 'selected';
										};?>
									>
										<?=$A_TYPE[0]?>
									</option>								
								<?}?>																		
							</select>
							<span class="js-error error-message"></span>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Площадь комнаты</label></div>
						<div class="col-xs-2 col-sm-2 col-md-2">
							<input type="text" class="required number" name="area" value="<?=$designDesigns[$i]->PROPERTY_AREA_VALUE?>"/>
							<span class="js-error error-message"></span>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8"><label class="square">м&#178;</label></div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Стиль дизайна</label></div>
						<div class="col-xs-10 col-sm-10 col-md-10">
							<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="style[]" multiple="" tabindex="-1" aria-hidden="true">
							<?
							if(count($designDesigns[$i]->PROPERTY_STYLE_VALUE) > 0){
								foreach($designDesigns[$i]->PROPERTY_STYLE_VALUE as $design_style){
									foreach($HL_STYLE as $A_STYLE){?>
										<option data-type="<?=$A_STYLE[0]?>" data-media-id="<?=$A_STYLE[2]?>" value="<?=$A_STYLE[1]?>"<?if($A_STYLE[1] == $design_style){echo 'selected';};?>><?=$A_STYLE[0]?></option>
									<?}
								}
							}
							else{
								foreach($HL_STYLE as $A_STYLE){?>
										<option data-type="<?=$A_STYLE[0]?>" data-media-id="<?=$A_STYLE[2]?>" value="<?=$A_STYLE[1]?>" <?if($A_STYLE[1] == $design_style){echo 'selected';};?>><?=$A_STYLE[0]?></option>
								<?}
							}?>
							</select>
							<span class="js-error error-message"></span>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Основные цвета</label></div>
						<div class="col-xs-10 col-sm-10 col-md-10">
							<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="color[]" multiple="" tabindex="-1" aria-hidden="true">
							<?
							if(count($designDesigns[$i]->PROPERTY_PRIMARY_COLOR_VALUE) > 0){
								foreach($designDesigns[$i]->PROPERTY_PRIMARY_COLOR_VALUE as $design_color){	
									foreach($HL_PRIMARY_COLORS as $A_COLORS){?>
										<option data-type="<?=$A_COLORS[0]?>" data-media-id="<?=$A_COLORS[2]?>" value="<?=$A_COLORS[1]?>" <?if($A_COLORS[1] == $design_color){echo 'selected';};?>><?=$A_COLORS[0]?></option>
									<?}
								}
							}else{
								foreach($HL_PRIMARY_COLORS as $A_COLORS){?>
										<option data-type="<?=$A_COLORS[0]?>" data-media-id="<?=$A_COLORS[2]?>" value="<?=$A_COLORS[1]?>" <?if($A_COLORS[1] == $design_color){echo 'selected';};?>><?=$A_COLORS[0]?></option>
								<?}
							}?>
							</select>
							<span class="js-error error-message"></span>
						</div>
					</div>
				</div>
				<!--<div class="wrap-data">
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Краткое описание</label></div>
						<div class="col-xs-10 col-sm-10 col-md-10">
							<textarea name="previewDesignDescription" id="designDescription" class="required materialize-textarea" name="preview_disc" rows="4" maxlength="255" cols="80"></textarea>
							<span class="disc-message"><span class="alien">Например:</span> Нестандартное дизайнерское решение разместить в зоне эркера необычные кресла насыщенного желтого цвета было с энтузиазмом принято заказчиком.</span>
							<span class="js-error error-message"></span>
						</div>
					</div>
				</div>-->
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Описание проекта</label></div>
						<div class="col-xs-10 col-sm-10 col-md-10">
							<textarea name="detailDesignDescription" id="designDescription" class="materialize-textarea" name="detail_disc" rows="7" maxlength="255" cols="80"><?=$designDesigns[$i]->DETAIL_TEXT?></textarea>
							<span class="js-error error-message"></span>
						</div>
					</div>
				</div>	
			</div>
			<div id="price-block" class="block price-block">
				<h2>Стоимость</h2>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Стоимость дизайн-проекта за 1 м&#178;</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required number price" name="priceSquare" value="<?=$designDesigns[$i]->PROPERTY_PRICE_SQUARE_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Мебель</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required number price" name="priceFurniture" value="<?=$designDesigns[$i]->PROPERTY_PRICE_FURNITURE_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Сантехника</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required price" name="pricePlumbing" value="<?=$designDesigns[$i]->PROPERTY_PRICE_PLUMBING_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Свет</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required number price" name="priceLight" value="<?=$designDesigns[$i]->PROPERTY_PRICE_LIGHT_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Электроника</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required number price" name="priceElectronics" value="<?=$designDesigns[$i]->PROPERTY_PRICE_ELECTRONICS_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-data">
					<div class="row input-row">
						<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Материалы</label></div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="input-out price">
								<input type="text" class="required number price" name="priceMaterials" value="<?=$designDesigns[$i]->PROPERTY_PRICE_MATERIALS_VALUE?>"/>
								<span class="js-error error-message"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="/profile/design" id="save-your-life" class="check blue waves-effect js-save-your-life">Сохранить</a>
						
			<div id="upload-block" class="block upload-block">
				<h2>Загрузка файлов визуализации</h2>
				<div class="input-row">
					<div class="upload-area js-imgs-dropzone inline  dropzoneArea dz-clickable preloaderController">
						<?if(!$designDesigns[$i]->PHOTOS){?>
						<div class="js-dz-text text">Перетащите изображения в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div>
						<?}?>										
						<input type="hidden" class="photoRoom" name="photoRoom" value="<?
							for($q = 0; $q < count($designDesigns[$i]->PHOTOS); $q++){
								if($q == count($designDesigns[$i]->PHOTOS) - 1){
									echo $designDesigns[$i]->PHOTOS[$q]['valueId'];
								}
								else{
									echo $designDesigns[$i]->PHOTOS[$q]['valueId'].', ';
								}
							}
						?>"/>							
						<?foreach($designDesigns[$i]->PHOTOS as $photo){?>
							<div class="dz-default-img" data-value-id="<?=$photo['valueId']?>" style="background-image: url('<?=$photo['imageSrc']?>')"><div class="js-del-item del-icon"></div><div class="js-pin-item pin-icon"></div></div>
						<?}?>
						<div class="hint">Вы можете загружать файлы форматов jpg, png, jpeg, gif, bmp <br/>Размер файла не должен превышать 5 Мб</div>		
					</div>				
					<span class="js-error error-message"></span>
				</div>
			</div>
		</form>
	</div>
<?$i+=1;}while($i < count($designDesigns))?>
	</div>
</div>
