<?
	$planList = $this->planList;
?>
<div class="content-container">
<?if($planList->pageData->totalItemsCount > 0){?>
	<div class="list-plan js-list-plan">
		<div class="row">
			<?
			$i=0; 
			foreach($planList->items as $plan): ?>
				<?= $this->partial("complex/partials/plan-item.phtml", ["item" => $plan]) ?>
			<?
			$i+=1;
			endforeach ?>						
			<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
				<div class="plan alien note taupe">
					<a class="js-fancybox fancyboxLink" href="#call-super-man">
						<span class="ask">Не нашли нужный план квартиры?</span>
						<span class="mess">Вызовите замерщика бесплатно</span>
					</a>
					<div class="line_1"></div>
					<div class="line_2"></div>
				</div>
			</div>
		</div>
	</div>	
<?
}
else{
?>

	<div class="not-found plan">
		<div class="not-found-message">
			<p class="big">По вашему запросу не нашлось вариантов квартир</p><br/>
			<p class="little">Тем не менее, вы можете вызвать замерщика. Это совершенно бесплатно.</p><br/>
			<div class="call-super-man"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
			ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
		</div>
		<div class="not-found-icon"></div>
	</div>

	<?//echo $this->partial("_partials/not-found-status/complex.phtml", ["message" => " <p>По вашему запросу ничего не найдено.</p><p>Попробуйте <b>ввести другие параметры</b> для поиска.</p>"]);
	};
?>
</div>