
<div class="project-out preloaderController">
	<?= $this->partial('service/projectcart.ajax.phtml', array('nextstep' => $this->nextstep, 'nextstep_d' => $this->nextstep_d, 'nextstepfile' => $this->nextstepfile, 'item_save' => $this->item_save)) ?>
</div>
<div class="help">
			<h2 class="title">Нужна помощь?</h2>
			<p style="text-align:center;">Наши специалисты помогут вам<br/> разобраться с сервисом</p>
			<span class="phone">+7 (975) 856-14-56</span>
			<span class="time_job">Работаем с 8:00 до 22:00</span>
		</div>