<?
	$user = $this->user;
	$image = $this->image;
	$type = $this->type;
	$ARR_COUNTER = $this->ARR_COUNTER;
?>

	<div class="profile-nav-view-n2">
		<div class="nav-inner" id="top-menu">
			<ul class="nav select-object active">
				<li class="active"><a class="select_home" href="/profile/"><!--<span class="icon"></span>--><span>Основные настройки</span></a></li>
				<li><a class="select_plan" href="/profile/finance-settings"><!--<span class="icon"></span>--><span>Личные данные</span></a></li>
			</ul>
		</div>
	</div>
    <?//= EZendManager::profileSidebar() ?>
    <div class="profile-content js-profile-content" data-type="<?= $type ?>">	
			<div class="panel">
				<div class="image-wrapper" style="display:none;">
					<form id="upload-image" action="<?= $this->url([], 'profile-upload-photo');?>" method="POST" enctype="multipart/form-data">
						<input type="file" accept="image/jpeg,image/png" class="image js-image-avatar" name="avatar">
					</form>
				</div>
			</div>
			<form enctype="application/x-www-form-urlencoded" class="js-profile-form profileForm formTabber editing" action="/profile/designer-update/" method="post" novalidate="novalidate" data-text="Ваши изменения были сохранены">
				<div class="profile-form js-form-block">
					<h2>Основные настройки</h2>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="ph">
								<div class="avatar" style="background-image: url('<?=$image?>')">
									<?if(!$user->PERSONAL_PHOTO || !$image){?>
										<span><?=$abr?></span>
									<?}?>
								</div>
								
								<div class="panel">
									<?if(!empty($user->PERSONAL_PHOTO)){?>
										<a class="js-upload-avatar button_change_avatar">Заменить фото</a>
									<?}else{?>
										<a class="js-upload-avatar button_change_avatar">Добавить фото</a>
									<?}?>
								</div>
																
							</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9">
							<input type="hidden" name="userId" value="83" id="userId">		
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Имя</label></div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<input type="text" class="required" name="name" value="<?=$user->NAME?>">
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>		
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Фамилия</label></div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<input type="text" class="required" name="last_name" value="<?=$user->LAST_NAME?>">
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>
					<!--<div class="wrap-data">
						<div class="row">
							<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Стиль дизайна</label></div>
							<div class="col-xs-10 col-sm-10 col-md-10">
								<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="style[]" multiple="" tabindex="-1" aria-hidden="true">
								
									<?foreach($HL_STYLE as $A_STYLE){?>
										<option 
											data-type="<?=$A_STYLE[0]?>"
											data-media-id="<?=$A_STYLE[2]?>"
											value="<?=$A_STYLE[1]?>"
											<?if($A_STYLE[1] == $ARR_PROJECT_ROOM[$i] -> PROPERTY_TYPE_ROOM_VALUE){
												echo 'selected';
											};?>
										>
											<?=$A_STYLE[0]?>
										</option>
									<?}?>
								</select>
							</div>
						</div>
					</div>-->		
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label for="about" class="label-data required">О себе</label></div>
									<div class="col-xs-10 col-sm-10 col-md-10">
										<textarea name="about" id="about" class="materialize-textarea" rows="7" maxlength="255" cols="80"><?=$user->WORK_PROFILE?></textarea>													</textarea>
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Стили работ</label></div>
									<div class="col-xs-10 col-sm-10 col-md-10">
										<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="styles[]" multiple="" tabindex="-1" aria-hidden="true">					
											<?
												foreach($HL_STYLE as $key_style=>$A_STYLE){
											?>
														<option data-type="<?=$A_STYLE[0]?>" value="<?=$key_style?>"<?foreach($user->UF_STYLES as $key_user_style=>$value_user_style){if($key_style == $value_user_style){echo 'selected';};}?>><?=$A_STYLE[0]?></option>
												<?
												}
											?>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-form js-form-block">
					<div class="row input-row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<input type="hidden" name="userId" value="83" id="userId">		
							<div class="wrap-data">
								<div class="row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Компания</label></div>
									<div class="col-xs-10 col-sm-10 col-md-10">
										<input type="text" class="required" name="kompany" value="<?=$user->WORK_COMPANY?>">
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>		
							<div class="wrap-data">
								<div class="row">
									<div class="col-xs-8 col-sm-8 col-md-8">
										<div class="row input-row">
											<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Расположение</label></div>
											<div class="col-xs-8 col-sm-8 col-md-8 offset_1">
												<select class="required js-select-position select2-hidden-accessible" multiple name="personal_country" aria-hidden="true">								
													<?foreach($ARR_COUNTER['reference'] as $key_counter => $counter){?>
														<option value="<?=$ARR_COUNTER['reference_id'][$key_counter]?>" <?if($user->PERSONAL_COUNTRY == $ARR_COUNTER['reference_id'][$key_counter]){echo 'selected';}?>><?=$counter?></option>
													<?}?>
												</select>
												<span class="js-error error-message"></span>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4">
										<div class="row input-row">
											<input type="text" class="required" name="city" value="<?=$user->PERSONAL_CITY?>">
											<span class="js-error error-message"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Эл. почта</label></div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div class="wrap-input">
											<input type="text" class="required email" name="email" value="<?=$user->EMAIL?>">
											<span class="js-error error-message"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap-data">
								<div class="row input-row">
									<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Мобильный телефон</label></div>
									<div class="col-xs-4 col-sm-4 col-md-4">
										<input type="text" class="personal_mobile" name="phone" value="<?=$user->PERSONAL_MOBILE?>">
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="/profile/design" id="save-your-life" class="btn blue waves-effect js-save-your-life">Сохранить</a>
			</form>
			
			<div class="js-profile-content" data-type="<?= $type ?>">			
				<div class="profile-form js-form-block social-block">
					<h2>Социальные сети</h2>
					<div class="list-social js-list-social">
						<div class="row social-item">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="social vk">
									Вконтакте
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">

								<form action="" method="post" class="form-creat-communication <?if($user->UF_SOCIAL_VK){echo ' hide';};?>">
									<input type="hidden" name="social" value="vk">
									<input type="text" class="" name="login" value="" placeholder="Введите URL-адрес">
								</form>
								<div class="social_login">
									<span class="btn blue waves-effect js-add-communiacation add-communiacation <?if($user->UF_SOCIAL_VK){echo ' hide';};?>">Связать</span>
									<div class="<?if(!$user->UF_SOCIAL_VK){echo 'hide';};?>">
										<span class="login_soc">
											<?if($user->UF_SOCIAL_VK){
												echo $user->UF_SOCIAL_VK;
											}?>
										</span>
										<div title="Удалить" data-social="vk" class="js-del-social delete_soc"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row social-item">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="social fb">
									Facebook
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<form action="" method="post" class="form-creat-communication <?if($user->UF_SOCIAL_FB){echo ' hide';};?>""><input type="hidden" name="social" value="fb"><input type="text" class="" name="login" value="" placeholder="Введите URL-адрес"></form>
								<div class="social_login">
									<span class="btn blue waves-effect js-add-communiacation add-communiacation <?if($user->UF_SOCIAL_FB){echo ' hide';};?>">Связать</span>
									<div class="<?if(!$user->UF_SOCIAL_FB){echo 'hide';};?>">
										<span class="login_soc">
											<?if($user->UF_SOCIAL_FB){
												echo $user->UF_SOCIAL_FB;
											}?>
										</span>
										<div title="Удалить" data-social="fb" class="js-del-social delete_soc"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row social-item">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="social twitter">
									Twitter
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<form action="" method="post" class="form-creat-communication <?if($user->UF_SOCIAL_TWITTER){echo ' hide';};?>"><input type="hidden" name="social" value="twitter"><input type="text" class="" name="login" value="" placeholder="Введите URL-адрес"></form>
								<div class="social_login">
									<span class="btn blue waves-effect js-add-communiacation add-communiacation <?if($user->UF_SOCIAL_TWITTER){echo ' hide';};?>">Связать</span>
									<div class="<?if(!$user->UF_SOCIAL_TWITTER){echo 'hide';};?>">										
										<span class="login_soc">
											<?if($user->UF_SOCIAL_TWITTER){
												echo $user->UF_SOCIAL_TWITTER;
											}?>
										</span>
										<div title="Удалить" data-social="twitter" class="js-del-social delete_soc"></div>
									</div>
								</div>
							</div>
						</div>					
						<div class="row social-item last">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="social classm">
									Одноклассники
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<form action="" method="post" class="form-creat-communication <?if($user->UF_SOCIAL_CLASSM){echo ' hide';};?>"><input type="hidden" name="social" value="classm"><input type="text" class="" name="login" value="" placeholder="Введите URL-адрес"></form>
								<div class="social_login">
									<span class="btn blue waves-effect js-add-communiacation add-communiacation <?if($user->UF_SOCIAL_CLASSM){echo ' hide';};?>">Связать</span>
									<div class="<?if(!$user->UF_SOCIAL_CLASSM){echo 'hide';};?>">
										<span class="login_soc">
											<?if($user->UF_SOCIAL_CLASSM){
												echo $user->UF_SOCIAL_CLASSM;
											}?>
										</span>
										<div title="Удалить" data-social="classm" class="js-del-social delete_soc"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>