<?
	$itemList = $this->itemList;
	$cityModel    = new Sibirix_Model_City();
	?><PRE><?ECHO PRINT_R(Sibirix_Model_Reference::getReference(HL_PRIMARY_COLORS, ["UF_NAME"], "UF_XML_ID"));?></PRE><?
	?><PRE><?ECHO PRINT_R($cityModel->getElements());?></PRE><?
//	EXIT;
?>
<input type="hidden" id="designId" name="designId" value="2475">
<div id="service-page">
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта готовой планировки</h2>
				<div id="service_menu">
					<ul>
						<li class="selected"><a href="">Выбор планировки</a></li>
						<li><a class="under-link" href="">Варианты планировок</a></li>
						<li><a class="under-link" href="">Варианты дизайна</a></li>
						<li><a class="under-link" href="">Состав семьи</a></li>
						<li><a class="under-link" href="">Настройка заказа</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="content-container">
			<div class="content"><h2 class="page-title">Выбор планировки</h2></div>
			<div class="left_bn">
				<div class="content">
					<div class="row row-btn-top">	
						<a href="" data-page="select" id="btn_select_plan" class="js-open-page under-link-dashed style2">Выбрать готовую</a>
						&nbsp; &nbsp; &nbsp; &nbsp;<span class="or">или</span>&nbsp; &nbsp; &nbsp; &nbsp;  
						<a href="" data-page="upload" id="btn_upload_plan" class="js-open-page style3">Загрузить свою</a>
						<div class="call-super-man"><a class="js-call-super-man btn blue waves-effect js-fancybox fancyboxLink" data-step="4" href="#call-super-man">
						ВЫЗВАТЬ ЗАМЕРЩИКА БЕСПЛАТНО</a></div>
					</div>
				</div>
				<div id="select_plan">
					<div class="js-ajax-list-content">
						<?= $this->render('project/selectplan.ajax.phtml') ?>
					</div>
				</div>
				<div id="upload_plan" style="display:none">
					<div class="content">
					<?
					if (Sibirix_Model_User::isAuthorized()) {
						echo '<p>Вы можете в любой момент вернуться к заполнению проекта.<br/>
						Найти проект можно в <a class="under-link style1" href="/profile">личном кабинете</a></p>';
					}
					else{
						echo '<p>Обращаем внимание!<br/>
						Для того, чтобы мы согли проверить загруженные файлы планировки,<br/> 
						вам необходимо <a class="under-link style1 js-fancybox fancyboxLink" href="#registration-popup">зарегистрироваться</a> или <a href="#login-popup" class="under-link style1 js-fancybox fancyboxLink">войти под своим логином</a></p>';
					}
					?>
						<div class="area-upload <?if (!Sibirix_Model_User::isAuthorized()) {echo 'ghost';}?>">
						<?if (!Sibirix_Model_User::isAuthorized()) {?>
								<div class="overlap ghost">
								</div>
						<?}?>
							<label>Загрузите скрин-копию вашей планировки:</label>
							<form>
							<div class="upload-area js-docs-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите файлы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div></div>
							</form>
							<p class="i file_res">Для загрузки допускаются файлы до 2Мб, форматов: jpg, png, bmp</p>
						</div>
						<?if (Sibirix_Model_User::isAuthorized()) {?>
						<hr/>
						<div class="result">
							<p class="title">Загруженные файлы:</p>
							<p class="i">Как только мы проверим загруженные файлы, на соответствие требованиям,<br/>
							вы сможете перейти к следующему шагу</p>
							<div class="list-result">
								<div class="row">
									<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
										<div class="item-elem">
											<div class="picture">
												
											</div>
											<div class="info">
												<p class="name">1.jpg</p>
												<p class="status checked">Проверено</p>
											</div>
										</div>
									</div>
									<div class="col-xs-2 col-sm-2 col-md-2 plan-offset">
										<div class="item-elem">
											<div class="picture">
												
											</div>
											<div class="info">
												<p class="name">1.jpg</p>
												<p class="status moderation">На модерации</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<?};?>
					</div>
				</div>
			</div>
			<div class="right_bn">
				<div class="project">
					<div class="border-style1"></div>
					<div class="project-inner">
						<h2 class="title">Проект</h2>
						<hr/>
						<p class="sub-title">Планировка</p>
						<div class="prop">
							<p>Количество комнат........<span class="value">5 комнат</span></p>
							<p>Общая площадь..............<span class="value">76 м&#178;</span></p>
							<p>Жилая площадь..............<span class="value">66 м&#178;</span></p>
						</div>
						<div class="list-selected">
							<ul>
								<li>
									<div class="picture">
										<img src="/upload/resize_cache/iblock/744/280_279_1/744906c174215d3eae158bddf2cbfb6e.jpg">
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<hr/>
						<div class="step">
							<a href="javascript:void(0);" class="btn">ДАЛЕЕ</a><a class="style4 cont" href="">К вариантам<br/>
							планировок</a>
						</div>
						<!--<p>Загрузите скан-копию планировки, 
						чтобы продолжить!
						<br/><br/>
						Если у вас нет скана,
						<a class="under-link style1" href="">вызовите бесплатного замерщика</a>
						</p>
						<hr/>
						<div class="categories">
						<a href="javascript:void(0);" class="category">ДАЛЕЕ</a><a class="i style4 cont" href="">К вариантам<br/>
						планировок</a>
						</div>
						<p class="i mess" style="text-align:center">
						Для того, чтобы продолжить пользоваться<br/>
						сервисом, пожалуйста, дождитесь проверки<br/>
						загруженных файлов!
						</p>-->
					</div>
				</div>
				<div class="help">
					<h2 class="title">Нужна помощь?</h2>
					<p style="text-align:center;">Наши специалисты помогут вам<br/> разобраться с сервисом</p>
					<span class="phone">+7 (975) 856-14-56</span>
					<span class="time_job">Работаем с 8:00 до 22:00</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
</div>