<?
	$projectData = $this->projectData;
	$starting_price = $this->starting_price;
	$layout = $this->layout;
	$url = $this->url;
	$item_save = $this->item_save;
	$nextstep = $this->nextstep;
	$nextstep_d = $this->nextstep_d;
?>

<div id="service-page">
	<div class="head">
		<div class="content-container">
			<div class="content">
				<h2 class="main-title">Создание проекта</h2>
				<div id="service_menu">
					<ul>
						<li><a class="under-link" href="/project/step1/">Выбор планировки</a></li>
						<li><a class="under-link" href="/project/step2/">Варианты планировок</a></li>
						<li><a class="under-link" href="/project/step3/">Варианты дизайна</a></li>
						<li><a class="under-link" href="/project/step4/">Состав семьи</a></li>
						<li class="selected"><a href="/project/step5/">Настройка заказа</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content service-content">
		<div class="content-container">
			<h2 class="page-title">Настройка заказа</h2>
			<div class="left_bn">		
				<div class="form-content">
					<form enctype="application/x-www-form-urlencoded" class="js-order-settings-form ordersettings formTabber" action="/service/savestep5" method="post" novalidate="novalidate">
						<input type="hidden" id="layout" value="<?=$layout?>"/>
						<div class="input-out">	
							<div class="input-row">
								<label for="price_square" class="required">Стоимость проекта за 1м&#178;</label>
								<input type="text" name="price_square" id="price_square" class="required view_n2" maxlength="100" value="500 &#8381;" placeholder="">
								<span class="js-error error-message"></span>
								<div class="slider price_square"></div>
								<p class="count left">
									<span class="b">Мало</span><br/><span>(Наша комиссия 21%)</span>
								</p>
								<p class="count center">
									<span class="b">Нормально</span><br/><span>(Наша комиссия 21%)</span>
								</p>
								<p class="count right">
									<span class="b">Самое то!</span><br/><span>(Наша комиссия 21%)</span>
								</p>
								<div id="slider-result"></div>  
								<div class="final">
									<p><span class="big">Итого: <span id="result_price"><?=$starting_price;?></span> &#8381;</span>
									<span class="brackets">&nbsp;}&nbsp;</span>
									<span class="formula">(300 &#8381; * 76 м&#178;) +  850 &#8381;(21% комиссия за пользование системы)</span></p>
								</div>
							</div>
							<div class="help_bn">
								Обратите внимание!</br>
								Чем выше цену вы ставить, тем больше шанс, что проектом заинтересуются профессионалы
							</div>
						</div>
						<div class="input-out">	
							<div class="input-row">
								<label for="comments" class="required">Ваши пожелания к будущему дизайну</label>
								<textarea name="comments" id="comments" value="" class="required" maxlength="1024" rows="10" placeholder=""></textarea>
								<span class="js-error error-message"></span>
							</div>
							<div class="help_bn">
								Обратите внимание!</br>
								Тут необходимо расписать как необходимо заполнять пожелания к дизайну
							</div>
						</div>
						<div class="input-out">
							<div class="input-row">
								<label for="comments" class="required">Прикрепите файл</label>
								<div class="upload-area js-docs-dropzone inline  dropzoneArea dz-clickable preloaderController"><div class="js-dz-text text">Перетащите файлы в эту область для их загрузки или нажмите <a href="javascript:void(0);" class="upload-link">загрузить</a></div></div>
								<p class="i file_res">Для загрузки допускаются файлы до 2Мб, форматов: jpg, png, bmp</p>
							</div>
						</div>
						<div class="input-out">	
							<div class="input-row">
								<label for="slider_time" class="required">Срок исполнения проекта</label>
								<input type="text" name="slider_time" id="slider_time" class="required view_n2" maxlength="100" value="30 дней" placeholder="">
								<span class="js-error error-message"></span>
								<div class="slider slider_time"></div>
								<p class="count left">
									<span class="b">Мало</span>
								</p>
								<p class="count center">
									<span class="b">Нормально</span>
								</p>
								<p class="count right">
									<span class="b">Самое то!</span>
								</p>
								<div id="slider-result"></div>  
							</div>
						</div>
						<input type="hidden" name="protect" value="proomer-i-am-not-bot" class="js-protect" id="protect">
						<!--<div class="step active" id="deneg_day">
							<a id="nextstep" class="js-submit btn">Перейти к оплате</a>
						</div>-->	
						<div class="step active" id="deneg_day">
							<a id="nextstep" class="js-submit btn" href="/basket">Перейти к оплате</a>
						</div>						
					</form>
				</div>
			</div>
			<div class="right_bn">
				<?= $this->partial('project/partials/right_bn.phtml', array('starting_price' => $starting_price, 'projectData' => $projectData, 'url' => $url, 'nextstep' => $nextstep, 'nextstep_d' => $nextstep_d, 'item_save' => $item_save)) ?>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$( ".price_square" ).slider({
		animate: true,
		range: "min",
		value: 50,
		min: 100,
		max: 1000,
		step: 10,
		//Получаем значение и выводим его на странице
		slide: function( event, ui ) {
		var val = $(' <span class="rur"> &#8381;<span>')
			$("#price_square").attr("value",ui.value + val.text());
			var price_cube = ui.value * $("#layout").val();
			var percent = price_cube/100 * 20;
			var price = price_cube + percent;
			$("#result_price").html(price);
			$(".right_bn .prop .price .summ").html(price);
		},
		//Обновляем скрытое поле формы, так что можно передать данные с помощью формы
		/*change: function(event, ui) { 
			$('#hidden').attr('value', ui.value);
		}*/
	});
	$(".slider_time").slider({
		animate: true,
		range: "min",
		value: 50,
		min: 1,
		max: 365,
		step: 1,
		//Получаем значение и выводим его на странице
		slide: function( event, ui ) {
			var val = ' дней';
			$("#slider_time").attr("value",ui.value + val);
		},
		//Обновляем скрытое поле формы, так что можно передать данные с помощью формы
		/*change: function(event, ui) { 
			$('#hidden').attr('value', ui.value);
		}*/
	});


</script>

