<? if (!empty($this->elementCnt)): ?>
    <div class="js-view-type view-type">
        <a class="tile active" data-value="tile"></a>
		<a class="list" data-value="list"></a>
    </div>
<? endif ?>