<?
$item = $this->item;
?>
<div class="row">
	<div class="builder">
		<div class="col-xs-2 col-sm-2 col-md-2">		
			<div class="logotip" style="background-image:url(<?=$item->PREVIEW_PICTURE?>);background-position: 50%;">
				<a class="linkItem" href="/builder/<?=$item->CODE?>"></a>
			</div>
		</div>
		<div class="body col-xs-10 col-sm-10 col-md-10">
			<h2><a href="/builder/<?=$item->CODE?>"><?=$item->NAME?></a></h2>
			<div class="meta">
			<?if(!empty($item->PROPERTY_LOCATION_VALUE)){?>
				<span class="location"><?=$item->PROPERTY_LOCATION_VALUE?></span>
			<?}?>
				<span class="obj">Количество объектов: <?=$item->COMPLEX->pageData->totalItemsCount?></span>
			</div>
			<?if(!empty($item->PREVIEW_TEXT)){?>
			<div class="disc">
				<?=$item->PREVIEW_TEXT?> 
			</div>
			<?}?>
			<div class="list-complex">
				<div class="row">
				<?foreach($item->COMPLEX->items as $complex){?>
					<div class="col-xs-4 col-sm-4 col-md-4 offset">
						<div class="complex">
							<div class="picture" style="background-image:url(<?=$complex->IMG?>);background-size: 100% 180px;
    background-repeat: no-repeat;">
								<a class="linkItem" href="/complex/<?=$complex->CODE?>"></a>
							</div>
							<div class="name">
								<a href="/complex/<?=$complex->CODE?>"><?=$complex->NAME?></a>
							</div>
						</div>
					</div>
				<?}?>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>			
</div>