<?
/**
 * @var $item Sibirix_Model_Complex_Row
 */
$item = $this->item;

if (!empty($item->DETAIL_PICTURE)) {
    $image = Resizer::resizeImage($item->DETAIL_PICTURE, "COMPLEX_LIST");
} else {
    $image = Resizer::resizeImage(Settings::getOptionFile('defaultComplexImage'), 'COMPLEX_LIST');
}
?>
<div class="complex_outer">
	<div class="item complex-item">
		<div class="image" style="position:relative;background-image:url('<?= $image ?>');">
			<a style="width:100%;height:100%;position:absolute;left:0;top:0;z-index:10;" href="/complex/<?=$item->CODE?>"></a>
		</div>
		<div class="content">
			<a href="/complex/<?=$item->CODE?>" class="title"><?= $item->NAME ?></a>
			<div class="description"><?= $item->PREVIEW_TEXT ?></div>
			<? if (!empty($item->PROPERTY_CONSTRUCTOR_VALUE)): ?>
				<div class="builder">
					<div class="info">
						<div class="label">Застройщик:</div>
						<a href="javascript:void(0);" class="name under-link"><?= $item->PROPERTY_CONSTRUCTOR_VALUE ?></a>
					</div>
				</div>
			<? endif ?>
		</div>
	</div>
</div>