<?
	$user = $this->user;
?>
	<div class="hd_provider">
		<div class="content-container">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<div class="logo_company">
						<img src="<?=$user['WORK_LOGO']?>" alt=""/>
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9">
					<div class="inf_company">
						<h2 class="name_company"><?=$user['WORK_COMPANY']?></h2>
						<div class="prop prop_cat col-xs-12 col-sm-12 col-md-12">
							<p class="name_prop">Категории товаров</p>
							<?foreach($user['UF_SECTIONS_GOODS'] as $section){?>
								<span class="category"><span class="val"><?=$section?></span></span>
							<?}?>
						</div>					
						<div class="prop col-xs-4 col-sm-4 col-md-4">
							<p class="name_prop">Адрес</p>
							<p class="val"><?=$user['WORK_CITY'] .', '.$user['WORK_STREET']?></p>
						</div>
						<div class="prop col-xs-4 col-sm-4 col-md-4">
							<p class="name_prop">Сайт</p>
							<p class="val"><?=$user['WORK_WWW']?></p>
						</div>
						<div class="prop col-xs-4 col-sm-4 col-md-4">
							<p class="name_prop">Телефон</p>
							<p class="val"><?=$user['WORK_PHONE']?></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap-profile-menu">
			<?= EZendManager::profileMenu() ?>
		</div>
	</div>