<script src="/local/js/libs/jquery.js"></script>
<script>
$.ajax({
   type: "POST",
   url: "/bitrix/tools/sale_ps_result.php?orderNumber=187&orderSumAmount=55400.00&cdd_exp_date=1218&shopArticleId=351128&cms_name=1C-Bitrix&paymentPayerCode=4100322062290&cdd_rrn=&external_id=deposit&paymentType=AC&requestDatetime=2016-08-26T05%3A23%3A13.452%2B03%3A00&depositNumber=lD0xlVfa8hVlARRpB1M8RRsp5joZ.001f.201608&nst_eplPayment=true&cps_user_country_code=PL&orderCreatedDatetime=2016-08-26T05%3A23%3A13.097%2B03%3A00&sk=u4d5fecafdd39735400a0f87ba47f4840&action=PaymentFail&shopId=65936&scid=539886&rebillingOn=false&orderSumBankPaycash=1003&cps_region_id=64&orderSumCurrencyPaycash=10643&merchant_order_id=186_260816052258_00000_65936&unilabel=1f51bbc1-0009-5000-8000-0000138858c4&cdd_pan_mask=444444%7C4448&customerNumber=186&yandexPaymentId=2570057204892&invoiceId=2000000863366",
   success: function(msg){
    console.log(msg)
   }
 });
</script>