<?
	$hint = $this->hint;
	$design = $this->design;
	$class = '';
	if($hint){$class = 'hint';}
?>

<div class="col-xs-3 col-sm-3 col-md-3 design-item plan-offset">		
	<div class="design <?=$class?> js-hint" data-id="1711">
		<?if($hint){?>
		<div class="block-hint">
			<div class="mouse"></div>
			<p>Проведите<br/>указателем<br/>мыши</p>
		</div>
		<?};?>
		<div class="picture">
			<?if(!empty($design->GALLERY3D)){
				$preview_360_one = $design->GALLERY3D[0];
				unset($design->GALLERY3D[0]);
				$preview_360_json = json_encode($design->GALLERY3D, JSON_HEX_QUOT);
			?>
			<div class="preview360-gallery" data-json='<?=$preview_360_json;?>'>
				<img src="<?php echo $preview_360_one; ?>" class="preview360">
			</div>
			<?}
			else{?>
				<img src="<?=$design->DETAIL_PICTURE?>"/>
			<?}?>
		</div>
		
		
		
		
		
			
		
		
		
		
		
		
		
		
		
		
		
		<div class="name"><?=$design->NAME?></div>
	</div>				
</div>