<?
	$user = $this->user;
	$image = $this->image;
	$type = $this->type;
	$ARR_COUNTER = $this->ARR_COUNTER;
	$HL_SECTION_GOODS = $this->HL_SECTION_GOODS;
?>


	<!--<h1 class="developer_status">Страница находится в разработке. <b>Ничего не нажимайте!</b></h1>-->
    <?//= EZendManager::profileSidebar() ?>
    <div class="js-profile-content" data-type="<?= $type ?>">	
		<div class="panel">
			<div class="image-wrapper" style="display:none;">
				<form id="upload-image" action="<?= $this->url([], 'profile-upload-logo');?>" method="POST" enctype="multipart/form-data">
					<input type="file" accept="image/jpeg,image/png" class="image js-image-avatar" name="avatar">
				</form>
			</div>
		</div>
		<form enctype="application/x-www-form-urlencoded" class="js-profile-form profileForm formTabber editing" action="/profile/provider-update/" method="post" novalidate="novalidate" data-text="Ваши изменения были сохранены">
			<div class="profile-form js-form-block">
				<h2>Основные настройки</h2>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<div class="ph">
							<div class="avatar logo" style="background-image: url('<?=$image?>')">
								<?if(!$user->UF_WORK_LOGO || !$image){?>
									<span><?=$abr?></span>
								<?}?>
							</div>
							
							<div class="panel">
								<?if(!empty($user->UF_WORK_LOGO)){?>
									<a class="js-upload-logo button_change_avatar">Заменить логотип</a>
								<?}else{?>
									<a class="js-upload-logo button_change_avatar">Добавить логотип</a>
								<?}?>
							</div>
															
						</div>
					</div>
				</div>
			
				<div class="row input-row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<input type="hidden" name="userId" value="83" id="userId">		
						<div class="wrap-data">
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Компания</label></div>
								<div class="col-xs-10 col-sm-10 col-md-10">
									<input type="text" class="required" name="kompany" value="<?=$user->WORK_COMPANY?>">
									<span class="js-error error-message"></span>
								</div>
							</div>
						</div>		
						<div class="wrap-data">
							<div class="row">
								<div class="col-xs-8 col-sm-8 col-md-8">
									<div class="row input-row">
										<div class="col-xs-3 col-sm-3 col-md-3"><label class="label-data">Расположение</label></div>
										<div class="col-xs-8 col-sm-8 col-md-8 offset_1">
											<select class="required js-select-position select2-hidden-accessible" multiple name="personal_country" aria-hidden="true">								
												<?foreach($ARR_COUNTER['reference'] as $key_counter => $counter){?>
													<option value="<?=$ARR_COUNTER['reference_id'][$key_counter]?>" <?if($user->WORK_COUNTRY == $ARR_COUNTER['reference_id'][$key_counter]){echo 'selected';}?>><?=$counter?></option>
												<?}?>
											</select>
											<span class="js-error error-message"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="row input-row">
										<input type="text" class="required" name="city" value="<?=$user->WORK_CITY?>">
										<span class="js-error error-message"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap-data">
							<div class="row input-row">
								<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Мобильный телефон</label></div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<input type="text" class="personal_mobile" name="phone" value="<?=$user->WORK_PHONE?>">
									<span class="js-error error-message"></span>
								</div>
							</div>
						</div>
						<div class="wrap-data">
							<div class="row input-row">
								<div class="col-xs-2 col-sm-2 col-md-2"><label for="designDescription" class="label-data required">Сайт</label></div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<input type="text" class="" name="www" value="<?=$user->WORK_WWW?>">
									<span class="js-error error-message"></span>
								</div>
							</div>
						</div>
						<div class="wrap-data">
							<div class="row input-row">
								<div class="col-xs-2 col-sm-2 col-md-2"><label class="label-data">Категории товаров</label></div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<select class="js-example-tags form-control select2-hidden-accessible js-example-theme-multiple" name="sections[]" multiple="" tabindex="-1" aria-hidden="true">					
									<?foreach($HL_SECTION_GOODS as $key_style=>$UF_SECTIONS_GOODS){?>
										<option data-type="<?=$UF_SECTIONS_GOODS[0]?>" value="<?=$key_style?>"<?foreach($user->UF_SECTIONS_GOODS as $key_user_style=>$value_user_style){if($key_style == $value_user_style){echo 'selected';};}?>><?=$UF_SECTIONS_GOODS[0]?></option>
									<?}?>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="/profile/design" id="save-your-life" class="btn blue waves-effect js-save-your-life">Сохранить</a>
		</form>
	</div>		