<?
/**
 * @var $item Sibirix_Model_Design_Row
 */
$item = $this->item;

$profile = $this->profile;

if($item->CODE){
	$itemId = $item->CODE;
}
else{
	$itemId = $item->ID;
};
?>
		
<div class="goods-item-discount">
	<div class="image" style="background:url(<?if($item->PREVIEW_PICTURE){echo $item->PREVIEW_PICTURE;}else{echo '/local/images/proomer.png';}?>) no-repeat;background-size:100%;">
		<a href="/shop/<?=($item->CATEGORY->CODE)?$item->CATEGORY->CODE:$item->CATEGORY->ID?>/<?=$itemId?>"></a>
	</div>
	<div class="content">
		<div class="top">
			<a href="/shop/<?=($item->CATEGORY->CODE)?$item->CATEGORY->CODE:$item->CATEGORY->ID?>/<?=$itemId?>" class="title"><?=$item->NAME?></a>
		</div>
		<div class="bottom">
<?			if($item->PRICES['PRICE'] > 0){
				if(isset($item->DISCOUNT)){
					$discountClass = 'old_price';
					$new_price = '<span class="new_price">'.number_format($item->DISCOUNT['NEW_PRICE_VALUE']).' <span class="ruble"></span></span>';
				}
				else{$discountClass = '';$new_price = '';}
				echo $new_price;
				echo '<span class="price '.$discountClass.'">'.number_format($item->PRICES['PRICE']) .' <span class="ruble2"></span></span>';
			}
			else{
				echo ' На заказ';
			};
?>			
		</div>
	</div>
</div>	
